.correlationsOrgData-wrap {
	.correlation-details {
		// margin-bottom: 20px;
		// &:last-child {
		// 	margin-bottom: 0;
		// }
		display: none;;
		padding: 0;
		&.active {
			display: block;
		}
		thead, tbody {
			display: block;
		}
		thead {
			tr {
				display: block;
				padding: 14px 18px;
				@include clearfix;
				th {
					display: block;
					width: 50%;
					float: left;
					padding: 0;
					min-height: 1px;
					&.score {
						//width: auto;
						text-align: right;
					}

					&.with-tooltip {
						.tooltip {
							font-size: 14px;
							display: none;
						}
						&:hover {
							.title-tooltip {
								display: none;
							}
							.tooltip {
								display: inline-block;
							}
							// #sorttable_sortrevind,
							// #sorttable_sortfwdind {
							// 	display: none;
							// }
						}
					}

				}
			}
		}
		tbody {

			max-height: 69vh;
			overflow: auto;
			&::-webkit-scrollbar {
				width: 5px;
				&-track {
					background: #ddd;
				}
				&-thumb {
					background: #666;
				}
			}
			> tr {
				display: block;
				width: 100%;
				position: relative;
				box-sizing: border-box;
				@include clearfix;
				&.no-records, &.data-loading {
					td {
						text-align: center;
						cursor: default;
						width: 100%;
						float: none;
					}
				}
				&.data-loading {
					height: 100%;
		      td {
		        position: relative;
		        height: 100%;
		        .loading-graph {
		          margin: 0;
		          transform: translate(-50%, -50%);
		        }
		      }
		    }
				td {
					display: block;
					width: 80%;
					float: left;
					white-space: nowrap;
				  overflow: hidden;
				  text-overflow: ellipsis;
					box-sizing: border-box;
					&.score {
						width: 20%;
						text-align: right;
					}
				}

				&.corr-org {
					transition: all 320ms ease;
					cursor: pointer;
					padding: 16px 18px;
					td {
						padding: 0;
						cursor: pointer;
						transition: all 320ms ease;
					}

					&:hover {
						background: #f9f9f9;
					}

					&.active {
						&, &:hover, &:focus {
							cursor: default;
							background: #FFFFC0;
							td {
								cursor: default;
								color: #232323;
							}
						}
					}

				}
			}

		}

	}
}

.correlationsPplData {
	tbody {
		tr {
			td {
				span {
					&.person {
						&-name {
							display: block;
						}
						&-email, &-phone {
							display: block;
							font-size: 85%;
							line-height: 1.6;
						}
					}
				}
			}
		}
	}
}

.table-title {
	border-bottom: 1px solid #f4f4f4;
}

.correlation-org-details {
	padding: 28px;
	background: #e9e9e9;
}

.correlation-more-details-table {
	margin-bottom: 20px;
	min-height: 0;
	&:last-child {
		margin-bottom: 0;
	}
	tr {
		td, th {
			&.score {
				text-align: right;
			}
		}
		td {
			padding: 9px 18px;
			&.score {
				padding-right: 18px;
				width: 10px;
			}
			&.icon-col {
				padding: 10px 2px 10px 18px;
			}
		}
	}

	.icon {
		&-gm {
			background-image: url(../img/icons/mail.png);
		}
		&-cl {
			background-image: url(../img/icons/cal.png);
		}
		&-ch {
			background-image: url(../img/icons/chat.png);
		}
		&-dc {
			background-image: url(../img/icons/logo_drive_64px.png);
		}
		&-tb {
			background-image: url(../img/icons/conf_call-01.svg);
		}
		&-bs {
			background-image: url(../img/icons/calls-01.svg);
		}
		&-zc {
			background-image: url(../img/icons/crm_conversions-01.svg);
		}
		&-ze {
			background-image: url(../img/icons/crm_events-01.svg);
		}
		&-zt {
			background-image: url(../img/icons/crm_tasks-01.svg);
		}
		&-zl {
			background-image: url(../img/icons/crm_leads-01.svg);
		}
		&-zi {
			background-image: url(../img/icons/crm_invoice-01.svg);
		}
		&-za {
			background-image: url(../img/icons/crm-01.svg);
		}
		&-rcc {
			background-image: url(../img/icons/calls-01.svg);
		}
		&-rcs {
			background-image: url(../img/icons/sms.svg);
		}
		&-chm {
			background-image: url(../img/icons/chatter_msg.svg);
		}
		&-cha {
			background-image: url(../img/icons/chatter_act.svg);
		}
	}
}

.correlations-toggles {
	background: #FFF;
	@include clearfix;
	a {
		display: block;
		float: left;
		width: 50%;
		text-align: center;
		text-decoration: none;
		color: #232323;
		font-weight: bold;
		padding: 18px 18px;
		box-sizing: border-box;
		border: 1px solid #f4f4f4;
		background: #f4f4f4;
		transition: all 300ms ease;
		&:hover {
			background: #f9f9f9;
		}
		&.active {
			&, &:hover, &:focus, &:active {
				cursor: default;
				background: #FFF;
			}
		}
	}
}

.correlation-instances-table {
	table-layout: fixed;
	min-height: 0;

	tr {
		td, th {
			&:nth-child(1) {
				width: 20%;
			}
			&:nth-child(2) {
				width: 5%;
			}
			&:nth-child(3) {
				width: 55%;
			}
			&:nth-child(4) {
				width: 20%;
			}

			&.icon-col {
				position: relative;
				text-align: center;
				.icon {
					float: none;
					margin: 0 auto;
				}
				.icon-x {
					position: absolute;
					font-size: 10px;
					background: rgba(#FFF, 0.9);
					box-shadow: -1px 1px 1px 0 rgba(#CCC, 0.7);
					top: 5px;
					right: 5px;
					width: 14px;
					height: 14px;
					padding: 1px;
					border-radius: 2px;
				}
			}
		}
	}
}
