.corrWidget {

  .card-table {
    font-size: 14px;
    box-shadow: none;
    border-left: none;
    border-right: none;

    .corr-widget-row {
      cursor: pointer;
      transition: all 300ms ease;
      &:hover {
        background-color: #f2f2f2;
      }
    }

    .data-loading {
      td {
        position: relative;
        height: 46px;
        .loading-graph {
          margin: 0;
          transform: translate(-50%, -50%);
        }
      }
    }

    th, td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:nth-child(1) {
        width: 65%;
      }
      &:nth-child(2) {
        width: 35%;
      }
    }
    th {
      padding: 10px 20px;
      &:nth-child(2) {
        text-align: right;
      }
    }
    td {
      padding: 10px 20px;
      &:nth-child(2) {
        text-align: right;
        font-weight: bold;
      }
      span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.6;
        &.person-email, &.person-phone {
          font-size: 90%;
        }
      }


    }
  }

}
