.emp-header {
	// display: none;
	&.one-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		overflow: visible;
		> .col {
			float: none;
			display: flex;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&-buttons {
		position: absolute;
		top: -44px;
		right: 0.5%;
		width: 40.67%;
		text-align: right;
	}

	&-card {
		padding: 12px;
		min-height: 0;
	}

	.emp-details {
		position: relative;
		@include clearfix;

		&-left {
			float: left;
		}

		&-right {
			float: left;
			width: calc(100% - 76px);
			padding-left: 12px;

			a {
				text-decoration: none;
				color: $blue;

				&:hover {
					color: darken($blue, 10);
				}
			}

			.role {
				font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 14px;
				color: rgba(#232323, 0.8);
			}

			.user-name {
				font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 20px;
				margin-top: 4px;
			}

			.manager {
				margin-top: 12px;
				color: rgba(#232323, 0.8);

				a {
					font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
				}
			}
		}

		.circle {
			height: 60px;
			width: 60px;
			background-size: contain;
			border-radius: 100%;

			span {
				display: block;
				vertical-align: middle;
				text-align: center;
				width: 100%;
				line-height: 57px;
				font-weight: bold;
				color: white;
				font-size: 18px;
				position: relative;
				text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
			}
		}

	}

	.emp-status-details {
		> div {
			margin-bottom: 12px;
			&:first-child {
				margin-top: 3px;
			}
			&:last-child {
				margin-bottom: 3px;
			}
			> span {
				font-size: 24px;
			}
		}

		.score {
			@include textcoloring();
		}

		.delta {
			@include textcoloring();

			&.decrease,
			&.increase {
				&:before {
					display: inline-block;
					margin-right: 5px;
					font: normal normal normal 14px/1 FontAwesome;
					font-size: 14px;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}

			&.decrease {
				&:before {
					content: "\f0d7";
				}
			}

			&.increase {
				&:before {
					content: "\f0d8";
				}
			}
		}
	}
}

.employee-tabs {
	.card-tabs-nav {
		margin-left: 1.5%;
		margin-right: 1.5%;
	}

	.card-tabs-nav {
		margin-bottom: 0;
		border-bottom-width: 6px;
		border-bottom-color: #FFF;
		a {
			&.active {
				color: #222;
				background: #FFF;
				border: 1px solid #fff;
				border-bottom-color: transparent;
			}
			&:hover {
				border-bottom-color: #FFF;
			}
		}
	}

	.card-tabs-body {
		padding: 0;
	}
}

.emp-correlation-instances-table {
	table-layout: fixed;
	min-height: 0;
	tr {
		td, th {
			&:nth-child(1) {
				width: 5%;
			}
			&:nth-child(2) {
				width: 75%;
			}
			&:nth-child(4) {
				width: 20%;
			}

			&.icon-col {
				position: relative;
				text-align: center;
				.icon {
					float: none;
					margin: 0 auto;
				}
				.icon-x {
					position: absolute;
					font-size: 10px;
					background: rgba(#FFF, 0.9);
					box-shadow: -1px 1px 1px 0 rgba(#CCC, 0.7);
					top: 5px;
					right: 5px;
					width: 14px;
					height: 14px;
					padding: 1px;
					border-radius: 2px;
				}
			}
		}

		&.no-records {
			td:nth-child(1) {
				width: 100%;
			}
		}
	}
}
