.employee-list {
  li {
    a {
      box-shadow: none;

      &:hover {
        border-left-width: 6px !important;
        box-shadow: none;
        padding-left: 20px;
      }
    }
  }
}

table.employeedata {
  table-layout: fixed;

  tbody,
  thead {
    tr {
      td,
      th {
        &,
        * {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:nth-child(1) {
          // employee name
          width: 16%;
        }

        &:nth-child(2) {
          // user role
          width: 24%;
          min-width: 170px;
        }

        &:nth-child(3) {
          // manager name
          width: 12%;
        }

        &:nth-child(4) {
          // visibility
          width: 10%;
        }

        &:nth-child(5) {
          // report email
          width: 18%;
        }

        &:nth-child(6) {
          // report frequency
          width: 16%;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        &:first-child {
          line-height: 17px;
          box-shadow: none;
        }

        #empSettings & {
          padding: 0 18px;

          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            padding: 0;

            &.has-gutter {
              padding: 0 18px;
            }
          }

          input[type="email"] {
            display: block;
            width: 100%;
          }

          select {
            display: block;
            width: 100%;
            margin: -1px 0;
          }
        }
      }

      &:hover {
        background-color: rgba(229, 235, 242, 0.6);

        td {
          color: #101010;

          &:first-child {
            border-left-width: 6px !important;
            box-shadow: none;
            padding-left: 14px;
          }
        }

        p {
          color: #101010;
        }
      }

      &.no-records {
        td {
          display: table-cell;

          i {
            text-align: center;
            padding: 10px;
            display: block;
          }
        }

        &:hover {
          td {
            &:first-child {
              padding-left: 18px;
            }
          }
        }
      }
    }
  }

  &.employeedata--no-roles {
    tr {
      td,
      th {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

#confCallSettings table.employeedata tbody tr,
#crmSettings table.employeedata tbody tr {
  cursor: default;
}

.product-settings {
  .inner-header {
    position: relative;
    background: rgba(#FFF,0.24);
    overflow: hidden;

    &:before {
      content: ' ';
      position: absolute;
      top: -4px;
      left: 0;
      width: 100%;
      height: 1px;
      box-shadow: 0 0 10px 0 #163954;
    }
  }

  ul.tabs li.tab-items {
    font-size: 15px;
  }
}

.fd-wrap {
  margin-top: -9px;
}

.full-day-text-wrap {}

.full-day-text {
  width: 68%;
  margin-left: 30%;

  .checkbox,
  label {
    display: inline-block;
    vertical-align: middle;
  }

  label {
    font-size: 90%;
  }

  .checkbox {
    margin: 0;
    height: auto;
    width: auto;
  }
}

.creds-card {
  padding: 0;

  .card-heading {
    margin: 0;
    padding: 20px 18px;
    border-bottom: 1px solid rgba(35, 35, 35, 0.2);

    &--select {
      select,
      span {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        margin-right: 6px;
      }

      select {
        font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        border: 1px solid #E0E0E0;
      }
    }
  }

  .addNewRow {
    padding: 8px 18px;
  }

  button.addNewRowBtn {
    font-size: 14px;
    box-sizing: border-box;
    padding: 7px 0 !important;
    border: none;
    margin: 0;
    cursor: pointer;

    span {
      display: inline-block;
      vertical-align: middle;
      font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    i.fa {
      display: inline-block;
      vertical-align: middle;
      color: #1e86d9;
      margin-right: 4px;
    }
  }

  .buttons {
    border-top: 1px solid rgba(148, 148, 148, 0.2);
    padding: 10px 18px;
  }
}

.creds-table {
  table-layout: fixed;
  width: 100%;

  .ac-link {
    text-decoration: none;
    color: inherit;
    font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 95%;
    margin: 0 7px 0 0;
    padding: 0 !important;
    border: none;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &.edit {
      color: darken(#1e86d9, 5%);

      &:hover {
        color: darken(#1e86d9, 10%);
      }
    }

    &.discard {
      color: #696969;
    }

    &.delete {
      color: tomato;

      &:hover {
        color: darken(tomato, 5%);
      }
    }

    &.done {
      color: green;
    }
  }

  &.phone-systems-table {
    border: none;
    box-shadow: none;

    tr {
      td,
      th {}

      td {
        position: relative;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          padding: 0;
        }

        i.fa {
          display: none;
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translate(0, -50%);
          font-size: 14px;
          height: 22px;
          width: 22px;
          text-align: center;
          line-height: 22px;
          font-weight: 400;
          border-radius: 100%;
        }

        .td-input {
          font-family: 'Linotte-Regular', sans-serif;
          font-size: 14px;
          box-sizing: border-box;
          display: block;
          margin: 0;
          width: 100%;
          border: 1px solid #E0E0E0; //
          padding: 11px 17px;
          background-color: rgba(255, 255, 255, 0.25);
          transition: all 0.5s ease-in-out;

          &:-moz-placeholder,
          &:-ms-input-placeholder,
          &::-moz-placeholder,
          &::-webkit-input-placeholder {
            color: #FEFEFE;
          }

          &:disabled {
            border-color: transparent;
          }
        }
      }

      &.has-error {
        td {
          i.fa {
            display: inline-block;
            background: tomato;
            color: #FFF;
          }
        }
      }
    }
  }
}

.rs-wrap {
  padding: 20px 18px;
  max-width: 600px;

  .input-wrap {
    label {
      display: block;
      text-align: left;
      padding: 10px 5px 10px 0;
    }

    &.long-text {
      @include clearfix;

      .label {
        float: left;
        width: 25%;
      }

      .textbox {
        float: left;
        width: 75%;
      }
    }
  }

  .buttons {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.crm-modules {

	.module-switches {
    margin: 0 -3px;
		&_switch {
			position: relative;
			display: inline-block;
      cursor: pointer;
      margin: 0 3px;
      user-select: none;

			.text {
        position: relative;
        font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        display: block;

				padding-right: 14px;
				background: lighten(#e2e2e2, 10%);
				color: #909090;
        // box-shadow: 0px 0px 8px -4px #000;
        border: 1px solid #909090;
        line-height: 32px;
        border-radius: 3px;
        transition: all 320ms ease;

        &:before {
          content: "\f10c";
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 10px;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          padding-left: 8px;
          padding-right: 8px;
          border-right: 1px solid  #e2e2e2;
          margin-right: 8px;
          width: 10px;
          text-align: center;
        }
			}

      input {
				display: none;

        &:checked + .text {
          background: $gray;
          color: #FFF;
          border-color: $gray;
          &:before {
            content: "\f00c";
            border-right-color: #FFF;
          }
        }
			}
		}
	}

  .form-wrap {
    padding: 20px 18px;
  }

  .wrap.buttons {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 20px;
    border-top: 1px solid rgba(148, 148, 148, 0.2);
  }
}

.empSettings_users {
	tbody,
  thead {
    tr {
      td,
      th {

        padding: 10px 15px;

        &,
        * {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
        }

        &.inp-switch-col {
          padding: (37px - 24px)/2 15px;
          @include clearfix;
        }

        select,
        input[type="text"],
        input[type="email"] {
          display: block;
          width: 100%;
					margin: 0;
          border-top: none;
          border-bottom: none;
        }

        input[type="text"],
        input[type="email"] {
          padding: 10px 15px;
          font-size: 95%;
        }

        select {
          padding: 8px 15px;
        }

        &.no-gutter {
          padding: 0 0px;
          select {
            padding: 9px 15px;
						border-right: none;
          }
          input[type="text"] {

          }

          input[type="email"] {
            padding: 10.5px 15px;
          }
        }

        .inp-switch {
          padding: 0;
          margin-right: 2px;
          display: block;
          float: left;
          &:last-child {
            margin-right: 0;
          }

          span {
            position: relative;
            font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            display: block;

    				padding-right: 13px;
    				background: lighten(#e2e2e2, 10%);
    				color: #909090;
            border: 1px solid #909090;
            line-height: 22px;
            border-radius: 3px;
            transition: all 320ms ease;
            cursor: pointer;
            user-select: none;

            &:before {
              content: "\f10c";
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: 10px;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              padding-left: 7px;
              padding-right: 7px;
              width: 10px;
              text-align: center;
            }
          }

          input {
            display: none;

            &:disabled + span {
              cursor: not-allowed;
              opacity: 0.5;
            }

            &:checked + span {
              background: lighten($gray, 12%);
              color: #FFF;
              border-color: lighten($gray, 12%);
              &:before {
                content: "\f00c";
              }
            }
          }
        }

        &:nth-child(1) {
          // employee name
          width: 16%;
        }

        &:nth-child(2) {
          // user role
          width: 18%;
        }

        &:nth-child(3) {
          // manager name
          width: 18%;
        }

        &:nth-child(4) {
          // visibility
          width: 10%;
        }

        &:nth-child(5) {
          // report email
          width: 18%;
        }

        &:nth-child(6) {
          // report frequency
          width: 20%;
        }
      }

      td {
        &:nth-child(1) {
          cursor: pointer;
          user-select: none;
          border-left-width: 2px;
          border-left-style: solid;
        }
      }

			&.role- {
				&new {
					// background: rgba($blue, 0.1);
				}
			}

    }
  }

  &.table--fixed-body {
    tbody {
      max-height: calc(100vh - 320px);
			.screenshot & {
				max-height: 184px;
			}
    }

  }
}
