@import "common/fonts";
html {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Linotte-Regular', sans-serif;
    &.error-body {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.error-text {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 744px;
    margin: 0 auto;
    padding: 40px 15px 20px 15px;
    background: url(../img/error-plugs.png) no-repeat center bottom;
    background-size: contain;
    @media (min-width: 600px) {
        padding: 3.5% 40px 20px 40px;
    }
    &_title {
        margin: 0;
        color: #1e86d9;
        font-size: 60px;
        @media (min-width: 600px) {
            font-size: 130px;
        }
    }
    &_description {
        margin: 0;
        color: #777777;
        font-size: 32px;
        @media (min-width: 600px) {
             font-size: 42px;
        }
    }
}