.input-wrap {
  position: relative;
  width: auto;
  height: auto;
}

.input-wrap.floating {
  float: left;
}

.input-wrap .label {
  line-height: 38px;
  vertical-align: middle;
  font-family: "linottesemibold";
}
