@media only screen
  and (max-device-width: 480px){
    .content{
      .one-row{
        .col-1, .col-2{
          width: 32.33%;
        }
        .col-3 {
          width: 49%;
        }
        .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
          width: 99%;
        }
      }
      .mobile-hide{
        display: none;
      }
    }

}

@media only screen
  and (max-device-width: 480px)
  and (orientation: landscape) {

}
