@media only screen
  and (max-device-width: 768px) {
    .content{
      .one-row{
        .col-1{
          width: 15.66%;
        }
        .col-2{
          width: 32.33%;
        }
        .col-3, .col-4, .col-5, {
          width: 49%;
        }
        .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
          width: 99%;
        }
        .tablet-hide{
          display: none;
        }
      }
    }

}

@media only screen and (max-width: 380px) {
  .login-block {
    padding: 30px 20px;
  }

  .logo-wrapper {
    width: 220px;
    margin-bottom: 15px;
  }
}
