<!DOCTYPE html>
<html lang="en-US">
<head>
	{% include 'includes/tpl_head.html' %}
</head>
	<body>
		{% include 'admin/tpl_sidebar.html' %}
		{% include 'admin/tpl_header.html' %}
		<div class="content">
			<div class="one-row">
				<div class="col col-12">
					<h2>{% if user.id == null %}Add{% else %}Edit{% endif %} User Account</h2>
					<form method="post">
						{% csrf_token %}
						<table>
							<tr>
								<td>Full Name</td>
								<td><input name="fullname" type="text" value="{{ user.fullname }}" /></td>
							</tr>
							<tr>
								<td>Username / Email</td>
								<td><input name="username" type="text" value="{{ user.username }}" /></td>
							</tr>
							<tr>
								<td>Password</td>
								<td><input name="password" type="password" value="{{ user.password }}" /></td>
							</tr>
							<tr>
								<td>Role</td>
								<td>
									<select name="role">
										<option value="70"{% if user.role == 70 %} selected{% endif %}>Manager</option>
										<option value="80"{% if user.role == 80 %} selected{% endif %}>Administrator</option>
										<option value="-1"{% if user.role == -1 %} selected{% endif %}>Terminated</option>
									</select>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<input class="button" type="submit" value="Save" />
									<input class="button red" type="button" value="Cancel" onclick="history.back();" />
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div><!--one-row-->
		</div>
		{% include 'admin/tpl_footer.html' %}
	</body>
</html>
