<!DOCTYPE html>
<html lang="en-US">
<head>
	{% include 'admin/tpl_head.html' %}
</head>
	<body>
		{% include 'admin/tpl_sidebar.html' %}
		{% include 'admin/tpl_header.html' %}
		<div class="page-content">
			<div class="content active">
				<div class="one-row">
					<div class="col col-12">
						<form method="post">
							<input type="submit" class="button" value="Save" style="float:right" />
							{% csrf_token %}
							<h2>Averages Calculator</h2>
							<br/>
							<div style="width:calc(100vw - 313px); height:calc(100vh - 136px); overflow:scroll;">
								<ul class="avgdata"></ul>
								<!-- table class="avgdata sortable">
									<tr class="tablerow">
										<th align="left" width="300">Role</th>
									</tr>
									<tbody></tbody>
								</table -->
							<div>
						</form>
					</div>
				</div><!--one-row-->
			</div>
		</div>
		<script>
var data = '{{ avgs }}';
data = JSON .parse(atob(data));

var avgdata = q('ul.avgdata')[0];

for (var role in data.averages){
	var roleBox = elem('li', '<h2 class="card-heading">'+data.averages[role].title+'</h2>'+
						'<div class="form-wrap" style="height:151px; margin-bottom:-6px; padding-top:10px; padding-right:12px; overflow-y:scroll;"><ul class="baselines-box"></ul></div>',
						{'class': 'card-wrap col col-3'});
		for (var pcode in data.products){
			if (typeof data.calc_avgs[role] != 'undefined' && typeof data.calc_avgs[role][pcode] != 'undefined'){
				cell = new averageCell(data, role, pcode);
				roleBox.q('ul')[0].appendChild(cell.dom);
			}
		}
	avgdata.appendChild(roleBox);
}

function averageCell(data, role, pcode){
	var existingValue = data.averages[role].products[pcode].toFixed(3);
	this.dom = elem('li', '<b>'+pcode+'</b>', {'align': 'right'});
	//
	var calcAvg = data.calc_avgs[role][pcode];
	this.nVal = elem('span', '<input type="text" name="'+pcode+':'+role+':'+calcAvg[0]+'" value="'+calcAvg[1]+'" size="4" style="margin-top:-4px; height:7px;" />', {class: 'f-right'});
	this.dom.appendChild(this.nVal);
	//
	this.eVal = elem('span', existingValue, {class: 'f-right'});
	this.dom.appendChild(this.eVal);
}
		</script>
		<style>
table.avgdata input[type="text"] {
    padding: 0px !important;
    text-align: right;
    margin:0px !important;
    width: 100% !important;
}
#app{
	height:auto !important;
}
		</style>
		{% include 'admin/tpl_footer.html' %}
	</body>
</html>