<!DOCTYPE html>
<html lang="en-US">
<head>
	{% include 'admin/tpl_head.html' %}
</head>
	<body>
		{% include 'admin/tpl_sidebar.html' %}
		{% include 'admin/tpl_header.html' %}
		<div class="page-content">
			<div class="content active">
				<div class="one-row">
					<div class="card-wrap">
						<h2 class="card-heading">Domain details</h2>
						<div class="form-wrap">

							<div class="col col-6">
								<table width="100%">
									<tr>
										<td>Domain: </td>
										<td><b>{{ domain.title }}</b></td>
									</tr>
									<tr>
										<td>Time Zone: </td>
										<td>[{{ domain.cronzone }}] {{ domain.timezone }}</td>
									</tr>
									<tr>
										<td>Contact Person: </td>
										<td>{{ onboard.email }}</td>
									</tr>
{% if onboard.status < 7 %}
									<tr>
										<td>Onboarding Stage: </td>
										<td>
	{% 	if onboard.status == 0 %}
		Fly By
	{% 	elif onboard.status == 1 %}
		Install API Client
	{% 	elif onboard.status == 2 %}
		Time Settings
	{% 	elif onboard.status == 3 %}
		Select Administrators and Managers
	{% 	elif onboard.status == 4 %}
		Assign Employees to Managers
	{% 	elif onboard.status == 5 %}
		Collecting and Analyzing Data
	{% 	elif onboard.status == 6 %}
		Almost Done
	{% 	else %}
		Completed Onboarding
	{% 	endif %}
										</td>
									</tr>
									<tr>
										<td>Started On: </td>
										<td>{{ onboard.started_on }}</td>
									</tr>
{% else %}
									<tr>
										<td>Since: </td>
										<td>{{ onboard.started_on }}</td>
									</tr>
{% endif %}
								</table>
								<br/><br/>

								<table width="100%">
									<tr>
										<td>Active Managers: </td>
										<td align="right">{{ managers }}</td>
									</tr>
									<tr>
										<td>Active Employees: </td>
										<td align="right">{{ employees }}</td>
									</tr>
									<tr>
										<td>Terminated+System Accounts: </td>
										<td align="right">{{ terminated }}</td>
									</tr>
									<tr>
										<td>Users Not Activated: </td>
										<td align="right">{{ notactivated }}</td>
									</tr>
								</table>
								<br/>
								<a href="/admin/test-emails/?domain={{ domain.id }}" class="button">Test Report Emails</a>
								<a href="/admin/domain-users/?id={{ domain.id }}" class="button">List Users</a>
								<!-- a href="/admin/impersonate/?domain_id={{ domain.id }}" class="button" target="_blank">Impersonate</a -->
								<br/><br/>
							</div>

							<div class="col col-1">&nbsp;</div>

							<div class="col col-5">
								<form>
								<table width="100%">
									<tr>
										<td>Subscription Type: </td>
										<td>
											<select id="selSubscription" onchange="subscriptionChanged(this.form);">
												<option value="-1"{% if domain.subscription_type == -1 %} selected{% endif %}>Suspended</option>
												<option value="0"{% if domain.subscription_type == 0 %} selected{% endif %}>Trial</option>
												<option value="1"{% if domain.subscription_type == 1 %} selected{% endif %}>* Basic</option>
												<option value="2"{% if domain.subscription_type == 2 %} selected{% endif %}>* Business</option>
												<option value="3"{% if domain.subscription_type == 3 %} selected{% endif %}>* Enterprise</option>
												<option value="4"{% if domain.subscription_type == 4 %} selected{% endif %}>Custom</option>
											</select>
										</td>
									</tr>
									<tr>
										<td>Subscription Volume: </td>
										<td>
											<select id="selSubscriptionVol">
												<!--option value="0">Custom</option-->
												<option value="25"{% if allactivated > 25 %} disabled{% else %}{% if domain.subscription_volume == 25 %} selected{% endif %}{% endif %}>25</option>
												<option value="50"{% if allactivated > 50 %} disabled{% else %}{% if domain.subscription_volume == 50 %} selected{% endif %}{% endif %}>50</option>
												<option value="100"{% if allactivated > 100 %} disabled{% else %}{% if domain.subscription_volume == 100 %} selected{% endif %}{% endif %}>100</option>
												<option value="250"{% if allactivated > 250 %} disabled{% else %}{% if domain.subscription_volume == 250 %} selected{% endif %}{% endif %}>250</option>
												<option value="500"{% if allactivated > 500 %} disabled{% else %}{% if domain.subscription_volume == 500 %} selected{% endif %}{% endif %}>500</option>
												<option value="1000"{% if allactivated > 1000 %} disabled{% else %}{% if domain.subscription_volume == 1000 %} selected{% endif %}{% endif %}>1000</option>
												<option value="Infinity"{% if domain.subscription_volume == None %} selected{% endif %}>Unlimited</option>
											</select>
										</td>
									</tr>
									<tr>
										<td>CRM Modules: </td>
										<td>
											<select id="selCRMProcess">
												<option value="0"{% if domain.crm_enabled == 0 %} selected{% endif %}>No</option>
												<option value="1"{% if domain.crm_enabled == 1 %} selected{% endif %}>Enabled</option>
											</select>
										</td>
									</tr>
									<tr>
										<td>Telco Modules: </td>
										<td>
											<select id="selTelcoEnabled">
												<option value="0"{% if domain.telco_enabled == 0 %} selected{% endif %}>No</option>
												<option value="1"{% if domain.telco_enabled == 1 %} selected{% endif %}>Enabled</option>
											</select>
										</td>
									</tr>
									<tr>
										<td>NLP Processing: </td>
										<td>
											<select id="selNLPProcess">
												<option value="0"{% if domain.nlp_enabled == 0 %} selected{% endif %}>No</option>
												<option value="1"{% if domain.nlp_enabled == 1 %} selected{% endif %}>Enabled</option>
											</select>
										</td>
									</tr>
									<tr>
										<td>Organization Baseline: </td>
										<td>
											<select id="selOrgBaselineEnabled">
												<option value="0"{% if domain.orgbaseline_enabled == 0 %} selected{% endif %}>No</option>
												<option value="1"{% if domain.orgbaseline_enabled == 1 %} selected{% endif %}>Enabled</option>
											</select>
										</td>
									</tr>
								</table>
								<br/>
								<input type="button" onclick="saveSettings();" class="button" value="Save Settings" />
								</form>
							</div>

						</div>
					</div>
				</div><!--one-row-->
				<script>
					function subscriptionChanged(form){
						if (form.selSubscription.value == -1){	//	Suspended
							form.selNLPProcess.value = 0;
							form.selCRMProcess.value = 0;
							form.selTelcoEnabled.value = 0;
							form.selOrgBaselineEnabled.value = 0;
						}
						else if (form.selSubscription.value == 0){	//	Trial
							form.selNLPProcess.value = 0;
							form.selCRMProcess.value = 0;
							form.selTelcoEnabled.value = 0;
							form.selOrgBaselineEnabled.value = 0;
						}
						else if (form.selSubscription.value == 1){	//	* Basic
							form.selNLPProcess.value = 0;
							form.selCRMProcess.value = 1;
							form.selTelcoEnabled.value = 1;
							form.selOrgBaselineEnabled.value = 0;
						}
						else if (form.selSubscription.value == 2){	//	* Business
							form.selNLPProcess.value = 1;
							form.selCRMProcess.value = 1;
							form.selTelcoEnabled.value = 1;
							form.selOrgBaselineEnabled.value = 0;
						}
						else if (form.selSubscription.value == 3){	//	* Enterprise
							form.selNLPProcess.value = 1;
							form.selCRMProcess.value = 1;
							form.selTelcoEnabled.value = 1;
							form.selOrgBaselineEnabled.value = 1;
						}
						else if (form.selSubscription.value == 4){	//	Custom
							form.selNLPProcess.value = 1;
							form.selCRMProcess.value = 1;
							form.selTelcoEnabled.value = 1;
							form.selOrgBaselineEnabled.value = 1;
						}
					}
					function saveSettings(){
						document.location='/admin/domain-details/?id={{ domain.id }}'+
								'&setsubscription='+q('#selSubscription')[0].value+
								'&setsubscriptionvol='+q('#selSubscriptionVol')[0].value+
								'&setnlpprocess='+q('#selNLPProcess')[0].value+
								'&setcrmmoduless='+q('#selCRMProcess')[0].value+
								'&settelcoenabled='+q('#selTelcoEnabled')[0].value+
								'&setorgbaselineenabled='+q('#selOrgBaselineEnabled')[0].value;
					}
				</script>
				<!--div class="one-row">
					<div class="col col-12">
						<div class="card-wrap">
							<h2 class="card-heading">Account History</h2>
							<div class="form-wrap">
								Under Construction
							</div>
						</div>
					</div>
				</div>
				<!--one-row-->
			</div>
		</div>
		{% include 'admin/tpl_footer.html' %}
	</body>
</html>
