<!DOCTYPE html>
<html lang="en-US">
<head>
	{% include 'admin/tpl_head.html' %}
</head>
	<body>
		{% include 'admin/tpl_sidebar.html' %}
		{% include 'admin/tpl_header.html' %}
		<div class="page-content">
			<div class="content active">
				<div class="one-row">
					<div class="col col-12">
						<h2>Users on {{domain.title}}</h2>
						<br/>
						<table class="employeedata sortable" style="width: 100%">
							<tr class="tablerow">
								<th align="left">Picture</th>
								<th align="left">User Name</th>
								<th align="left">Suspended</th>
								<th style="width:120px;">Email</th>
								<!-- th style="width:80px;">Impersonate</th -->
							</tr>
{% for user in users %}
							<tr class="tablerow" data-id="46" data-role="1">
								<td><img src="{{ user.thumbnailPhotoUrl }}" style="width:32px; margin:-9px 0px -13px -17px;" /></td>
								<td>{{ user.name.fullName }}</td>
								<td>{% if user.suspended %}suspended{% endif %}</td>
								<td>{{ user.primaryEmail }}</td>
								<!-- td><a href="/admin/impersonate/?employee_id={{ user.id }}" target="_blank">Impersonate</a></td -->
							</tr>
{% endfor %}
						</table>
					</div>
				</div><!--one-row-->
			</div>
		</div>
		{% include 'admin/tpl_footer.html' %}
	</body>
</html>
