<!DOCTYPE html>
<html lang="en-US">
<head>
	{% include 'admin/tpl_head.html' %}
</head>
	<body>
		{% include 'admin/tpl_sidebar.html' %}
		{% include 'admin/tpl_header.html' %}
		<div class="page-content">
			<div class="content active">
				<div class="one-row">
					<div class="col col-12">
						<h2>Employee day score calculation break-down</h2>
						<table>
							<tr>
								<th>Product</th>
								<th>Baseline (Ap)</th>
								<th>Activities</th>
								<th>Product Score (Sp)</th>
								<th>Weight (W)</th>
								<th>Sp * W</th>
								<th>Prodoscore</th>
							</tr>
{% for prod, stat in data.items %}
							<tr>
								<td>{{ prod }}</td>
								<td>{{ stat.baseline }}</td>
								<td>{{ stat.score }}</td>
								<td>{{ stat.Sp }}</td>
								<td>{{ stat.weight }}</td>
								<td>{{ stat.WSp }}</td>
								<td></td>
							</tr>
{% endfor %}
							<tr>
								<td><b>Total</b></td>
								<td></td>
								<td></td>
								<td></td>
								<td><b>{{ weightTotal }}</b></td>
								<td><b>{{ wspTotal }}</b></td>
								<td><b>{{ Prodoscore }}</b></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		{% include 'admin/tpl_footer.html' %}
	</body>
</html>