<!DOCTYPE html>
<html lang="en-US">
<head>
	{% include 'admin/tpl_head.html' %}
</head>
	<body>
		{% include 'admin/tpl_sidebar.html' %}
		{% include 'admin/tpl_header.html' %}
		<div class="page-content">
			<div class="content active">
				<div class="one-row">
					<div class="col col-12">
						<h2>Registered Domains ({{ domains.count }})</h2>
						<br/>
						<a class="button small" href="{{ base_url }}/admin/?page=*">All</a>
{% for page in pages %}
						<a class="button small" href="{{ base_url }}/admin/?page={{ page.firstl }}">{{ page.firstl | title }} <small>[{{ page.count }}]</small></a>
{% endfor %}
						<br/><br/>
						<table class="employeedata sortable" style="width: 100%">
							<tr class="tablerow">
								<th style="width:25px;" align="right">ID</th>
								<th align="left">Domain Name</th>
								<th style="width:64px;">Subscription</th>
								<th style="width:40px;">Volume</th>
								<th style="width:35px;">NLP</th>
								<th style="width:35px;">CRM</th>
								<th style="width:35px;">Telco</th>
								<th style="width:130px;">Last Login (GMT)</th>
								<th style="width:130px;">Time Zone</th>
								<!-- th style="width:80px;" class="sorttable_nosort">Actions</th -->
							</tr>
{% for domain in domains %}
							<tr class="tablerow" data-id="46" data-role="1">
								<td align="right">{{ domain.id }}</td>
								<td>
									<a href="{{ base_url }}/admin/domain-details/?id={{ domain.id }}">
										{{ domain.title }}
									</a><!--p class="domain-name"></p-->
								</td>


{% if domain.subscription_type == -1 %}
								<td>Suspended</td>
{% elif domain.subscription_type == 0 %}
								<td>Trial</td>
{% elif domain.subscription_type == 1 %}
								<td>* Basic</td>
{% elif domain.subscription_type == 2 %}
								<td>* Business</td>
{% elif domain.subscription_type == 3 %}
								<td>* Enterprise</td>
{% elif domain.subscription_type == 4 %}
								<td>Custom</td>
{% endif %}


								<td>{{ domain.subscription_volume }}</td>


{% if domain.nlp_enabled == 1 %}
								<td>Enabled</td>
{% else %}
								<td>No</td>
{% endif %}


{% if domain.crm_enabled == 1 %}
								<td>Enabled</td>
{% else %}
								<td>No</td>
{% endif %}


{% if domain.telco_enabled == 1 %}
								<td>Enabled</td>
{% else %}
								<td>No</td>
{% endif %}


{% if domain.last_login < epoch %}
								<td>Never</td>
{% else %}
								<td>{{ domain.last_login }}</td>
{% endif %}


								<td>[{{ domain.cronzone }}] {{ domain.timezone }}</td>
								<!-- td><a href="{{ base_url }}/admin/impersonate/?domain_id={{ domain.id }}" target="_blank">Impersonate</a></td -->
							</tr>
{% endfor %}
						</table>
					</div>
				</div><!--one-row-->
			</div>
		</div>
<style>
@media screen and (max-width:1200px){
	table.employeedata td:nth-child(3), table.employeedata th:nth-child(3),
	table.employeedata td:nth-child(4), table.employeedata th:nth-child(4),
	table.employeedata td:nth-child(5), table.employeedata th:nth-child(5),
	table.employeedata td:nth-child(6), table.employeedata th:nth-child(6){
		display:none;
	}
}
@media screen and (max-width:600px){
	table.employeedata td:nth-child(7), table.employeedata th:nth-child(7),
	table.employeedata td:nth-child(8), table.employeedata th:nth-child(8){
		display:none;
	}
}
</style>
		{% include 'admin/tpl_footer.html' %}
	</body>
</html>
