{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	{% include 'admin/tpl_head.html' %}
	<script type="text/javascript" src="{% static 'js/json2html.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
</head>
	<body>
		{% include 'admin/tpl_sidebar.html' %}
		{% include 'admin/tpl_header.html' %}
		<header class="header cf">
			<div class="header-left">
				<form id="date-form">
					<div class="select-wrapper">
						<select id="date-filter">
							<option value="domain">Domain Daily DataSet</option>
							<option value="score">Employee Day Score</option>
							<option value="colleagues">Employee List for Domain</option>
							<option value="details">Stat Details</option>
						</select>
					</div>
					<div class="date-picker">
						<span class="label">Select date</span>
						<input type="date" id="date" name="date" class="text-filed" />
					</div>
				</form>
			</div>
			<div class="right-holder">
				<div class="user-name-wrap">
					<p class="user-name">{{ user.fullname }}</p>
				</div>
				<a class="logout" href="{% url 'sign-out' %}">Log Out</a>
			</div>
		</header>
		<div class="page-content">
			<div class="content active">
				<div class="one-row">
					<div class="col col-12">
						<div class="card-wrap">
							<h2 class="card-heading">Search Memcached</h2>
							<div class="form-wrap">
								<form>
									<input type="hidden" id="keytype" name="keytype" value="{{ keytype }}" class="text-filed" />
									<table style="width:550px;">
										<tr>
											<td>Date short</td>
											<td><input type="text" id="date-short" name="shortdate" value="{{ shortdate }}" class="text-filed" /></td>
										</tr>
										<tr>
											<td>Identifier</td>
											<td><input type="text"  id="identifier" name="identifier" value="{{ identifier }}" class="text-filed" /></td>
										</tr>
										<tr>
											<td>Cache key</td>
											<td><input type="text"  id="cache-key"name="key" value="{{ key }}" class="text-filed" /></td>
										</tr>
										<tr>
											<td></td>
											<td><input type="submit" value="Search" class="button" /></td>
										</tr>
									</table>
								</form>
							</div>
						</div>
					</div>
				</div><!--one-row-->
				<script>
					var organizationSettings = {"workingdays":[0,1,2,3,4,5,6],"timezone":"America/Los_Angeles","daystart":"06:00","dayend":"21:00","since":"2016-06-20","tzoffset":-480};
					var earliestDate = new Date(organizationSettings.since);
					var date = document.getElementById('date');
					var form = document.getElementById('date-form');
					var identifier = document.getElementById('identifier');
					var keytype = document.getElementById('keytype');
					var dateFilter = document.getElementById('date-filter');
					var cacheKey = document.getElementById('cache-key');
					var shortDate = document.getElementById('date-short');
					//
					form.onsubmit = function(){return false;}
					date.onchange = function(){
						shortDate.value = DateToShort(this.value);
						buildCacheKey();
					};
					date.value = (new Date()).sqlFormatted();
					dateFilter.value = keytype.value;
					//identifier.value = dateFilter.value;
					new calendar(date);
					//
					dateFilter.onchange = identifier.onchange = function(){
						keytype.value = dateFilter.value;
						buildCacheKey();
					}
					function buildCacheKey(){
						/*/
						'domain-'+identifier.value+'-on-'+shortDate.value
						'score-'+identifier.value+'-on-'+shortDate.value
						'colleagues-'+identifier.value
						//'details'+json.dumps(request.GET).replace('": "', '=').replace('", "', '&').replace('"', '')
						//*/
						if (dateFilter.value == 'details')
							cacheKey.value = dateFilter.value+'{date='+shortDate.value+'&employee='+identifier.value+'}';
						else
							cacheKey.value = dateFilter.value+'-'+identifier.value+'-on-'+shortDate.value;
					}
				</script>
{% if data != None %}
				<div class="one-row">
					<div class="col col-12">
						<div class="card-wrap">
							<form>
								<input type="hidden" name="delete" value="{{ key }}" />
								<h2 class="card-heading">{{ key }}
									<input type="submit" value="Delete This" style="float:right; margin-right:12px;" />
								</h2>
							</form>
							<pre class="form-wrap" id="jsondata">
								{{ data }}
							</pre>
						</div>
					</div>
				</div><!--one-row-->
				<script>
					var data = '{{ data }}'.replace(/\&quot;/g, '"').replace(/&quot;/g, '"');
					if (data.substring(0, 1) == '"' && data.substring(data.length-1) == '"')
						data = data.substring(1, data.length-1);
					data = eval('('+data+')');
					document.getElementById('jsondata').innerHTML = JSON.stringify(data, null, 4);
					/*var transforms = {
						'object':{'tag':'div','class':'package ${show} ${type}','children':[
							{'tag':'div','class':'header','children':[
								{'tag':'div','class':function(obj){

									var classes = ["arrow"];

									if( getValue(obj.value) !== undefined ) classes.push("hide");
									
									return(classes.join(' '));
								}},
								{'tag':'span','class':'name','html':'${name}'},
								{'tag':'span','class':'value','html':function(obj) {
									var value = getValue(obj.value);
									if( value !== undefined ) return(" : " + value);
									else return('');
								}},
								{'tag':'span','class':'type','html':'${type}'}
							]},
							{'tag':'div','class':'children','children':function(obj){return(children(obj.value));}}
						]}
					};*/
					console.log(data);
				</script>
{% endif %}
			</div>
		</div>
		{% include 'admin/tpl_footer.html' %}
	</body>
</html>