<!DOCTYPE html>
<html lang="en-US">
<head>
	{% include 'admin/tpl_head.html' %}
</head>
	<body>
		{% include 'admin/tpl_sidebar.html' %}
		{% include 'admin/tpl_header.html' %}
		<div class="page-content">
			<div class="content active">
				<div class="one-row">
					<div class="col col-12">
						<h2>Onboarding Domains ({{ onboards.count }})</h2>
						<br/>
						<table class="employeedata sortable" style="width: 100%">
							<tr class="tablerow">
								<th style="width:40px;" align="right">ID</th>
								<th align="left">Domain Name</th>
								<th style="width:160px;" align="left">Contact</th>
								<th style="width:140px;" align="left">Started On</th>
								<th style="width:42px;" align="right">Stage</th>
								<th style="width:85px;" align="right">Percentage</th>
								<th style="width:120px;" align="left">Time Zone</th>
								<!-- th style="width:80px;" align="left" class="sorttable_nosort">Actions</th -->
							</tr>
{% for onboard in onboards %}
							<tr class="tablerow" data-id="46" data-role="1">
								<td align="right">{{ onboard.domain.id }}</td>
								<td>
									<a href="{{ base_url }}/admin/domain-details/?id={{ onboard.domain.id }}">
										<p class="domain-name">{{ onboard.domain.title }}</p>
									</a>
								</td>
								<td>{{ onboard.email }}</td>
								<td>{{ onboard.started_on }}</td>
								<td align="right">{{ onboard.status }}</td>
								<td align="right" class="progress" data-domain-id="{{ onboard.domain.id }}">loading...</td>
								<td>{{ onboard.domain.timezone }}</td>
								<!-- td><a href="{{ base_url }}/admin/impersonate/?domain_id={{ onboard.domain.id }}" target="_blank" onclick="if (!confirm('Impersonating an onboarding domain will sign you out of Admin panel. Would you like to continue..')){return false;}">Impersonate</a></td -->
							</tr>
{% endfor %}
						</table>
<style>td.colortrans{transition:color 1.5s;}</style>
<script>
var progressUpdates = q('.progress[data-domain-id]');
for (var i = 0; i < progressUpdates.length; i++)
	//	Isolate processing of each record/row
	new (function(ctrl, index, total){
		var refresh = function(){
			//	Load onboarding progress
			new ajax('{{ base_url }}/cron-stats/?domain='+ctrl.getAttribute('data-domain-id'), {
					callback: function(data){
						data = eval('('+data.responseText+')');
						//	Update progress display
						ctrl.innerHTML = data.progress + '%';
						//
						ctrl.removeClass('colortrans');
						ctrl.style.color = '#000000';
						setTimeout(function(){
							ctrl.addClass('colortrans');
							ctrl.style.color = '#C0C0C0';
						}, 100);
						//
						setTimeout(refresh, total * 800);
					}
				});
		};
		refresh();
	})(progressUpdates[i], i, progressUpdates.length);
</script>
					</div>
				</div><!--one-row-->
			</div>
		</div>
		{% include 'admin/tpl_footer.html' %}
	</body>
</html>
