{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	{% include 'admin/tpl_head.html' %}
	<script type="text/javascript" src="{% static 'js/json2html.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
</head>
	<body>
		{% include 'admin/tpl_sidebar.html' %}
		{% include 'admin/tpl_header.html' %}
		<header class="header cf">
			<div class="header-left">
			</div>
			<div class="right-holder">
				<div class="user-name-wrap">
					<p class="user-name">{{ user.fullname }}</p>
				</div>
				<a class="logout" href="{% url 'sign-out' %}">Log Out</a>
			</div>
		</header>
		<div class="page-content">
			<div class="content active">
				<div class="one-row">
					<div class="col col-12">
						<div class="card-wrap">
							<h2 class="card-heading">Synchonize Static Files to Cloud Storage CDN bucket</h2>
							<div class="form-wrap">
								<p>Use this feature only from development environment. This will write your modified static files to production CDN.</p>
								<!--form method="post">
									<table style="width:550px;">
										<tr>
											<td></td>
											<td><input type="submit" value="Synchronize" class="button" /></td>
										</tr>
									</table>
								</form-->
							</div>
						</div>
					</div>
				</div><!--one-row-->
				<div class="one-row">
					<div class="col col-12">
						<div class="card-wrap">
							<h2 class="card-heading">Files Uploaded</h2>
							<pre class="form-wrap">
{% for file in data %}
{{ file }}
{% endfor %}
							</pre>
						</div>
					</div>
				</div><!--one-row-->
			</div>
		</div>
		{% include 'admin/tpl_footer.html' %}
	</body>
</html>