{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    {% include 'admin/tpl_head.html' %}
</head>
<body>
    {% include 'admin/tpl_sidebar.html' %}
    {% include 'admin/tpl_header.html' %}
    <header class="header cf">
        <div class="header-left">
        </div>
        <div class="right-holder">
            <div class="user-name-wrap">
                <p class="user-name">{{ user.fullname }}</p>
            </div>
            <a class="logout" href="{% url 'sign-out' %}">Log Out</a>
        </div>
    </header>
    <div class="page-content">
        <div class="content active">
            <div class="one-row">
                <div class="col col-12">
                        <h2>Task Queue Failures</h2>

                        <div class="col col-12">
                            <br>
                            <div>
                                <table class="employeedata" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Failure Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if results %}
                                        {% for val in results %}
                                        <tr>
                                            <td>{{ val.date }}</td>
                                            <td>{{ val.count }}</td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="2">No failures are available</td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col col-12">
			<br>
			<table id="details" class="employeedata" style="width: 100%;"></table>
                        </div>

                </div>
            </div>
        </div>
    </div>
	<script>
		function loadDetails(){
			var detailsTbl = q('#details')[0];
			new ajax('/admin/taskqd', {
				method: 'GET',
				callback: function(data){
					data = eval('('+data.responseText+')');
					var tr = detailsTbl.appendChild(elem('tr', '<th>Date</th>'));
					for (var i = 0; i < data.prods.length; i++)
						tr.appendChild(elem('th', data.prods[i]));
					for (var j = 0; j < data.stats.length; j++){
						tr = detailsTbl.appendChild(elem('tr', '<td>'+data.stats[j][0]+'</th>'));
						for (var i in data.stats[j][1])
							tr.appendChild(elem('td', data.stats[j][1][i]));
					}
				}
			});
		}
	</script>
    {% include 'admin/tpl_footer.html' %}
</body>
</html>
