{% load staticfiles %}

<div class="sidebar">
  <div class="inner-wrap">
    <a href="{% url 'home' %}"><img src="{% static 'img/logo.svg' %}" id="logo"/></a>
    <nav class="sidebar-nav">
      <ul class="main-navigation {{ request.resolver_match.url_name }}">
        <li{% if page == 'domains' %} class="active"{% endif %}><a href="/admin"><div class="icon icon-admin"></div>Domains</a></li>
        <li{% if page == 'on-progress' %} class="active"{% endif %}><a href="/admin/on-progress/"><div class="icon icon-on-progress"></div>Onboarding</a></li>
        <li{% if page == 'memcached' %} class="active"{% endif %}><a href="/admin/memcached/"><div class="icon icon-memcached"></div>Memcached</a></li>
        <li{% if page == 'average-calc' %} class="active"{% endif %}><a href="/admin/average-calc/"><div class="icon icon-calculator"></div>Averages Calc</a></li>
        <!-- li{% if page == 'feedback' %} class="active"{% endif %}><a href="/admin/feedback/"><div class="icon icon-feedback"></div>Feedback</a></li>
        <li{% if page == 'usage' %} class="active"{% endif %}><a href="/admin/usage/"><div class="icon icon-usage"></div>Usage Stats</a></li>
        <li{% if page == 'taskq' %} class="active"{% endif %}><a href="/admin/taskq"><div class="icon icon-taskq"></div>Task Q</a></li-->
      </ul>
    </nav>
  </div>
</div>
