<div id="app">
	<header class="header cf">
		<div class="header-left">
			<i class="fa fa-bars"></i>
		</div>
		<div class="right-holder">
			<div class="user-name-wrap">
				<p class="user-name">{{ user.fullname }}</p>
			</div>
			<a class="logout" href="{% url 'sign-out' %}">Log Out</a>
		</div>
	</header>
