		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
		<title>Prodoscore&trade; – Super Admin Dashboard</title>
		<meta charset="UTF-8">
		{# <meta name="viewport" content="width=device-width, initial-scale=1">#}
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/extra.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" />
		<script type="text/javascript" src="{% static 'js/arc.js' %}"></script>
		<style>@media screen and (max-width: 1190px){header.header{height:48px;} header .right-holder a.logout{display:block; height:48px;}}</style>
