<!DOCTYPE html>
<html lang="en-US">
<head>
	{% include 'admin/tpl_head.html' %}
</head>
	<body>
		{% include 'admin/tpl_sidebar.html' %}
		{% include 'admin/tpl_header.html' %}
		<div class="page-content">
			<div class="content active">
				<div class="one-row">
					<div class="col col-12">
						<h2>Usage statistics</h2>
						<br/>
						<table class="employeedata sortable" style="width: 100%">
							<tr class="tablerow">
								<th align="left">Page</th>
								<th align="left">Clicks</th>
							</tr>
{% for stat in stats %}
							<tr class="tablerow" data-id="46" data-role="1">
								<td>
									<a href="{{ base_url }}/admin/usage-details/?page={{ stat.page }}">
										<p class="page-name">{{ stat.page }}</p>
									</a>
								</td>
								<td>{{ stat.count }}</td>
							</tr>
{% endfor %}
						</table>
					</div>
				</div><!--one-row-->
			</div>
		</div>
		{% include 'admin/tpl_footer.html' %}
	</body>
</html>