<!DOCTYPE html>
<html lang="en-US">
<head>
	{% include 'admin/tpl_head.html' %}
</head>
	<body>
		{% include 'admin/tpl_sidebar.html' %}
		{% include 'admin/tpl_header.html' %}
		<div class="page-content">
			<div class="content active">
				<div class="one-row">
					<div class="col col-12">
						<div class="card-wrap">
							<h2 class="card-heading">{{ innerPage }}</h2>
							<div class="form-wrap">
								<iframe id="pagemap" style="width:100%; height:600px;" src="{{ base_url }}#none"></iframe>
							</div>
						</div>
					</div>
				</div><!--one-row-->
			</div>
		</div>
		<script>
var data = [
{% for stat in stats %}
		[{{ stat.x }}, {{ stat.y }}, {{ stat.screenwidth }}, {{ stat.scrolltop }}],
{% endfor %}
	];
var pagemap = q('#pagemap')[0], tmp;
pagemap.contentDocument.body.onload = function(){
	for (var i = 0; i < data.length; i++){
		tmp = pagemap.contentDocument.body.appendChild(elem('div', null, {class: 'heatmap-elem', style: 'top:'+(data[i][1]+data[i][3]-50)+'px; left:'+(100*data[i][0]/data[i][2])+'%;'}));
		console.log(tmp);
	}
	setTimeout(function(){
		var scrn = pagemap.contentDocument.getElementById('{{ innerPage }}');
		scrn.style.display = 'block';
		scrn.style.opacity = 1;
		//
		var loading = pagemap.contentDocument.getElementById('loading');
		loading.style.display = 'none';
		//
		pagemap.contentDocument.onclick = pagemap.contentDocument.onmousedown = function(e){
			e.cancelBubble = true;
			e.preventDefault();
			e.stopPropagation();
			e.stopImmediatePropagation();
			return false;
		};
	}, 3000);
}
		</script>
		{% include 'admin/tpl_footer.html' %}
	</body>
</html>