{% load staticfiles %}
<a id="feedback" class="button" title="Feedback">
	<svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false"> <g stroke="none" stroke-width="1" fill-rule="evenodd"> <path d="M2.36334387,12.9099684 C1.502539,11.7935074 1,10.448105 1,9 C1,5.13400675 4.581722,2 9,2 C13.418278,2 17,5.13400675 17,9 C17,12.8659932 13.418278,16 9,16 C7.85276228,16 6.76192672,15.7886994 5.77555178,15.4081494 L1,17 L2.36334387,12.9099684 Z M10,13.5 L10,14 L8,14 L8,12.5 L8,12 L10,12 L10,13.5 Z M9.875,11 L8.125,11 L8.00560003,8.9787775 L8.00113325,5.00752992 C8.00050737,4.45108651 8.44386482,4 9,4 C9.55228475,4 10,4.44371665 10,4.99980749 L10,9 L9.875,11 Z" id="Shape"></path> </g> </svg>
	Feedback
</a>
<!--div class="menu" id="menu">
	<ul class="menu_items">
		<li class="menu_item menu_item-1"><a href="#"></a></li>
		<li class="menu_item menu_item-2"><a href="#"></a></li>
		<li class="menu_item menu_item-3"><a href="#"></a></li>
		<li class="menu_item menu_item-4"><a href="#"></a></li>
	</ul>
	<div class="menu_toggle" id="menuToggle"></div>
</div-->
<div id="popup-bg">
	<div class="card-wrap">
		<h2 class="card-heading">Send feedback<i class="fa fa-times"></i></h2>
		<div class="content active">
			<form>
				<div class="one-row">
					<label><input type="checkbox" checked> Include screenshot</label>
					<div class="draw-tools">
						<a title="Highlight" class="active"><img src="{% static 'img/icons/square-dashed-24.png' %}" /><!-- Highlight--></a>
						<a title="Hide info"><img src="{% static 'img/icons/square-24.png' %}" /><!-- Hide Info--></a>
						<a title="Erase"><img src="{% static 'img/icons/eraser.png' %}" /><!-- Remove--></a>
						<a title="Reset"><img src="{% static 'img/icons/action-undo-24.png' %}" /><!-- Reset--></a>
					</div>
					<iframe id="screenshot"></iframe>
					<input type="hidden" value="" />
					<br/><br/>
					<label>
						Explain your issue or share your ideas
						<textarea></textarea>
					</label>
					<input type="button" value="Cancel" class="button gray" />
					<input type="submit" value="Send" class="button" />
				</div>
				<div class="loading"></div>
			</form>
		</div>
		<div class="content active message"></div>
	</div>
</div>