
		{% load staticfiles %}
		<!--link rel="stylesheet" type="text/css" data-href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" /-->
		<link rel="stylesheet" type="text/css" data-href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
		<title>Prodoscore&trade; – Improve Sales Execution</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		<script type="text/javascript" src="{% static 'js/arc.js' %}"></script>
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" data-href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" type="text/css" data-href="{% static 'css/extra.css' %}" />
		<link rel="stylesheet" type="text/css" data-href="{% static 'css/mobile.css' %}" />
