{% load staticfiles %}<header class="header cf">
	<div class="header-left">
		<img src="{% static 'img/logo.svg' %}" id="logo"/>
		<form method="post">
			<div class="select-wrapper">
				<select name="filter" id="date-filter">
					<option value="yesterday">Yesterday</option>
					<option value="this-week">This week</option>
					<option value="last-7-days" selected>Last 7 days</option>
					<option value="this-month">This month</option>
					<option value="last-30-days">Last 30 days</option>
					<option value="custom">Custom</option>
				</select>
			</div>
			<div class="date-picker">
				<span class="label">From</span>
				<input type="date" name="from_date" value="{{ days7ago }}" class="text-filed" />
			</div>
			<div class="date-picker">
				<span class="label">To</span>
				<input type="date" name="to_date" value="{{ today }}" class="text-filed" />
			</div>
		</form>
	</div>

	<div class="right-holder">
		<a class="user-name-wrap" data-href="#employee/{{ user.id }}/{{ user.email }}">
			<p class="user-name" data-picture="{{ user.picture }}">{{ user.fullname }}</p>
		</a>
		<a class="logout" href="{% url 'sign-out' %}">Log Out</a>
	</div>
</header>
