{% load staticfiles %}
<header class="header cf">
	<div class="header-left">
		<form method="post">
			<i class="fa fa-bars"></i>
			<div class="select-wrapper">
				<select name="filter" id="date-filter">
					<option value="yesterday">Yesterday</option>
					<option value="this-week">This week</option>
					<option value="last-7-days" selected>Last 7 days</option>
					<option value="this-month">This month</option>
					<option value="last-30-days">Last 30 days</option>
					<option value="custom">Custom</option>
				</select>
			</div>
			<div class="date-picker">
				<span class="label">From</span>
				<input type="date" name="from_date" value="{{ days7ago }}" class="text-filed" />
			</div>
			<div class="date-picker">
				<span class="label">To</span>
				<input type="date" name="to_date" value="{{ today }}" class="text-filed" />
			</div>
		</form>
	</div>

	<div class="header-left" style="display:none;">
		<form>
			<div class="select-wrapper">
				<select name="domain" id="domain-list"><option>Loading</option></select>
			</div>
			<a href="/register/?mdomains=True" class="button primary" style="float:right; margin:18px 12px;">Add New Domain</a>
		</form>
	</div>

	<div class="right-holder">
		<button class="notifications_trigger" id="notificationTrigger" title="Activity feed">
			<i class="fa fa-bell" aria-hidden="true"></i>
		</button>
		<a class="user-name-wrap">
			<p class="user-name" data-picture="{{ user.picture }}">{{ user.fullname }}</p>
		</a>
		<a class="logout" href="{% url 'sign-out' %}">Log Out</a>
	</div>
</header>
<div class="notifications_bar" id="notificationBar">
	<h2 class="notifications_bar_title">Activity feed</h2>
	<div class="notifications_bar_content"></div>
</div>
