{% load staticfiles %}

<div class="sidebar">
  <div class="inner-wrap">
    <a href="{% url 'home' %}#dashboard"><img data-src="{% static 'img/logo.svg' %}" id="logo"/></a>
    <nav class="sidebar-nav">
{% if user.domain.title == user_domain %}
      <ul class="main-navigation {{ request.resolver_match.url_name }}">
        <li data-tag="dashboard"><a href="#dashboard"><div class="icon icon-dashboard"></div>Dashboard</a></li>
        <li data-tag="managers" style="display:none;"><i class="fa fa-caret-right"></i><a href="#managers"><div class="icon icon-managers"></div>Managers</a><ul></ul></li>
	{% if user.role != 80 %}
        <li data-tag="employees"><i class="fa fa-caret-right"></i><a href="#employees/under/{{ user.id }}/{{ user.email }}"><div class="icon icon-employees"></div>Employees</a><ul></ul></li>
	{% else %}
        <li data-tag="employees"><i class="fa fa-caret-right"></i><a href="#employees"><div class="icon icon-employees"></div>Employees</a><ul></ul></li>
	{% endif %}
	{% if user.domain.nlp_enabled == 1 %}
        <li data-tag="correlations"><a href="#correlations"><div class="icon icon-correlations"></div>Correlations</a><ul></ul></li>
	{% endif %}
      </ul>
      <ul class="main-navigation lower">
        <li data-tag="myprofile"><a><div class="icon icon-profile"></div>My Profile</a><ul></ul></li>
        <li data-tag="settings"><a href="#settings/employees"><div class="icon icon-settings"></div>Settings</a></li>
      </ul>
{% else %}
      <ul class="main-navigation {{ request.resolver_match.url_name }}">
        <li data-tag="settings"><a href="#settings/employees"><div class="icon icon-settings"></div>Settings</a></li>
      </ul>
{% endif %}
    </nav>
  </div>
{% if user.domain.title == user_domain %}
  <div class="bottom">
	<!--h2>Team Averages</h2>
	<ul class="legend" id="teams"><li>Loading...</li></ul-->
	<h2>
		Legend
		<i class="fa fa-caret-down"></i>
	</h2>
	<ul class="legend">
		<li>
			<div class="indicator above"></div>
			<h3><normal>Above 70</normal><hover>Above Average</hover></h3>
		</li>
		<li>
			<div class="indicator average"></div>
			<h3><normal>Between 30~70</normal><hover>Within Average</hover></h3>
		</li>
		<li>
			<div class="indicator below"></div>
			<h3><normal>Below 30</normal><hover>Below Average</hover></h3>
		</li>
	</ul>
  </div>
{% endif %}
</div>
