{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>Upload a File</title>
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
		<link href="{% static 'css/reg.css' %}" rel="stylesheet" />
		<script type="text/javascript" src="{% static 'js/arc.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jszip.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/xlsx.js' %}"></script>
	</head>
	<body>
		<form enctype="multipart/form-data">
			<label style="position:fixed; top:0px; left:0px; display:block; width:100%; height:100vh; text-align:center; background-color:#FFFFFF;">
				<br/>
				<div class="uploaded-icon">
					<img src="{% static 'img/icons/xlsx.png' %}" height="120" xsrc="chrome://fileicon/%2Fhome%2Fvishva%2FDownloads%2FOnboarding%20Template.xlsx?scale=2x" />
					<br/><label></label>
				</div>
				<div class="upload-ctrls">
					<h3 class="entry-title">Drag &amp; Drop the .xlsx file here</h3>
					<br/>or<br/>
					<input type="file" name="file" style="opacity:0.01;" />
					<div class="btn btn-primary" style="display:inline;">Browse Files</div>
					<!--input type="button" value="Browse Files"-->
				</div>
			</label>
		</form>
		<script type="text/javascript">var base_url = '{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}/';</script>
		<script type="text/javascript" src="{% static 'js/xlsx-validation-and-upload.js' %}"></script>
		<style>form label.hovering{opacity:0.6;}</style>
	</body>
</html>
