body {
    position: relative;
    background: #f4f4f4;
    transition: background 0.25s;
    overflow: hidden;
}

.content-outer {
    // position: absolute;
    width: 100%;
}

.content {
    transition: opacity 0.25s;
}

.content-wrapper {
    width: 475px;
}

.content-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 15px;
    background: #FFF;
    box-shadow: 0 -1px 2px 0 darken(#f4f4f4, 12%);
    .btn {
        padding: 6px 15px;
    }
}

.initializing-content-wrapper {
    width: 900px;
    margin-top: 10px;
}

.site-content {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 25px 15px;
    overflow: auto;

    .onboard-progress & {
        position: relative;
        padding-top: 75px;
    }
}


/* --------------------------------- */

label.unbold {
    font-weight: normal;
}

.steps-wrapper {
    /*margin-top:21px;*/
    height: 51px;
    overflow: hidden;
    transition: height 0.5s;
}

.steps .step {
    transition: all 0.25s;
    height: 42px;
    width: 42px;
}

.steps .step span {
    line-height: 48px;
    font-size: 25px;
}

.steps .step.step-2 {
    margin: 0 18px 0 36px;
}

.steps .step.step-3 {
    margin: 0 36px 0 18px;
}


/* --------------------------------- */

.inner-wrapper.search {
    &.search {
        padding: 9px 0px 22px 38px;
        .search-wrapper {
            position: relative;
        }
        input[name="search"] {
            width: 88%;
            float: right;
            margin: 0px;
        }
        i.fa-times-circle {
            position: absolute;
            color: #C4A6A6;
            float: right;
            cursor: pointer;
            padding: 10px;
            font-size: 16pt;
            top: 1px;
            right: 0;
        }
        label {
            margin-bottom: 0;
            line-height: 43px;
        }
        &:hover i.fa-times-circle {
            color: #E4A6A6;
        }
    }
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    vertical-align: -6px;
}

.entry-content .button-holder .btn {
    margin: 20px 0 8px 0;
}


/* --------------------------------- */


/*.initializing-content{
	margin:0px -85px;
}

.initializing-content .progress-list li .icon input[type="checkbox"]{
    width:20px;
    height:18px;
    vertical-align:-4px;
}*/

.entry-content .entry-title {
    margin: 24px 0;
}

.initializing-content {
    padding: 20px 24px;
    .progress-list {
        padding: 5px 9px 0px 0px;
        max-height: 365px;
        margin-right: -22px;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        table-layout: fixed;
        .loading-col {
            text-align: center;
            .loading {
                i.fa {
                    color: #1e86d9;
                }
            }
        }
        tr {
            &.Disabled {
                opacity: 0.5;
            }
            &.no-results {
              td {
                padding: 14px 0;
                background: #f4f4f4;
              }
            }
        }
        td {
            &.icon-col {
                width: 44px;
                i.fa {
                    font-size: 18px;
                    color: #1e86d9;
                    &.fa-user {
                        height: 28px;
                        width: 28px;
                        line-height: 28px;
                        text-align: center;
                        background-color: #E3EBF1;
                    }
                }
            }
            &.chk-col {
                width: 32px;
            }
            &.name-col {}
            &.email-col {}
            &.select-col {
                padding: 5px 0;
            }
        }
        th {
            &.icon-col {
                width: 44px;
            }
            &.chk-col {
                width: 32px;
            }
        }
        thead {
            th {
                padding-bottom: 4px;
            }
        }
    }
    .progress-bar {
        margin: 24px 0;
        .progress {
            height: 5px;
            top: -2px;
            border-radius: 3px;
            box-shadow: 0px 0px 8px -1px #1698FF;
            transition: box-shadow 0.5s;
        }
    }
}

.initializing-content .progress-list li {
    margin: 0px -10px 8px -2px;
    padding: 0px 2px;
}

.initializing-content .progress-list li.selected {
    background-color: #cce7fe;
}

.initializing-content .progress-list li .icon {
    display: inline-block;
    width: 28px;
    margin-right: 10px;
}


/*.initializing-content .progress-list li .icon img{
    margin-top:-2px;
}*/

.initializing-content .progress-list li .icon i.fa {
    font-size: 14pt;
    margin-top: -2px;
    color: #1e86d9;
    vertical-align: -3px;
}

.initializing-content .progress-list li .icon i.fa.fa-user {
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #E3EBF1;
}

.initializing-content .progress-list li.Disabled {
    /*color:#808080;*/
    opacity: 0.5;
}

.initializing-content .progress-list li.Administrator {
    color: #000000;
}

.initializing-content .progress-list li small,
.initializing-content .progress-list li select {
    float: right;
    width: 128px;
    padding: 5px;
    height: 32px;
    margin: 1px 0px 0px 4px;
}

.initializing-content {
    .set-multiple {
        padding: 10px 0px 34px 0;
        .confrim-btn {
            display: inline-block;
            background-color: #1e86d9;
            border: 1px solid #1A76C0;
            color: #FFFFFF;
            padding: 4px 8px;
            margin-left: 12px;
            outline: none;
            border-radius: 3px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-box-shadow: 0 3px 5px 0 rgba(202, 202, 202, 0.7);
            box-shadow: 0 3px 5px 0 rgba(202, 202, 202, 0.7);
            -webkit-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
            &:disabled {
                background-color: desaturate(#1e86d9, 30%);
                cursor: not-allowed;
                filter: alpha(opacity=65);
                -webkit-box-shadow: none;
                box-shadow: none;
                opacity: .65;
            }
        }
    }
}

select#set-multiple {
    display: inline-block;
    width: 256px;
    padding: 5px;
    height: 38px;
    margin: -5px 0px 0px 4px;
}

.initializing-content .progress-list li small {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* --------------------------------- */

.header_nav {
    float: left;
    width: 100%;
}

.header_bar {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 64px;
    background: #1e86d9;
    font-size: 16px;
}

.header_logo {
    height: 64px;
    width: 380px;
    padding: 7px 35px;
    background: #208ee6;
    float: left;
}

.header_logo svg {
    width: 96%;
    margin-left: 2%;
    fill: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.header_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #1e86d9;
}

.header_nav ul li {
    display: block;
    float: left;
}

.header_nav ul li a,
.header_nav ul li span {
    display: block;
    line-height: 64px;
    color: #d8e8f8;
    padding: 0 25px;
    transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
}

.header_nav ul li.menu-item a:hover {
    text-decoration: none;
    background: #1a76c0;
    color: #fff;
}

.header_nav ul li.sign {
    float: right;
}

input[type="submit"],
button[type="submit"] {
    background-color: #1e86d9;
    border: 1px solid #1A76C0;
    color: #FFFFFF;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #1a76c0;
    border: 1px solid #1A76C0;
    color: #E0E0E0;
}

input[type="submit"]:focus,
button[type="submit"]:focus,
input[type="submit"]:active,
button[type="submit"]:active,
input[type="submit"]:focus:active,
button[type="submit"]:focus:active {
    background-color: #208ee6;
    color: #D0D0D0;
}

.header_btn--signup {
    background: #155f99;
    transition: background 0.5s ease-in;
    -webkit-transition: background 0.5s ease-in;
}

.header_btn--login {
    background: #1a76c0;
    transition: background 0.5s ease-in;
    -webkit-transition: background 0.5s ease-in;
}

.btn-lg {
    padding: 8px 14px;
    line-height: 1.1;
}

.set-emp-manager-table {
    .icon-col,
    .name-col {
        cursor: pointer;
    }
}

.estimating-txt {
    color: #1a76c0;
}
