.breadcrumbs {
	padding: 20px 1.5%;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: inline-block;
			padding-right: 4px;
			&:after {
				content: '/';
				margin-left: 5px;
				font-size: 10px;
			}
			a {
				color: #1e86d9;
				text-decoration: none;
				font-size: 12px;
				// font-weight: bold;
			}

			&:last-child {
				padding-right: 0;
				&:after {
					display: none;
				}
			}

			&.current {
				a {
					color: #232323;
					cursor: default;
					pointer-events: none;
					font-weight: normal;
				}
			}
		}
	}
}
