.calendar {
    position: absolute;
    border: 1px solid #C0C0C0;
    background-color: #FFFFFF;
    padding: 5px;
    z-index: 100;
    box-shadow: 1px 1px 10px -4px #000000;
    table {
        padding: 0px;
        thead {
            tr {
                background-color: rgba(215, 223, 229, 0.5);
                color: #4E6170;
            }
        }
    }
    tr {
        td,
        th {
            font-size: 16px;
            padding: 8px 8px 8px 8px;
            width: 32px;
            border-right: rgba(35, 35, 35, 0.1) solid 1px;
            &.non-working, &.future {
                &,
                &:hover {
                    cursor: default;
                    color: lighten(#000, 50%);
                    background-color: lighten(#000, 95%);
                }
            }
        }
        td {
            text-align: right;
            cursor: pointer;
            &:hover {
                color: #000000;
            }
            &.selected {
                background-color: #E0E0E0;
                color: #000000;
            }
            &.future {
                color: #B2B2B2;
            }
        }
    }
    select,
    button {
        padding: 9px 18px;
        margin: 0px 5px 5px 4px !important;
        vertical-align: middle;
    }
}
