.card-wrap {
  position: relative;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.02);
  border: rgba(35, 35, 35, 0.1) solid 1px;
  padding: 12px 0 0;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  min-height: 200px;
  overflow: hidden;

  &--auto-height {
    min-height: 0;
  }

  .right-wrap {
    float: right;
    width: auto;
    height: auto;
    text-align: center;
  }

  .card-heading {
    position: relative;
    margin: 6px 0 0 20px;
    width: auto;
    font-size: 16px;
    font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;

    &.table-view {
      width: 130px;
      box-sizing: border-box;
    }
  }

  .emp-score,
  .employee-total,
  .man-score {
    position: absolute;
    right: 24px;
    top: 20px;
    color: $halfgray;
    width: auto;
    height: auto;
    font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
  }

  .man-score {
    right: 112px;
  }

  .box-wrap {
    clear: both;
    margin: 0 16px 20px;
    height: auto;
    overflow: hidden;

    .detail-box {
      width: 32.33%;
      margin: 0 0.5%;
      float: left;
      height: auto;
      cursor: default;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      &.above {
        background-color: #e9f2fa;
        box-shadow: inset 0 -6px 0 $blue;
      }

      &.baseline {
        background-color: #ececec;
        box-shadow: inset 0 -6px 0 $gray;
      }

      &.below {
        background-color: #fdeceb;
        box-shadow: inset 0 -6px 0 $red;
      }

      p {
        font-family: "linotte-regular";
        color: $darkgray;
      }

      .heading {
        font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        width: 100%;
        margin: 24px auto 0;
        text-align: center;
        color: rgba(35, 35, 35, 0.8);
      }

      .numbers {
        width: 60%;
        margin: 0 20%;
        color: $darkgray;
        font-family: linotte;

        .user_number {
          margin-top: 36px;
          margin-bottom: 10px;
          width: 48.5%;
          text-align: center;
          font-size: 36px;
          line-height: 16px;
          display: inline-block;
          float: left;

          span {
            font-size: 16px;
            margin-top: -20px;
            position: relative;
          }
        }

        .slash {
          display: block;
          width: 3%;
          height: 40px;
          @include skwX(-20deg);
          background-color: rgba(35, 35, 35, 0.2);
          float: left;
          margin: 24px 6px 0 -6px;
        }

        .status {
          margin-top: 36px;
          margin-bottom: 10px;
          width: 48.5%;
          text-align: center;
          font-size: 36px;
          line-height: 16px;
          display: inline-block;
          float: left;

          span {
            font-size: 16px;
            margin-top: -20px;
            position: relative;
          }
        }
      }
      //@include backcoloring();
      .prodoscore {
        line-height: 39px;
        width: 100%;
        text-align: center;
        color: rgba(35, 35, 35, 0.8);
        float: none;
        clear: both;
        font-size: 14px;
        margin-bottom: 18px;
      }
    }
  }

  p.show-all {
    margin-bottom: -8px;
    width: 100%;
    border-top: 1px solid rgba(24, 24, 24, 0.2);
    line-height: 48px;
    vertical-align: middle;
    text-align: center;

    a {
      font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      color: $blue;
      @include csstransition(color, 0.5s, ease-in);

      &:hover {
        color: darken($blue, 5);
      }
    }
  }


}

.card-tabs {
	padding: 10px 0px;
	&-nav {
		@include clearfix;
		border-bottom: 1px solid lighten(#232323, 70%);
		margin-bottom: 10px;
		margin-left: 20px;
		margin-right: 20px;
		a {
			font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
			display: block;
			float: left;
			text-decoration: none;
			color: $blue;
			background: transparent;
			padding: 8px 7px 7px 7px;
			margin-bottom: -1px;
			border: 1px solid transparent;
			margin-left: 3px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			transition: all 320ms ease;
			&:hover {
				background: lighten(#232323, 80%);
				border-bottom-color: lighten(#232323, 70%);
			}
			&:first-child {
				margin-left: 0;
			}
			&.active {
				color: #232323;
				background: #FFF;
				border: 1px solid lighten(#232323, 70%);
				border-bottom-color: transparent;
				cursor: default;
				&:hover {
					background: #FFF;
				}
			}
		}
	}
	&-body {
		display: none;
		padding: 8px 0px;
		&.active {
			display: block;
		}
	}
}
.card-table {
	table-layout: fixed;
	width: 100%;
}

.wrap {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  height: auto;
  margin: 4px auto 12px;
}
