.button {
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  max-width: 120px;
  border: none;
  border-radius: 3px;
  line-height: 1.4;
  box-sizing: border-box;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  appearance: none;
  text-align: center;
  background: $blue;
  transition: 0.25s ease all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px 18px;

  &:hover {
    background: darken($blue, 10%);
  }

  &.red {
    background-color: $red;

    &:hover {
      background-color: darken($red, 10%);
    }
  }
}

.clear {
	@include clearfix;
}

.user-name-wrap {
  .circle {
    position: relative;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    p {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      line-height: 35px;
      font-weight: bold;
      color: white;
      font-size: 15px;
      position: relative;
    }
    @include backcoloring();
  }
}

.wrap {
  .circle {
    float: left;
    margin: 0 16px 0 28px;
  }

  .user-name {
    float: left;
    width: 200px;
    line-height: 34px;
    vertical-align: middle;
    font-size: 20px;
    color: $darkgray;
    font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.emp-status,
.main-status {
  float: right;
  width: auto;
  height: auto;
  overflow: hidden;
  margin-top: -28px;

  p {
    margin: 12px 21px;
    font-family: "linotte-regular";
    float: left;
    width: auto;
    height: auto;
    font-size: 16px;
    line-height: 26px;
    vertical-align: middle;
    @include textcoloring;

    &.increase {
      color: $blue;

      &::before {
        background-image: url('../img/icons/arrow-up.png');
      }
    }

    &.decrease {
      color: $red;

      &::before {
        background-image: url('../img/icons/arrow-down.png');
      }
    }

    &.decrease,
    &.increase {
      &::before {
        content: "";
        padding: 5px 8px;
        background-size: auto 100%;
        background-repeat: no-repeat;
        margin-top: -4px;
      }
    }

    span {
      font-size: 24px;
    }
  }
}

.emp-status {
  float: none;
  width: auto;
  height: auto;
  overflow: hidden;
  margin: 0 0 0 100px;
}

.additional-details {
  width: auto;
  height: auto;
  display: inline-block;

  p {
    display: inline;
    line-height: 34px;
    vertical-align: middle;
    font-size: 16px;
    color: rgba(35, 35, 35, 0.8);
    margin: 0 24px;
    font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;

    a {
      text-decoration: none;
      color: $blue;

      &:hover {
        color: darken($blue, 10);
      }
    }
  }
}

.app-list,
.employee-list {
  width: 100%;
  height: auto;
  clear: both;
  margin-top: 10px;
  border-top: 1px solid rgba(24, 24, 24, 0.1);
  display: inline-block;

  &.halfsize {
    li {
      width: 50%;
      float: left;
    }
  }

  li {
    list-style: none;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    //    &:hover{
    //      background-color: darken(white,5);
    //      box-shadow: inset 3px 0 0  $gray;
    //    }
    .element-wrapper,
    .table-view,
    a {
      padding: 8px 24px;
      margin: 0;
      display: block;
      overflow: hidden;

      .right-holder {
        float: right;
        width: auto;
        height: auto;
        overflow: hidden;

        p {
          line-height: 24px;
          vertical-align: middle;
          float: left;
          font-size: 14px;

          &.score {
            font-size: 14px;
            font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
            width: 90px;
            text-align: right;

            span {
              font-size: 10px;
            }
            @include textcoloring();
          }

          &.text {
            width: 60px;
            text-align: right;
            @include textcoloring();
            opacity: 0.6;
          }

          &.increase {
            color: $blue;

            &::before {
              background-image: url('../img/icons/arrow-up.png');
            }
          }

          &.decrease {
            color: $red;

            &::before {
              background-image: url('../img/icons/arrow-down.png');
            }
          }

          &.decrease,
          &.increase {
            &::before {
              content: "";
              padding: 2px 6px;
              background-size: auto 100%;
              background-repeat: no-repeat;
              margin-top: -4px;
            }
          }
        }
      }
    }

    .table-view {
      border-top: 1px solid $bordercolor;

      .user-name-wrap {
        width: 160px;
      }

      .man-name {
        width: 130px;
        height: auto;
        line-height: 24px;
        vertical-align: middle;
        float: left;

        a {
          font-size: 14px;
          color: $sp-gray;
          margin: 0;
          padding: 0;
          text-decoration: none;
          border: none;
          @include csstransition(color, 0.2s, ease-in);

          &:hover {
            color: $blue;
          }
        }
      }

      .right-holder {
        p.score {
          width: 124px;
          text-align: center;
        }

        p.text {
          width: 90px;
          text-align: center;
        }
      }
    }
  }

  .user-name-wrap {
    width: auto;
    height: inherit;
    float: left;

    .circle {
      position: relative;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      display: none;
      float: left;
      margin-right: 10px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      p {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        line-height: 24px;
        font-weight: bold;
        color: white;
        font-size: 11px;
        position: relative;
      }

      &.blue {
        background-color: $blue;
      }

      &.red {
        background-color: $red;
      }

      &.gray {
        background-color: $gray;
      }
    }

    .user-name {
      float: left;
      width: auto;
      line-height: 24px;
      vertical-align: middle;
      font-size: 14px;
      color: $sp-gray;
    }
  }
}

.employee-list li {
  border-bottom: 1px solid $bordercolor;

  a {
    display: block;
    @include csstransition(all, 0.2s, ease-in);
    box-shadow: inset 2px 0 0 $gray;
    @include clearfix;

    &:hover {
      background-color: darken(white, 5);
      box-shadow: inset 4px 0 0 $gray;
    }

    .user-name-wrap {
      width: calc(100% - 150px);
      .user-name {
        float: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .right-holder {
      width: 150px;
      > p.score {
        width: 100%;
        text-align: right;
      }
    }
  }

	.managers-stats & {
		a {
      .user-name-wrap {
        width: calc(100% - 180px);
      }
			.right-holder {
				width: 180px;
        > p.score {
          width: 50%;
        }
			}
		}
	}
}

.employee-list.subs {
  li {
    a {
      .user-name-wrap {
        width: calc(100% - 88px);
      }
      .right-holder {
        width: 88px;
        > p {
          float: right;
          &.score {
            width: auto;
          }
          &.text {
            width: 60px;
          }
        }
      }
    }
  }
}

.employee-list.strata {
  li {
    a {
      .right-holder {
        > p {
          &.score {
            width: 90px;
          }
        }
      }
    }
  }
}

.employee-list {
	&--emp-dashboard {
		li {
      a {
        .user-name-wrap {
          width: calc(100% - 50px);
        }
        .right-holder {
          width: 50px;
        }
      }
    }
	}
}

.app-list li {
    .element-wrapper {
        text-decoration: none;
        border-bottom: 1px solid $bordercolor;
        .icon {
            width: 35px;
            height: 35px;
            background-size: 100%;
            margin: 5px;
            &.icon-docs {
                background-image: url('../img/icons/logo_drive.png');
            }
            &.icon-cal {
                background-image: url('../img/icons/cal.png');
            }
            &.icon-chat {
                background-image: url('../img/icons/chat.png');
            }
            &.icon-mail {
                background-image: url('../img/icons/mail.png');
            }
            &.icon-salesforce {
                background-image: url('../img/icons/crm_activity-01.svg');
            }
            &.icon-ppw-leads {
              background-image: url("../img/icons/crm_leads-01.svg");
            }
            &.icon-ppw-opportunities {
              background-image: url("../img/icons/crm_opportunity.svg");
            }
						&.icon-sms {
							background-image: url("../img/icons/mobile_message.svg");
						}
            &.icon-mcalls {
              background-image: url("../img/icons/mobile_call.svg");
            }
            &.icon-rcsms {
              background-image: url("../img/icons/sms.svg");
            }
						&.icon-crm-chatter {
							background-image: url("../img/icons/chatter_msg.svg");
						}
						&.icon-chatter-activities {
							background-image: url("../img/icons/chatter_act.svg");
						}
        }
        .app-name {
            line-height: 45px;
            vertical-align: middle;
            margin-left: 30px;
            float: left;
            font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: $sp-gray;
            font-size: 16px;
        }
        .right-holder {
            p.text {
                line-height: 45px;
                width: 100px;
            }
            p.score {
                line-height: 45px;
            }
        }
    }

}

.cf:after,
.cf:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}
/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.cf {
  *zoom: 1;
}

div.close {
  background-image: url("../img/icons/close.png");
  background-size: 100%;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.crm-system-block {
  display: none;
}

.estimating-txt {
  color: #1e86d9;
}

.chkgroup {
  &.chkgroup--modules {
    @include clearfix;

    label {
      display: block;
      float: left;
      margin-right: 0;
      width: percentage(2/6);
    }
  }
}

.supported-browsers {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
  box-shadow: 0 0 6px 0 rgba(#333, 0.5);
  padding: 30px;
  width: 90%;
  max-width: 554px;
  z-index: 9999;

  .holder {
    .browsers {
      margin-top: 16px;

      a {
        display: inline-block;
        text-decoration: none;
        margin-right: 8px;
        color: #1e86d9;

        img,
        span {
          display: inline-block;
          vertical-align: middle;
        }

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  .dismiss {
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
    position: absolute;
    top: 3px;
    right: 3px;
    height: 28px;
    width: 28px;
    cursor: pointer;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

input[type="checkbox"].chk-default {
  height: auto;
  width: auto;
  vertical-align: middle;
  margin: -3px 0 0;
}

.card-wrap {
    .card-heading.emp-day-stats-heading {
        margin: 6px 20px 0 20px;
    	@include clearfix;
        .left {
            float: left;
        }
        .right {
            float: right;
        }
    }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


ol.ol {
  li {
    margin-top: 12px;
    &:first-child {
      margin-top: 0;
    }
  }
  }

.toggle-checkbox {
    display: inline-block;
    user-select: none;
    padding: 5px 0;

    .toggles {
        display: block;
        @include clearfix;
        > span {
            display: block;
            float: left;

     font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 13px;
      line-height: 22px;
      padding: 2px 6px 0;
      background: lighten(#e2e2e2 , 10%);
      color: lighten($darkgray, 10%);
      border: 1px solid lighten($gray, 12%);
      cursor: pointer;
      opacity: 0.5;
      transition: all 320ms ease;

     &:nth-child(1) {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

     &:nth-child(2) {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background: lighten($gray, 12%);
        color: #FFF;
        opacity: 1;
      }
        }
    }

    input[type="checkbox"] {
        display: none;

       &:checked + .toggles {
          > span {
            &:nth-child(1) {
              background: lighten($gray, 12%);
              color: #FFF;
              opacity: 1;
            }
            &:nth-child(2) {
              color: lighten($darkgray, 10%);
              background: lighten(#e2e2e2 , 10%);
              opacity: 0.5;
            }
          }
        }
    }
}