@font-face {
    font-family: 'Linotte-Regular';
    src: url('../fonts/307BC1_0_0.eot');
    src: url('../fonts/307BC1_0_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/307BC1_0_0.woff2') format('woff2'),
         url('../fonts/307BC1_0_0.woff') format('woff'),
         url('../fonts/307BC1_0_0.ttf') format('truetype');
}


@font-face {
    font-family: 'linottesemibold';
    src: url('../fonts/Linotte-SemiBold-webfont.eot');
    src: url('../fonts/Linotte-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Linotte-SemiBold-webfont.woff2') format('woff2'),
         url('../fonts/Linotte-SemiBold-webfont.woff') format('woff'),
         url('../fonts/Linotte-SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/Linotte-SemiBold-webfont.svg#linottesemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
