.input-wrap {
	position: relative;
	width: 100%;
	height: auto;

	&.floating {
		float: left;
	}

	&.long-text {
		.label {
			width: 30%;
		}

		.textbox {
			width: 68%;
		}
	}

	.has-error {
		&, &.textbox {
			border-color: tomato;
		}
	}

	.label {
		line-height: 16px;
		vertical-align: middle;
		font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
		width: 45%;
		display: inline-block;
		padding: 10px 5%;
		box-sizing: border-box;
	}

	.left-label {
		text-align: left;
	}

	.right-label {
		text-align: right;
	}

	.textbox {
		height: 37px;
		width: 53%;
		border: none;
		border-top: 1px solid rgba(24,24,24,0.5);
		background-color: $input-dark;
		padding: 4px 12px;
		box-sizing: border-box;
		@include csstransition(background,300ms,ease-in);

		&.leftlabel {}

		&:focus {
			background-color: darken($input-dark,3);
		}
	}
}

.views-wrap {
	position: relative;
	float: right;

	button {
		line-height: 30px;
		vertical-align: middle;
		font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: $sp-gray;
		font-size: 14px;
		margin: 2px 4px;
		padding: 0 16px;
		border: 1px solid $smoke;
		border-radius: 3px;
		@include csstransition(all, 0.2s, ease-in);

		&:hover {
			background-color: darken($smoke,5);
		}

		&.active {
			color: $darkgray;
			border: 1px solid $halfgray;
		}
	}
}

.card-wrap {
	.icon {
		position: relative;
		float: left;
		margin: 12px 0 0 12px;
		height: 16px;
		width: 16px;
		background-repeat: no-repeat;
		background-size: auto 100%;

		&.icon-sort {
			background-image: url('../img/icons/sort.png');
		}
	}
}

.wrap {
	.nav-button {
		float: left;
		margin: 5px 12px;
		width: auto;
		height: 24px;
		background-size: 100%;
		border-radius: 12px;
		background-color: $blue;
		padding: 0 12px 0 24px;
		color: white;
		@include csstransition(background,0.2s,ease-in);
		border: none;
		cursor: pointer;

		&.back:before {
			content: "";
			width: 24px;
			height: 24px;
			background-image: url('../img/icons/back.png');
			background-size: auto 100%;
			display: inline-block;
			margin: 0 0 0 -22px;
			position: absolute;
			top: 5px;
		}

		&:hover {
			background-color: darken($blue, 10);
		}
	}

	.help-text {
		font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
		clear: both;
		width: 68%;
		margin-left: 30%;

		margin-top: 4px;

		font-size: 80%;
		color: lighten($darkgray, 20%);

		a {
			color: $blue;
			text-decoration: none;
		}
	}

	.warn-text {
		font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
		clear: both;
		width: 68%;
		margin-left: 30%;
		margin-bottom: -2px;
		margin-top: 12px;

		font-size: 80%;
		color: lighten($darkgray, 20%);

		a {
			color: $blue;
			text-decoration: none;
		}
	}

}

.no-top-margin {
margin-top: 0px;
}

.lh-left-margin {
  margin-left: -12px;
}

.with-top-margin {
  margin-top: 17px;
}

button.block {
	position: absolute;
	right: 0;
	top: 10px;
	min-width: 160px;
}

button.user-settings {
	position: absolute;
	top: 36px;
	right: 0;
}

.form-wrap {
	float: none;
	clear: both;
	border-top: 1px solid rgba(35, 35, 35, 0.2);
	margin-top: 10px;
	width: 100%;
	height: auto;
	display: inline-block;
	padding: 20px;
	box-sizing: border-box;

	.input-wrap {
		.label {
			padding-left: 0;
			float: left;
		}
	}

	.wrap.buttons {
		margin-left: 45%;

		&.long-text {
			margin-left: 30%;
		}
	}
}

td .textbox {
	height: 37px;
	width: 100%;
	border: none;
	border-top: 1px solid rgba(24,24,24,0.5);
	background-color: $smoke;
	padding: 4px 12px;
	box-sizing: border-box;
	@include csstransition(background,300ms,ease-in);

	&.leftlabel {}

	&:focus {
		background-color: darken($input-dark,3);
	}
}

.employee-filters {
	margin: 0;
	width: 100%;
	padding: 20px 1.5%;
	background-color: #eee;
	box-shadow: inset 0 3px 3px #e5e5e5, inset 0 -2px 3px #e5e5e5;
	@include clearfix;

	&,
	* {
		box-sizing: border-box;
	}

	&.one-row {

	}

	&_full {
		float: none;
		width: 80%;
		.filter-wrap {
			float: left;
			width: percentage(4/12);
			padding-left: 15px;
			&:first-child {
				padding-left: 0;
			}
		}
	}

	&_left {
		float: left;
		width: 70%;
		padding-right: 40px;
		.filter-wrap {
			float: left;
			width: percentage(4/12);
			padding-left: 15px;
			&:first-child {
				padding-left: 0;
			}
		}
	}
	&_right {
		float: right;
		width: 30%;
		padding-left: 40px;
		margin-top: (52px - 44px) / 2;
		margin-bottom: (52px - 44px) / 2;
		border-left: 1px solid #D5DCE1;
	}

	.filter-wrap {

		label, input.textbox, select.textbox {
			display: block;
			width: 100%;
		}

		input.textbox, select.textbox {
			font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
			background: #FFF;
			border: 1px solid #D5DCE1;
		}

		input.textbox {
			padding: 10px 12px;
		}

		select.textbox {
			padding: 9px 12px;
		}

		label.label {
			font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
			margin-bottom: 4px;
			font-size: 13px;
			color: lighten(#000, 30%);
		}
	}
}

.visibility-toggle {
	cursor: pointer;
	user-select: none;
	color: lighten(#000, 40%);
	line-height: 1;
	padding: 2px 0;

	> span {
		display: block;
		> span, > i.fa {
			display: inline-block;
			vertical-align: middle;
			line-height: 1;
		}
		> span {
			font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 14px;

			.count {
				font-size: 75%;
				margin-left: 3px;
			}
		}
		> i.fa {
			font-size: 15px;
			margin-top: -2px;
			margin-right: 4px;
			padding-right: 6px;
			border-right: 1px solid lighten(#000, 70%);
			&:before {
				content: "\f070";
			}
		}
	}

	> input {
		display: none;
		&:disabled + span {
			opacity: 0.4;
			cursor: not-allowed;
		}
		&:checked + span {
			> i.fa {
				&:before {
					content: "\f06e";
				}
			}
		}

		&[name="showTerminated"].has-data + span {
			//color: $red;
		}
		&[name="showNewEmployees"].has-data + span {
			// color: $blue;
		}
	}
}
