// main: ../style.scss

html {
  height: 100%;
}

body, html,
h1, h2, h3,
h4, h5, h6,
p, ul, li {
  margin: 0;
  padding: 0;
  font-family: 'Linotte-Regular', sans-serif;
  font-weight: normal;
  color: $darkgray;
}

body {
  background-color: $smoke;
  &.overlay {
    position: relative;
    overflow: hidden;
    &:after {
      content: ' ';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #FFF;
      opacity: 0.6;
      z-index: 9998;
    }
  }
}

textarea,
button,
input[type=text],
input[type=email],
input[type=password],
select{
  background-color: transparent;
  outline: none;
  border: 1px solid #c3c3c3;
  padding: 5px;
  background: #ffffff;

  &:focus,
  &:active {
    border-color: #ababab;
    // border: none;
    // outline: none;
  }
}

textarea{
    resize: vertical;
}

.page-content {
  margin-left: $sidebar-width;
}

.footer {
  padding: 20px 10px;
  font-size: .9em;
  text-align: center;

  p {
    color: #949494;
  }
}
