.content{
  // position: relative;
  // width: 80%;
  // float: right;
  // min-width:992px;
  .one-row{
    position: relative;
    margin: 1%;
    width: 98%;
    height: auto;
    overflow: hidden;
    clear: both;
    float: none;
    .col{
      float: left;
      height: auto;
      margin:2px 0.5%;
    }
    .col-1{
      width: 7.33%;
    }
    .col-2{
      width: 15.66%;
    }
    .col-3{
      width: 24%;
    }
    .col-4{
      width: 32.33%;
    }
    .col-5{
      width: 40.67%;
    }
    .col-6{
      width: 49%;
    }
    .col-7{
      width: 57.33%
    }
    .col-8{
      width: 65.66%;
    }
    .col-9{
      width: 74%;
    }
    .col-10{
      width: 82.33%;
    }
    .col-11{
      width: 90.66%;
    }
    .col-12{
      width: 99%;
    }
      &.topspace{
          margin-top: 40px;
      }
  }

}
