// main: ../style.scss


$select-width: 150px;
$select-height: 40px;


.header {
  // width: 80%;
  // min-width: 992px;
  max-height: 72px;
  background-color: white;
  // margin-left: 20%;
  box-shadow: 0 2px 2px rgba(0,0,0,0.07);

  .header-left {
    float: left;
    margin-left: 1.5%;
  }

  .select-wrapper {
//    float: left;
    display: inline-block;
      select{
        width: auto;
        height: 36px;
        padding: 0 10px;
        margin: 18px 0;
        font-family: linottesemibold;
        font-size: 16px;
          option{
              padding: 10px;

          }
      }
  }

  .select-hidden {
    display: none;
    visibility: hidden;
//    padding-right: 10px;
  }

  .select {
    font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 18px;
    color: $darkgray;
    width: $select-width;
    height: $select-height;
//    margin-top: 16px;
    margin-left: 1%;
    border: 1px solid $halfgray;
    border-radius: 3px;
  }

  .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 12px 18px;
    @include csstransition(all,0.2s,ease-in);

    &:after {
      content:"";
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-color: $darkgray transparent transparent transparent;
      position: absolute;
      top: 16px;
      right: 15px;
    }

    &:hover {
      background-color: darken(white, 2);
    }

    &:active, &.active {
      background-color: darken(white, 5);
      &:after {
        top: 9px;
        border-color: transparent transparent $blue transparent;
        }
      }
    }
  .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 3px 0 0;
    padding: 0;
    list-style: none;
    background-color: darken(white, 5);
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;

    li {
      margin: 0;
      padding: 8px 0;
      text-indent: 15px;
      font-size: 16px;
//      border-top: 1px solid darken(white, 10);
      @include csstransition(all,0.15s,ease-in);
      &:hover {
        color: #fff;
        background: $blue;
        }
      &[rel="hide"] {
        display: none;
      }
    }
  }

  .date-picker {
    display: inline-block;
    vertical-align: middle;
    margin-left: 36px;
  }

  .label {
    font-size: 16px;
    margin-right: 6px;
    color: $halfgray;
    font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    vertical-align: middle;
  }

  .text-filed {
    vertical-align: middle;
    font-size: 14px;
    color: $darkgray;
    max-width: 120px;
    line-height: 1;
    padding: 6px 10px;
    box-sizing:border-box;
    height: 36px;
    border: none;
    border-top: 1px solid rgba(24,24,24,0.5);
    background-color: $input-dark;
    padding: 4px 12px;
    box-sizing: border-box;
  }

  .button {
    margin-left: 12px;
    padding: 9px 18px;
  }

//    .date-picker{
//      width: auto;
//      float: left;
//      height: 72px;
//      margin-left:36px;

//      .select-hidden {
//      display: none;
//      visibility: hidden;
//      padding-right: 10px;
//      }
//      .select {
////        font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
////        cursor: pointer;
//        display: inline-block;
////        position: relative;
//        font-size: 24px;
//        color: $darkgray;
//        width: auto;
////        height: $select-height;
////        margin-top: 16px;
//        margin-left:-20px;
////        border: none;
////        border-radius: 3px;
//      }
//      .select-styled {
//        position: relative;
//        padding: 12px 15px;
//        @include csstransition(all,0.2s,ease-in);
//        &:after {
//          display: none;
//          }
//        &:hover {
//          background-color: darken(white, 2);
//          }
//        &:active, &.active {
//          background-color: darken(white, 5);
//          &:after {
//            display: none;
//            }
//          }
//        }

//      .select-options {
//        display: none;
//        position: absolute;
//        top: 100%;
//        right: 0;
//        left: 0;
//        z-index: 999;
//        margin: 0;
//        padding: 0;
//        list-style: none;
//        background-color: darken(white, 5);
//        box-shadow:0 2px 5px rgba(0,0,0,0.1);
//        border-radius: 5px;
//        overflow: hidden;
//        li {
//          margin: 0;
//          padding: 6px 0;
//          text-indent: 10px;
//          font-size: 16px;
//          border-top: 1px solid darken(white, 10);
//          @include csstransition(all,0.15s,ease-in);
//          &:hover {
//            color: $darkgray;
//            background: $blue;
//            }
//          &[rel="hide"] {
//            display: none;
//            }
//          }
//        }
//    }

    .right-holder {
      float: right;
      width: auto;
      max-height: 72px;
      overflow: hidden;

      .user-name-wrap {
        padding: 0 20px;
        width: auto;
        height: inherit;
        float: left;
        cursor: default;
        @include csstransition(background, 0.5s, ease-in );
        .circle{
          position: relative;
          border-radius: 50%;
          width: 34px;
          height: 34px;
          display: block;
          float: left;
          margin: 17px 0;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

          p{
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            width: 100%;
            line-height: 34px;
            font-weight: bold;
            color: white;
            font-size: 15px;
            position: relative;
            top: 0.1em;
          }
          @include backcoloring();
        }

        .user-name{
					display: none;
          float: left;
          width: auto;
          line-height: 72px;
          vertical-align: middle;
          color: $sp-gray;
        }
//        &:hover{
//          background-color: darken(white,2);
//        }
      }
      .logout {
        text-decoration: none;
        line-height: 72px;
        float: left;
        width: auto;
        padding: 0 28px;
        vertical-align: middle;
        color: $sp-gray;
        background-color: $smoke;
        @include csstransition(all, 0.5s, ease-in);

        &:hover {
          background-color: darken($smoke, 5)
        }
      }
    }
}
