.login-body {
  background-color: $blue;
  width: 100%;
  height: 100%;
}

.login-wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 400px;
  margin: 0 auto;
  max-width: 100%;
}

.login-block {
  background-color: #fff;
  padding: 40px;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  // &:before,
  // &:after {
  //   background: rgba(255, 255, 255, 0.8);
  //   content: '';
  //   display: block;
  //   left: 12px;
  //   right: 12px;
  //   bottom: -5px;
  //   position: absolute;
  //   height: 5px;
  // }
  //
  // &:after {
  //   background: rgba(255, 255, 255, 0.5);
  //   bottom: -10px;
  //   left: 17px;
  //   right: 17px;
  //   height: 10px;
  // }

  label {
    display: block;
    color: $halfgray;
    margin-bottom: 5px;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    font-size: 15px;
    border: none;
    line-height: 1.42857143;
    font-weight: 400;
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    background: $smoke;
    height: 35px;
    padding: 6px 12px;
    color: #555;
    margin-bottom: 10px;
    border-top: 1px solid $input-dark;

    &:focus,
    &:active {
      border-color: darken($input-dark, 15%);;
    }
  }

  input[type=submit] {
    background: $red;
    color: #fff;
    padding: 12px 12px;
    margin: 20px 0 0;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    transition: all ease-in-out .25s;

    &:hover, &:focus, &:active {
      opacity: .8;
    }

    &:focus, &:active {
      opacity: 1;
      background: darken($red, 10%);
      box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.1);
    }
  }

}

.login-error {
  background: lighten($red, 35%);
  border-radius: 4px;
  margin-bottom: 20px;
  color: $red;
  text-align: center;
  padding: 10px;
}

.logo-wrapper {
  width: 300px;
  margin: 0 auto 30px;
  max-width: 100%;

  a {
    display: block;
    width: 100%;
    height: auto;
  }
}
