@mixin csstransition($element, $time, $effect) {
  -webkit-transition: $element $time $effect;
  -moz-transition: $element $time $effect;
  -o-transition: $element $time $effect;
  transition: $element $time $effect;
}
@mixin rotation($radius){
    -ms-transform: rotate($radius); /* IE 9 */
    -webkit-transform: rotate($radius); /* Safari */
    transform: rotate($radius);
}
@mixin textcoloring() {
  &.above, &.increase{
    color: $blue;
  }
  &.baseline, &.same{
    color: $gray;
  }
  &.below, &.decrease{
    color: $red;
  }
}
@mixin backcoloring() {
  &.above, &.blue{
    background-color: $blue;
  }
  &.baseline, &.gray{
    background-color: $gray;
  }
  &.below, &.red{
    background-color: $red;
  }
}

@mixin skwX($deg){
    -ms-transform: skewX($deg); /* IE 9 */
    -webkit-transform: skewX($deg); /* Safari */
    transform: skewX($deg); /* Standard syntax */
}

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
