.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFF;
	width: 95%;
	max-width: 400px;
	box-shadow: 0 0 32px 1px rgba(#000, 0.3);
	font-size: 14px;
	border-radius: 3px;
	overflow: hidden;

	&-title {
		position: relative;
		padding: 14px 15px;
		background: #1e86d9;
		color: #FFF;
		h3 {
			color: #FFF;
		}
		button.dismiss {
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translate(0, -50%);
			padding: 2px;
			color: #FFF;
			background: transparent;
			border: none;
			outline: none;
			box-shadow: none;
			line-height: 0.55;
			cursor: pointer;
			font-family: sans-serif;
		}
	}

	&-body {
		padding: 20px 15px;
		&-donotshow {
			margin-top: 10px;
		}
	}

	&-footer {
		padding: 10px 15px;
		border-top: 1px solid #EEE;
		font-size: 13px;
		text-align: right;
		button {
			&, &.button {
				&, &.gray {
					padding: 4px 8px;
					font-size: 12px;
					margin-left: 2px;
				}
			}
		}
	}
}
