.notifications {

	&_trigger {
		position: relative;
		float: left;
		padding: 0 20px;
		height: 72px;
		cursor: pointer;
		border: none;
		border-right: 1px solid lighten(#494949, 65%);
		color: lighten(#494949, 20%);
		font-size: 18px;
		transition: color 320ms ease;

		&:hover, &:active, &:focus {
			border-right-color: lighten(#494949, 65%);
		}

		&:hover {
			color: lighten(#494949, 10%);
		}

		&:before {
			position: absolute;
			content: "\f0a2";
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		i.fa {
			opacity: 0.8;
			transition: opacity 320ms ease;
		}

		&.open {
			i.fa {
				opacity: 0;
			}
		}


	}

	&_bar {
		box-sizing: border-box;
		position: fixed;
		width: 320px;
		height: 0px;
		right: 0;
		top: 72px;
		z-index: 99; // less than the header
		background: #FFF;
		box-shadow: 0 3px 8px -3px #163954;
		overflow: hidden;
		&_content {
			box-sizing: border-box;
			position: relative;
			overflow-y: auto;
			max-height: calc(100% - 53px);

			&::-webkit-scrollbar {
				width: 4px;
				&-track {
					background: lighten(#494949, 65%);
				}
				&-thumb {
					background: lighten(#494949, 55%);
				}
			}

			.empty-notifications {
				padding: 15px 15px 13px;
				border-bottom: 1px solid lighten(#494949, 65%);
				background: lighten(#494949, 72%);
				color: lighten(#494949, 25%);
				user-select: none;
				font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 14px;
				cursor: default;
			}

			.loading-notifications {
				position: relative;
				width: 100%;
				height: 100px;
			}

			.panel {
				&_title {
					padding: 9px 15px 10px;
					border-bottom: 1px solid lighten(#494949, 65%);
					cursor: pointer;
					user-select: none;
					@include clearfix;
					h3 {
						float: left;
						font-size: 15px;
						width: calc(100% - 16px);
						@include clearfix;
						span {
							font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
							display: block;
							float: left;
						}
						.text {
							line-height: 1;
							margin-top: 2.5px;
							width: 100%;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
						.badge {
							padding: 4px 4px 2px;
							color: #FFF;
							background: $gray;
							font-size: 78%;
							width: 16px;
							text-align: center;
							margin-right: 4px;
							sup {
								line-height: 0;
								font-size: 75%;
								position: relative;
								vertical-align: middle;
							}
						}
					}
					.discard {
						width: 16px;
						text-align: right;
						float: right;
						display: block;
						padding: 3px 0;
						border: none;
						color: $gray;
						cursor: pointer;
						font: normal normal normal 14px/1 FontAwesome;
				    text-rendering: auto;
				    -webkit-font-smoothing: antialiased;
				    -moz-osx-font-smoothing: grayscale;
						font-size: 12px;
						opacity: 0.4;
						transition: opacity 320ms ease;
						&:before {
							content: "\f00d";
						}

						&:hover {
							opacity: 0.6;
						}
					}

					&.above {
						h3 {
							.badge {
								background: $blue;
							}
						}
					}
					&.below {
						h3 {
							.badge {
								background: $red;
							}
						}
					}

					&.has-badge {
						h3 {
							.text {
								width: calc(100% - 28px);
							}
						}
					}
				}
				&_body {
					overflow: hidden;
					ul {
						list-style: none;
						margin: 0;
						padding: 0;
						li {
							border-bottom: 1px solid $bordercolor;
							a {
								position: relative;
								display: block;
								padding: 8px 15px;
								font-size: 13.5px;
								line-height: 24px;
								text-decoration: none;
								color: $sp-gray;
								transition: all 320ms ease;
								@include clearfix;



								span {
									display: block;
								}

								.user-name {
									float: left;
									width: calc(100% - 50px);
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
								}

								.score {
									font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
									float: right;
									text-align: right;
									width: 50px;
								}

								.bdr {
									position: absolute;
									left: 0;
									top: 0;
									width: 2px;
									height: 100%;
									transform-origin: left center;
									transition: width 200ms ease-in;
								}

								&:hover {
									background: lighten($bordercolor, 60%);
									.bdr {
										width: 6px;
									}
								}
							}
						}
					}
				}

				&.below {
					.panel_body {
						ul {
							li {
								a {
									.score {
										// color: $red;
									}
								}
							}
						}
					}
				}
			}
		}
		&_title {
			padding: 18px 15px;
			font-size: 16px;
			font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
			border-bottom: 1px solid lighten(#494949, 65%);
			background: lighten(#494949, 70%);
		}
	}
}
