// main: ../style.scss

.sidebar {
	position: fixed;
	width: $sidebar-width;
	background-color: $darkgray;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 99;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include csstransition(all,0.5s,ease-in);

	&.hidden {
		display: none;
	}

	.inner-wrap {
		position: relative;
		width: 100%;
		float: right;
		height: auto;
		overflow: hidden;

		#logo {
			position: relative;
			display: block;
			width: 170px;
			margin: 36px 40px 36px auto;
		}

		.sidebar-nav {
			position: relative;
			width: 100%;
			height: auto;

			.main-navigation {
				li {
					list-style: none;
					position: relative;
					width: auto;
					height: auto;
					display: block;
					overflow: hidden;
					@include csstransition(all, 0.5s, ease-in);

					&:hover {
						background-color: lighten($darkgray,2);

						a {
							color: white;

							.icon {
								opacity: 1;
							}
						}
					}

					&.active {
						background-color: rgba(255,255,255,0.05);

						a {
							color: white;

							.icon {
								opacity: 1;
							}
						}
						// Removed
						// Vishva Kumara added a comment
						// This is not a bug and needs not fixing. This approach of design causes more bugs. It was the way it is meant to be for a reason.
						// Please let us not file Feature Requests as Bugs.
						// Please revert this change..
						// ul {
						// 	display: block !important;
						// 	height: auto !important;
						// }
						// i.fa {
						// 	pointer-events: none;
						// 	&:before {
						// 		content: "\f0d7";
						// 	}
						// }
					}

					a {
						overflow: hidden;
						padding: 18px 30px;
						float: right;
						width: 190px;
						height: auto;
						display: block;
						line-height: 30px;
						vertical-align: middle;
						text-decoration: none;
						color: rgba(255,255,255,0.5);
						@include csstransition(all, 0.5s, ease-in);
						font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
					}

					ul {
						li {
							a {
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
					}
				}
			}

			.icon {
				float: left;
				width: 30px;
				height: 30px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin-right: 10px;
				opacity: 0.5;

				&.icon-dashboard {
					background-image: url("../img/icons/dashboard.svg");
				}

				&.icon-managers {
					background-image: url("../img/icons/managers.svg");
				}

				&.icon-employees {
					background-image: url("../img/icons/employees.svg");
				}

				&.icon-settings {
					background-image: url("../img/icons/settings.svg");
				}
			}
		}
	}
}
