.inner-header{
    width: 100%;
    height: 60px;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 2px 2px f5f2ef;
    text-align: center;
    .clear-cache{
        position: absolute;
        right: 20px;
        top: 10px;
    }
}
ul.tabs{
    display: inline-block;
    width: auto;
    overflow: hidden;
    height: inherit;
    li.tab-items{
        float: left;
        height: inherit;
        width: auto;
        list-style: none;
        padding: 0 20px;
        font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 60px;
        vertical-align: middle;
        cursor: pointer;
        color: rgba(28,28,28,0.7);
        &.active{
            color: #1c1c1c;
            &::after{
                content: "";
                display: block;
                position: relative;
                bottom: 0;
                height: 3px;
                width: 100%;
                background-color: $blue;
                margin-top: -3px;
            }
        }
        &:hover{
            color: #1c1c1c;
            
        }
    }
}
.button-group-wrap{
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    .btngroup{
        margin: 24px 0 0;
    }
}
.btngroup {
      font-size: 0;
      line-height: 1;
      white-space: nowrap;
      display: inline;
      &.btn {
        font-size: 16px;
        font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-decoration: none;
        background: #e2e2e2;
        border:none;
        border-left-width: 0;
        display: inline-block;
        line-height: 36px;
        vertical-align: middle;
        padding: 0 16px;
        outline: 0; // no glow crap
        border-right: 1px solid  rgba(35,35,35,0.1);
            &:first-child {
              border-left-width: 2px;
              border-radius: 3px 0 0 3px;
              
            }

            &:last-child {
              border-radius: 0 3px 3px 0;
              border: none;
            }
            
          &.active{
              color: $blue;
              background-color: white;
              -webkit-box-shadow:inset 0px 0px 0px 1px #e2e2e2;
              -moz-box-shadow:inset 0px 0px 0px 1px #e2e2e2;
              box-shadow:inset 0px 0px 0px 1px #e2e2e2;
              border: none;
    
          }
          &:hover{
              color: $blue;
          }
    }
}