table {
	background-color: white;
	border-radius: 3px;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0 2px 2px #f5f2ef;
	border-collapse: collapse;
	border: 1px solid rgba(35,35,35,0.1);

	thead {
		border-bottom: rgba(35,35,35,0.1) solid 1px;

		tr {
			text-align: left;
		}
	}

	tbody {
		tr {
			border-bottom: rgba(35,35,35,0.1) solid 1px;
		}
	}

	th {
		padding: 14px 18px;

		&.sortable_th {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor: default;
		}
	}

	td {
		padding: 10px 18px;

		&.no-gutter {
			padding: 0;
		}

		&.no-top-gutter {
			padding: 0 18px;
		}
	}
}

table.employeedata {
	.user-name-wrap {
		.circle {
			display: none;
		}

		.user-name {
			display: inline-block;
			vertical-align: middle;
		}
	}

	tbody tr {
		cursor: pointer;
		@include csstransition(all, 0.2s, ease-in);

		td:first-child {
			@include csstransition(all, 0.2s, ease-in);
			box-shadow: inset 2px 0 0 $gray;
		}

		&:hover {
			background-color: rgba(244,244,244,0.5);

			td:first-child {
				box-shadow: inset 4px 0 0 $gray;
			}
		}
	}

	td {
		font-size: 14px;

		span.active {
			color: $blue;
		}

		span.blocked {
			color: $red;
		}

		span.temp {
			color: rgba(35,35,35,0.5);
		}
	}
}

th.score,
th.text {
	width: 100px;
	text-align: right;
}

td {
	color: rgba(35,35,35,0.8);

	&.score {
		text-align: right;
		font-family: "linottesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
		padding-right: 30px;

		&.above {
			color: $blue;
		}

		&.baseline {
			color: $gray;
		}

		&.below {
			color: $red;
		}
	}

	&.text {
		text-align: right;
		padding-right: 30px;

		&.increase {
			color: $blue;

			&::before {
				background-image: url('../img/icons/arrow-up.png');
			}
		}

		&.decrease {
			color: $red;

			&::before {
				background-image: url('../img/icons/arrow-down.png');
			}
		}

		&.decrease,
		&.increase {
			&::before {
				content: "";
				padding: 5px 8px;
				background-size: auto 100%;
				background-repeat: no-repeat;
				margin-top: -4px;
			}
		}
	}
}
// Score details table
table.stat-details {
	table-layout: fixed;
	width: 100%;

	tfoot {
		display: none;
	}

	tr {
		td,
		th {
			&:nth-child(1) {
				width: 5%;
			}

			&:nth-child(2) {
				width: 80%;
			}

			&:nth-child(3) {
				text-align: right;
				width: 15%;
				font-size: 95%;
			}
		}

		td {
			&.icon-col {
				position: relative;

				div.icon {
					float: none;
					margin: 0 auto;
				}

				.icon-addon {
					position: absolute;
					margin-left: 38px;
					margin-right: 0;
					color: #2C2D2C;
					opacity: 0.9;
					font-size: 15px;
					left: 10px;
					top: 16px;
					text-shadow: 2px 2px 0 #fff;
					&--right {
						left: auto;
						right: 10px;
					}
				}
			}

			&.time-col {
				.time-addon {
					font-size: 80%;
					margin-right: 4px;
					color: $blue;
					text-align: center;

				}

				.time-0, .time-1 {
					&.not-in-range {
						color: #B0B0B0;
					}
				}
			}

			&.no-records {
				cursor: default;
			}
		}

		&.time_range {
			&_prev_day {
				.time-0 {
					color: #B0B0B0;
				}
			}
			&_next_day {
				.time-1 {
					color: #B0B0B0;
				}
			}
		}
	}

	& tr.details td &-inner {
		table-layout: fixed;
		width: 100%;
		margin-left: 0;
		margin-right: 0;

		tbody {
			width: 100%;
		}

		tr {
			&:last-child {
				border-bottom: none;

				td {
					padding-bottom: 0 !important;
				}
			}
		}

		td {
			padding: 8px !important;

			&:nth-child(1) {
				width: 10%;
				padding-left: 0 !important;
			}

			&:nth-child(2) {
				width: 90%;
			}

			&.entities {
				width: 100%;
				white-space: normal;
			}
		}
	}

	&.has-duration {
		tr {
			td, th {
				&:nth-child(1) {
					width: 5%;
				}

				&:nth-child(2) {
					width: 70%;
				}

				&:nth-child(3) {
					text-align: right;
					width: 15%;
					font-size: 95%;
				}
				&:nth-child(4) {
					text-align: right;
					width: 10%;
					font-size: 95%;
				}
			}
		}
		tfoot {
			display: table-footer-group;
		}
	}

	&.has-duration {
		// tr {
		// 	td, th {
		// 		&:nth-child(1) {
		// 			width: 5%;
		// 		}
		//
		// 		&:nth-child(2) {
		// 			width: 70%;
		// 		}
		//
		// 		&:nth-child(3) {
		// 			text-align: right;
		// 			width: 15%;
		// 			font-size: 95%;
		// 		}
		// 		&:nth-child(4) {
		// 			text-align: right;
		// 			width: 10%;
		// 			font-size: 95%;
		// 		}
		// 	}
		// }
		tfoot {
			display: table-footer-group;
		}
	}
}

.highlight .stat-details-inner {
	background: transparent;
}

table.mobiledata {
	width: 100%;
	table-layout: fixed;

	tr {
		 > td,
		> th {
			&:nth-child(1) {
				width: 40%;
			}

			&:nth-child(2) {
				width: 40%;
			}

			&:nth-child(3) {
				width: 20%;
			}
		}
	}
}

.users-table {
	tfoot {
		tr {
			td {
				padding: 5px 8px;
			}
		}
		button {
			padding: 10px 18px !important;
			margin: 0;
		}
	}
}

.table--fixed-body {
	display: block;
	padding: 0;
	&,
	* {
		box-sizing: border-box;
	}
	thead, tfoot, tbody {
		display: block;
		tr {
			display: block;
			@include clearfix;
			th, td {
				display: block;
				float: left;
			}
		}
	}

	tbody {
		max-height: 300px;
		overflow: auto;
		&::-webkit-scrollbar {
			width: 5px;
			&-track {
				background: #ddd;
			}
			&-thumb {
				background: #666;
			}
		}
	}
}
