#timeline-chart {
	height: 164px;
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;

	.ear {
		position: fixed;
		height: 240px;
		width: 50px;
		background-color: #F4F4F4;

		&.right {
			right: 0;
			margin: -55px -25px 0 0;
			border-left: 1px solid #e8e8e8;
		}

		&.left {
			float: left;
			margin: -55px 0 0 -51px;
			border-right: 1px solid #e8e8e8;
		}
	}
}

// #timeline {
// 	height: 103px;
// 	padding: 20px;
// 	position: fixed;
// 	transition: left 0.75s;
// 	-webkit-transition: left 0.75s;
//
// 	.screenshot & {
// 		position: absolute;
// 		margin-left: -285px;
// 	}
//
// 	.hour {
// 		position: absolute;
// 		font-size: 14px;
// 		border-left: 1px solid #D8D8D8;
// 		color: #666666;
// 		padding: 2px 4px;
// 		height: 100%;
// 		// width: 64px;
// 		margin-top: -16px;
// 		z-index: 2;
//
// 		&.half {
// 			border-left: 1px solid #E8E8E8;
// 			color: #BBBBBB;
// 		}
// 	}
//
// 	.event {
// 		position: absolute;
// 		font-size: 12px;
// 		border: 1px solid #D0D0D0;
// 		border-right: 2px solid #E0E0E0;
// 		padding: 4px 4px 2px 14px;
// 		margin-top: 2px;
// 		float: left;
// 		background-color: #F8FAFC;
// 		background-repeat: no-repeat;
// 		background-position: 1px 1px;
// 		overflow: hidden;
// 		height: 21px;
// 		width: 21px;
// 		min-width: 21px;
// 		white-space: nowrap;
// 		text-indent: 6px;
// 		text-overflow: ellipsis;
// 		box-sizing: border-box;
// 		background-size: 16px;
// 		box-shadow: 0 0 5.4px -3px #000000;
// 		border-radius: 3px;
// 		color: transparent;
// 		border-top-right-radius: 0;
// 		border-bottom-right-radius: 0;
// 		cursor: pointer;
// 		z-index: 5;
//
// 		&:hover {
// 			opacity: 1;
// 			z-index: 10;
// 		}
//
// 		&.exclude {
// 			color: #888888 !important;
// 			border-color: #F3E2E2;
// 			z-index: 4;
// 			opacity: 0.5;
// 		}
//
// 		&.dc {
// 			background-image: url("../img/icons/logo_drive_64px.png");
// 		}
//
// 		&.gm {
// 			background-image: url("../img/icons/mail.png");
// 		}
//
// 		&.zc {
// 			background-image: url("../img/icons/crm_conversions-01.svg");
// 		}
//
// 		&.ze {
// 			background-image: url("../img/icons/crm_events-01.svg");
// 		}
//
// 		&.zt {
// 			background-image: url("../img/icons/crm_tasks-01.svg");
// 		}
//
// 		&.zl, &.sfl {
// 			background-image: url("../img/icons/crm_leads-01.svg");
// 		}
//
// 		&.zi {
// 			background-image: url("../img/icons/crm_invoice-01.svg");
// 		}
//
// 		&.za {
// 			background-image: url("../img/icons/crm-01.svg");
// 		}
//
// 		&.cl {
// 			background-image: url("../img/icons/cal.png");
// 		}
//
// 		&.rcc {
// 			background-image: url("../img/icons/calls-01.svg");
// 		}
//
// 		&.rcs {
// 			background-image: url("../img/icons/sms.svg");
// 		}
//
// 		&.tb {
// 			background-image: url("../img/icons/conf_call-01.svg");
//
// 			&:hover {
// 				height: auto;
// 				z-index: 8;
// 			}
//
// 			ul {
// 				margin-left: -12px;
// 				margin-top: 3px;
// 				font-size: 7.5pt;
// 				color: #808080;
// 			}
// 		}
//
// 		&.bs,
// 		&.rc {
// 			background-image: url("../img/icons/calls-01.svg");
// 		}
//
// 		&.sf {
// 			background-image: url("../img/icons/crm_activity-01.svg");
// 		}
//
// 		&.ch {
// 			background-image: url("../img/icons/chat.png");
// 			padding: 2px 4px;
// 			font-size: 0;
// 			height: 19px;
// 			width: 19px;
// 		}
//
// 		&.bs,
// 		&.cl,
// 		&.tb,
// 		&.zc,
// 		&.ze {
// 			border-right: 1px solid #C0C0C0;
// 			color: #202020;
// 		}
//
// 		&.pl {
// 			background-image: url("../img/icons/crm_leads-01.svg");
// 		}
//
// 		&.po {
// 			background-image: url("../img/icons/crm_opportunity.svg");
// 		}
//
// 		&.cll {
// 			background-image: url("../img/icons/mobile_call.svg");
// 		}
//
// 		&.sms {
// 			background-image: url("../img/icons/mobile_message.svg");
// 		}
//
// 		&.cha {
// 			background-image: url("../img/icons/chatter_act.svg");
// 		}
//
// 		&.chm {
// 			background-image: url("../img/icons/chatter_msg.svg");
// 		}
//
// 		i.fa {
// 			margin-left: -12px;
// 			color: #2C2D2C;
// 			opacity: 0.75;
// 		}
// 	}
// }

.dayWorkTimeline {
	position: relative;
	width: 100%;
	height: 200px;
	overflow: auto;
	box-sizing: border-box;

	*, *:after, *:before {
		box-sizing: border-box;
	}

	&::-webkit-scrollbar {
		height: 5px;
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		background: #ddd;
	}
	&::-webkit-scrollbar-thumb {
		background: #888;
	}

	&.no-data {
		overflow: hidden;
		background: #FFF url('../img/broken_ruler.png') no-repeat center center;
		background-size: contain;
		.timeline-inner {
			display: none;
		}
	}

	.timeline-inner {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		padding-top: 5px;
		padding-bottom: 5px;
		@include clearfix;

		.segment {
			position: relative;
			height: 100%;
			float: left;
			border-left: 1px solid #DDD;

			span {
				position: relative;
				display: block;
				font-size: 11px;
				color: #BBB;
				padding-left: 5px;
				background: #FFF;
				z-index: 1;
			}
		}

		.event {
			background: #F8FAFC;
			border: 1px solid #D0D0D0;
			cursor: pointer;
			@include clearfix;

			&.exclude {
				opacity: 0.5;
			}

			.icon {
				display: block;
				float: left;
				height: 18px;
				width: 18px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 80%;
				margin: 0;

				&-dc {
					background-image: url("../img/icons/logo_drive_64px.png");
				}

				&-gm {
					background-image: url("../img/icons/mail.png");
				}

		&-zc, &-scc {
			background-image: url("../img/icons/crm_conversions-01.svg");
		}

		&-ze, &-scm {
			background-image: url("../img/icons/crm_events-01.svg");
		}

				&-zt {
					background-image: url("../img/icons/crm_tasks-01.svg");
				}

				&-zl, &-sfl, &-pl {
					background-image: url("../img/icons/crm_leads-01.svg");
				}

				&-zi {
					background-image: url("../img/icons/crm_invoice-01.svg");
				}

				&-za {
					background-image: url("../img/icons/crm-01.svg");
				}

				&-cl {
					background-image: url("../img/icons/cal.png");
				}

				&-rcc {
					background-image: url("../img/icons/calls-01.svg");
				}

				&-rcs {
					background-image: url("../img/icons/sms.svg");
				}

				&-tb {
					background-image: url("../img/icons/conf_call-01.svg");
				}

				&-bs,
				&-rc {
					background-image: url("../img/icons/calls-01.svg");
				}

				&-sf {
					background-image: url("../img/icons/crm_activity-01.svg");
				}

				&-ch {
					background-image: url("../img/icons/chat.png");
				}

				&-pl {
					background-image: url("../img/icons/crm_leads-01.svg");
				}

				&-po {
					background-image: url("../img/icons/crm_opportunity.svg");
				}

				&-cll {
					background-image: url("../img/icons/mobile_call.svg");
				}

				&-sms {
					background-image: url("../img/icons/mobile_message.svg");
				}

				&-cha {
					background-image: url("../img/icons/chatter_act.svg");
				}

				&-chm {
					background-image: url("../img/icons/chatter_msg.svg");
				}

			}

			span {
				float: left;
				display: block;
				width: calc(100% - 18px);
				font-size: 12px;
				line-height: 18px;
				white-space: nowrap;
			  overflow: hidden;
			  text-overflow: ellipsis;
				user-select: none;
			}

		}
	}
}
