// main: ../style.scss

///////////Colors////////////

$darkgray: #232323;
$blue: #1e86d9;
$red: #f1433c;
$gray: #494949;
$smoke: #f4f4f4;
$sp-gray: rgba(35,35,35, 0.8);
$halfgray: #808080;
$bordercolor : rgba(23,23,23,0.1);
$input-dark : #e2e2e2;

$sidebar-width: 260px;
