
header.header{
	/*background-color:#BCD8E6;*/
	background-color:#D6E4EA;
	position: fixed;
	width: 100%;
	z-index: 10;
	margin-left:0px;
	box-shadow:0px 0px 12px -4px #000000;
}

#logo{
	float:left;
	width:221px;
	margin:15px 33px 21px 3px;
}

form[method="post"]{
	float:left;
}

form select, form select:active, form input, .header input.text-filed[type="date"]{
	border:1px solid #C1D5DE;
	background-color:#E1EEF5;
	border-radius:3px;
}
.calendar{
	border:1px solid #C1D5DE;
	background-color:#D6E4EA;
	border-radius:3px;
}
.calendar table{
	background-color:rgba(255, 255, 255, 0.68);
}

.header .right-holder .logout{
	background-color:#1E86D9;
	color:#FFFFFF;
}
.header .right-holder .logout:hover{
	background-color:#186AAC;
}


#contentEmp{
	margin-top:72px;
}


svg path[stroke^="rgba"]{
}

svg path[stroke^="hsl"], svg circle[fill^="hsl"]{
	opacity:0.75;
	stroke-width:2px;
}

.chartTooltip{
	margin-top: -30px;
}


.card-wrap h2.card-heading{
	/*width:50%;*/
	float:left;
	margin:0px;
}
.card-wrap h3.heading{
	font-family:"linottesemibold";
	color:rgba(35,35,35,0.8);
	font-size:16px;
	/*width:50%;*/
	float:left;
	clear:both;
}
.card-wrap h2.card-heading{
	margin-bottom:21px;
}
.card-wrap.chart h2.card-heading{
	margin:12px 24px;
}
.card-wrap h3.heading{
	margin-bottom:16px;
}
/*.card-wrap h2.chart-heading{
	float:none;
	font-size: 16px;
	font-family: "linottesemibold";
}*/
ul.employee-list{
	margin-top:-5px;
}

p.score.main{
	float:left;
	margin:-6px 0px 0px 21px;
}
p.score span{
	font-size:24px;
}
.score.above{
	color:#1e86d9;
}
.score.below{
	color:#f1433c;
}

.card-wrap{
	min-height:80px;
	padding:36px 24px 18px 24px;
}
.card-wrap.chart{
	padding:0px;
}
.card-wrap.center{
	text-align:center;
}
.card-wrap.above, .card-wrap.baseline, .card-wrap.below{
	border-bottom:8px solid #E3E3E3;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.card-wrap.above{
	border-bottom-color:#B1D3F9;
	background-color:#F3F8FD;
}
.card-wrap.baseline{
	border-bottom-color:#E3E3E3;
}
.card-wrap.below{
	border-bottom-color:#F9ADAD;
	background-color:#FDF5F5;
}

.employee-list li a.self{
	border-left-width: 6px !important;
	background-color: #F4F5EA;
	padding-left: 20px;
}
/**/
.user-name-wrap i{
	float:left;
	color:#808080;
	/*color:#0E8ACC;
	margin:3px 5px 0px 0px;*/
	margin:-2px 5px 0px 0px;
	/*background-color: #008000;*/
	border-radius: 50%;
	padding: 5px 6px;
}
.user-name-wrap b{
	float:left;
	width:30px;
	text-align:right;
	color:#C0C0C0;
	margin:4px 5px 0px -10px;
}
a.self .user-name-wrap b{
	color:#303030;
}
.user-name-wrap .self-icon{
	padding:2px;
	line-height:8px;
}
.user-name-wrap .self-icon img{
	border-radius: 50%;
	height:24px;
	width:24px;
}
/**/
