@font-face {
  font-family: 'Linotte-Regular';
  src: url("../fonts/307BC1_0_0.eot");
  src: url("../fonts/307BC1_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/307BC1_0_0.woff2") format("woff2"), url("../fonts/307BC1_0_0.woff") format("woff"), url("../fonts/307BC1_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'linottesemibold';
  src: url("../fonts/Linotte-SemiBold-webfont.eot");
  src: url("../fonts/Linotte-SemiBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Linotte-SemiBold-webfont.woff2") format("woff2"), url("../fonts/Linotte-SemiBold-webfont.woff") format("woff"), url("../fonts/Linotte-SemiBold-webfont.ttf") format("truetype"), url("../fonts/Linotte-SemiBold-webfont.svg#linottesemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Linotte-Regular', sans-serif;
}

body.error-body {
  position: relative;
  width: 100%;
  height: 100%;
}

.error-text {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 744px;
  margin: 0 auto;
  padding: 40px 15px 20px 15px;
  background: url(../img/error-plugs.png) no-repeat center bottom;
  background-size: contain;
}

@media (min-width: 600px) {
  .error-text {
    padding: 3.5% 40px 20px 40px;
  }
}

.error-text_title {
  margin: 0;
  color: #1e86d9;
  font-size: 60px;
}

@media (min-width: 600px) {
  .error-text_title {
    font-size: 130px;
  }
}

.error-text_description {
  margin: 0;
  color: #777777;
  font-size: 32px;
}

@media (min-width: 600px) {
  .error-text_description {
    font-size: 42px;
  }
}

/*# sourceMappingURL=error.css.map */
