body {
	overflow-y: scroll;
}

body.popup-on {
	overflow-y: hidden;
	/*padding-right:15px;*/
}

body #app{
	transition:filter 0.5s;
	-webkit-transition:-webkit-filter 0.5s;
}
/*body.popup-on #app{
	filter: blur(4px);
	-webkit-filter: blur(4px);
}*/

#employeeChart {
	height: 300px;
}

.chart {
	padding: 0px !important;
	position: relative;
	height:250px;
	height:36vh;
	min-height: 160px;
	max-height: 420px;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

.chart::-webkit-scrollbar,
#timeline-chart::-webkit-scrollbar {
	height: 8px;
	border: 1px solid rgb(185, 212, 236);
	opacity: 0.75;
}

.chart::-webkit-scrollbar-thumb,
#timeline-chart::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: rgba(200, 200, 200, 0.4);
	/*border: 1px solid rgb(192, 218, 242);*/
}

.screenshot .chart{
	height:auto;
}

#dayWorkTimeline .timeline-events .event.right-align{
	text-align:right;
}
#dayWorkTimeline .timeline-events .event.right-align i.icon{
	float:right;
}

.center{
	text-align: center;
}


/*svg{
	/*padding-top:10px;* /
	overflow:visible;
}*/

svg g#chart rect {
	opacity: 0.9;
	stroke: #4F4F4F;
	stroke-opacity: 0;
	stroke-linejoin: round;
	stroke-width: 1px;
	transition: all 0.3s;
}

svg g#chart rect:hover {
	opacity: 1;
	stroke-opacity: 1;
}

svg g#chart g.colgroup rect {
	opacity: 0.85;
	transition: opacity 0.3s;
}

svg g#chart g.colgroup:hover rect {
	opacity: 1;
}

svg g#chart g.colgroup rect.col-group-underline{
	opacity: 0;
	transition: opacity 0.3s;
}
svg g#chart g.colgroup:hover rect.col-group-underline{
	opacity: 1;
}

svg g#chart g[id^="date-"]:hover text {
	font-weight: bold;
}

circle{
	display:inline-block;
	height:12px;
	width:12px;
	margin:0px 0px -2px 10px;
	border-radius:6px;
	transition:r 0.25s;
}


/*svg g#chart g[id^="date-"] g{
	transition:transform 0.5s;
	-webkit-transition:-webkit-transform 0.5s;
}
svg g#chart g[id^="date-"]:hover g{
	transform:rotate(0) translate(0, 0);
	-webkit-transform:rotate(0) translate(0, 0);
}*/


/*ul.tooltip{
	padding:2px;
	margin:0px;
	list-style-type:none;
}*/

ul.tooltip {
	/*background-color:#FFFFFF;*/
	margin-top: 0px;
}

.google-visualization-tooltip {
	z-index: 100;
}

ul.tooltip.employee-list li a {
	padding: 4px 24px;
}

.chartTooltip {
	background-color: rgba(255, 255, 248, 0.85);
	/*30*/
	border: 1px solid #D4D8DC;
	position: fixed;
	padding: 4px;
	white-space: nowrap;
	cursor: default;
	z-index: 100;
	box-shadow: 0px 1px 8px -4px #1A619A;
	border-radius: 4px;
	transform-origin: 50% 50%;
	transition: transform 0.25s, opacity 0.25s, top 0.1s, left 0.1s;
	/*, content 0.25s*/
}

.chartTooltip.above {
	transform-origin: 50% 95%;
}

.chartTooltip.to-right {
	transform-origin: 5px 50%;
}

.context-menu {
	background-color: #FFFFFF;
	font-family: 'Segoe UI', arial, sans-serif;
	font-size: 10pt;
	list-style-type: none;
	position: fixed;
	padding: 3px 0px;
	white-space: nowrap;
	cursor: default;
	outline: none;
	z-index: 100;
	box-shadow: 0px 1px 10px -5px #000000;
	border-radius: 1px;
}

.context-menu li {
	font-family: 'Segoe UI', arial, sans-serif;
	/*min-width: 160px;*/
	padding: 5px 24px 5px 36px;
}

.context-menu li:hover {
	background-color: #4A90D9;
	color: #FFFFFF;
}

.context-menu li i.fa {
	margin-left: -20px;
	margin-right: 5px;
	color: #606060;
}

.context-menu li:hover i.fa {
	color: #E0E0E0;
}

table.sortable td a {
	text-decoration: none;
	background-color: #FFFFE0;
	color: #202060;
}

.alerts-wrap {
	float: left;
	padding: 0 28px;
}

.alerts-wrap img {
	margin: 20px 0px 0px 0px;
	width: 36px;
	height: 36px;
}

.self-icon{
	display: inline-block;
	height: 24px;
	width: 24px;
	vertical-align: -6px;
	padding: 2px;
	margin: -4px 6px -3px 0px;
	overflow: hidden;
	border-radius: 50%;
}
.self-icon img{
	height:24px;
	width:24px;
	border-radius: 50%;
}

#alerts .card-wrap {
	min-height: 0px;
	transition: height 0.5s;
}

#alerts .card-wrap .card-heading {
	cursor: pointer;
	margin: -12px 0px -10px 20px;
	padding: 15px 0px 14px 0px;
}

.card-heading .triangle {
	background-color: #D85848;
	color: #F0E4E4;
	display: inline-block;
	padding: 3px 5px 0px 5px;
	margin: -4px -1px -1px -6px;
	border: 1px solid #AD0C0C;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px -1px #A91F00, inset 2px 2px 5px -3px #FFF, inset -2px -2px 5px -3px #8A0E0E;
	border-radius: 20px;
}

x.fax-times, .card-heading i.fa-times {
	color: #D4B4B4;
	float: right;
	margin: -6px 9px 0px 0px;
	font-size: 14pt;
}

x.fax-times {/*.card-heading */
	margin: -15px 5px 0px 0px;
	font-size: 16pt;
	cursor: pointer;
}
#broadSoftSettings x.fax-times {
	margin: -15px -8px 0px 0px;
}

.card-heading:hover x.fax-times,
.card-heading:hover i.fa-times {
	color: #D48585;
	text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.5);
}

.card-wrap .card-heading i.warning:before {
	content: "\f06a";
	font-family: FontAwesome;
	float: right;
	margin: -22px 12px 0px 0px;
	font-size: 17pt;
	color: #CD8400;
	font-style: normal;
	font-variant: normal;
}

.card-wrap .card-heading i.warning {
	display: none;
}

.card-wrap .card-heading i.warning.warn {
	display: block;
}


.card-wrap .card-heading label.options {
	float: right;
	margin-right: 12px;
}

.card-wrap .card-heading label.options input[type="checkbox"]{
	height: 24px;
	width: 24px;
	vertical-align: -6px;
}

.card-wrap {
	border-radius: 2px;
}

.card-wrap:hover {
	box-shadow: 0 0 2px rgba(30, 134, 217, 0.15);
	border: rgba(107, 124, 137, 0.2) solid 1px;
}

.main-status {
	margin-top: -33px;
	margin-left: 185px;
	float: left;
}

.input-wrap.long-text .textbox.half {
	width: 33.7%;
	display: inline-block;
}

.input-wrap .textbox {
	padding: 10px 12px;
}

.header .text-filed[type="date"],
.input-wrap .textbox {
	border: 1px solid #D5DCE1;
	background-color: #FFFFFF;
	font-family: "linottesemibold";
}

.input-wrap .textbox:focus {
	background-color: #FFFFF0;
}

.input-wrap.width-50 {
	width: 50%;
}

.input-wrap .left-label {
	text-align: right;
}

.input-wrap .left-label.last {
	width: 95%;
	margin-top: -10px;
	/*text-align:left;*/
}

.input-wrap .left-label.last input[type="checkbox"] {
	vertical-align: -20px;
	margin-top: -15px;
}

.chkgroup {
	width: 68%;
	float: left;
}

.chkgroup input[type="checkbox"] {
	height: 22px;
	width: 22px;
	margin: -6px -2px -6px 0px;
	vertical-align: -7px;
}

.chkgroup label {
	display: inline-block;
	padding: 10px 0px;
	margin-right: 3px;
	vertical-align: 8px;
}


/* tr.tablerow td */

input[type="checkbox"] {
	height: 28px;
	width: 28px;
	/*vertical-align:-5px;
	vertical-align:-11px;*/
	vertical-align: -9px;
	margin: -6px 3px -6px 0px;
}

#popup-bg input[type="checkbox"] {
	margin: 2px 3px -6px 0px;
}

.header .text-filed[type="date"] {
	max-width: 160px;
}

.header .text-filed[type="date"]::-webkit-inner-spin-button,
.header .text-filed[type="date"]::-webkit-clear-button {
	display: none;
	-webkit-appearance: none;
}

.header .text-filed[type="date"]::-webkit-calendar-picker-indicator {
	font-size: 14pt;
	margin: -12px -12px -12px -20px;
	padding: 12px 12px 12px 20px;
}

.inner-header {
	position: relative;
	border-bottom:1px solid #EFEFEF;
	height:50px;
}

.header {
	position: fixed;
	width: calc(100% - 260px);
	margin-left: 260px;
	z-index: 98;
	box-shadow: 0 0px 8px -3px #163954;
}

.header .select-wrapper select,
.header .text-filed[type="date"] {
	padding: 8px 12px;
}

.header .date-picker {
	margin-top: -3px;
}

textarea {
	min-height: 50px;
}

/* ------------------------------------------------ */

.search-dropdown{
	margin:-11px;
	/*position:relative;*/
}

.search-dropdown ul.dropdown{
	margin-top:-1px;
	position: absolute;
	background-color:#FFFFFF;
	border:1px solid #D0D0D0;
	display:none;
	width:37%;
	max-height:200px;
	overflow-x:hidden;
	overflow-y:scroll;
	box-sizing: border-box;
	box-shadow:0px 0px 10px -5px #000000;
}
.search-dropdown.open ul.dropdown{
	display:block;
}

.search-dropdown ul.dropdown li{
	padding:6px 14px;
}
.search-dropdown ul.dropdown li:hover{
	background-color:#1E86D9;
	color:#FFFFFF;
}

.search-dropdown input[type="text"]{
	/*padding:10px 17px;*/
	margin:0px;
	box-sizing: border-box;
}
.search-dropdown.open input[type="text"]{
	padding-left: 28px;
}

.search-dropdown i.fa.fa-search{
	display:none;
}
.search-dropdown.open i.fa.fa-search{
	display:inline;
}

.search-dropdown.updated input[type="text"]{
	background-color: #AADDFF;
	background-color: rgba(115, 184, 239, 0.2) !important;
	border-color: #A0B5C6 !important;
	color: #873631;
}

.search-dropdown i.fa.fa-search{
	float: left;
	margin: -29px 0px 0px 10px;
}

/* ------------------------------------------------ */

.app-list li .element-wrapper .icon.icon-zoho {
	background-image: url("../img/icons/crm_tasks-01.svg");
}

.app-list li .element-wrapper .icon.icon-zoho-calls {
	background-image: url("../img/icons/crm_conversions-01.svg");
}

.app-list li .element-wrapper .icon.icon-zoho-cal {
	background-image: url("../img/icons/crm_events-01.svg");
}

.app-list li .element-wrapper .icon.icon-zoho-leads {
	background-image: url("../img/icons/crm_leads-01.svg");
}

.app-list li .element-wrapper .icon.icon-zoho-invoices {
	background-image: url("../img/icons/crm_invoice-01.svg");
}

.app-list li .element-wrapper .icon.icon-zoho-accounts {
	background-image: url("../img/icons/crm-01.svg");
}

.app-list li .element-wrapper .icon.icon-turbobridge {
	background-image: url("../img/icons/conf_call-01.svg");
}

.app-list li .element-wrapper .icon.icon-broadsoft {
	background-image: url("../img/icons/calls-01.svg");
}

#oneEmployeeChart g#chart rect {
	cursor: pointer;
}

.cursor-pointer {
	cursor: pointer;
}

#busy5m {
	height: 160px;
	width: 100%;
	/*top:5px;*/
	/*position:relative;
	padding:20px;*/
}

#busy5m-highlight {
	position: absolute;
	background-color: #E9F5E9;
	border: 1px solid #DAE2DA;
	top: 44px;
	width: 0px;
	height: 110px;
	overflow: hidden;
	transition: left 0.25s, width 0.25s;
	box-shadow: 0px 0px 5px -3px;
	border-radius: 2px;
	/*top:38px;
	border-top:12px solid #CECECE;
	border-top-left-radius:6px;
	border-top-right-radius:6px;*/
}

#busy5m-highlight-inner {
	position: relative;
	background-color: #A0EFA0;
	width: 2px;
	height: 108px;
	transition: left 0.2s;
}

#busyNLP{
	height:160px;
	position:absolute;
	width:100%;
}

#busyNLP .entity{
	top:50px;
	position:absolute;
	display:inline-block;
	font-size:10pt;
	line-height:13px;
	transform:translate(-50%, 0%);
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
	/*box-shadow: 0px 0px 10px rgba(123, 123, 123, 0.8);
	border-radius: 3px;
	background-color: rgba(123, 123, 123, 0.33);
	color: #464646;
	padding: 0px 2px;*/
}

/*#busyNLP .entity:hover{
	z-index:101;
	background-color: rgba(123, 123, 123, 0.5);
	box-shadow: 0px 0px 10px rgba(123, 123, 123, 0.9);
}*/

#entities_space, #entities_selected{
	display: flex;
	max-height:500px;
	overflow-y:auto;
	flex-wrap: wrap;
}
#entities_selected .col-3{
	width:49%;
}
#entities_collections #entities_space .card-wrap.display-none{
	display:none;
}

#entities_collections .card-wrap[data-id]{
	min-height:18px;
	padding:8px;
	text-decoration:none;
	color:#232323;
	margin-bottom:6px;
	cursor:pointer;
}
#entities_collections .card-wrap.selected{
	background-color:#FFFFE0;
}
#entities_selected .card-wrap{
	background-color:#FFFFF0;
}
#entities_selected .card-wrap.selected{
	background-color:#FFFFD0;
}
#entities_collections .card-wrap.organizations{
	border-left: 3px solid #E0A244;
}
#entities_collections .card-wrap.persons{
	border-left: 3px solid #E04444;
}
#entities_collections .card-wrap.consumer_goods{
	border-left: 3px solid #4444E0;
}
#entities_collections .card-wrap.events{
	border-left: 3px solid #E044E0;
}
#entities_collections .card-wrap.locations{
	border-left: 3px solid #E0E044;
}
#entities_collections .card-wrap.work_of_arts{
	border-left: 3px solid #44E044;
}
#entities_collections .card-wrap.others{
	border-left: 3px solid #808080;
}

#entities_collections .card-wrap small, #empCorrelations .card-wrap small{
	color:#909090;
	margin: 2px 0px -5px 0px;
	display: block;
}
tiny{
	display: inline;
	font-size: 0.735em;
}

#entities_collections .card-wrap b.significance{
	float:right;
	text-align:right;
	margin:-3px -3px 0px 0px;
}

#entities_collections .card-wrap b.relations{
	color:#9090E0;
	clear:both;
	float:right;
	text-align:right;
	margin:3px -3px -8px 0px;
}

.correlation-more-details-table .icon{
	background-size: auto 100%;
}

/* ------------------------------------------------ */

.page-content {
	/*position:relative;*/
	padding-top: 72px;
	position: fixed;
	width: calc(100% - 260px);
	transition:top 0.25s;
	-webkit-transition:top 0.25s;
}


/*.content .one-row, .wrap, .input-wrap.floating {
}
#contentMain, #contentSettings, #contentManagers, #contentEmployees, #contentOneEmployee*/

.content {
	position: absolute;
	width: 100%;
	background-color: #f4f4f4;
	opacity: 0;
	transition: opacity 0.2s;
	/*position: absolute;
	margin-left: 20%;*/
	/*, margin 0.25s ease-in-out
	margin-left: -100%;*/
}

.content.active {
	/*margin-left: 20%;*/
	opacity: 1;
}


/*.content.next-active{
	margin-left: 20%;
	opacity:1;
}*/

.popup {
	border: 1px solid #C0C0C0;
	background-color: #FFFFF0;
	position: absolute;
	z-index: 100;
	right: 50%;
	margin-top: -55px;
	border-radius: 4px;
	box-shadow: 1px 1px 15px -4px #000000;
	display: none;
	opacity: 0;
	transition: opacity 0.5s;
}

.popup p {
	padding: 20px;
}

.popup i.fa.fa-times-circle {
	float: right;
	color: #D6A2A2;
	font-size: 14pt;
	margin: 2px 4px;
}

.popup i.fa.fa-times-circle:hover {
	color: #E05D5D;
}

.popup .ear {
	width: 0px;
	margin-top: -38px;
	margin-left: 15px;
	border: 20px solid transparent;
	border-bottom: 20px solid #FFFFF0;
}

.popup .ear.to-down {
	margin-top: 0px;
	border-bottom: 20px solid transparent;
	margin-bottom: -38px;
	border-top: 20px solid #FFFFF0;
}

#empSettings,
#timeSettings,
#employeeSettings,
#userAccounts,
#userSettings,
#confCallSettings,
#crmSettings,
#emailSettings {
	transition: opacity 0.25s ease-in-out;
	position: absolute;
	width: 100%;
	opacity: 0;
}

#empSettings.active,
#timeSettings.active,
#employeeSettings.active,
#userAccounts.active,
#userSettings.active,
#confCallSettings.active,
#crmSettings.active,
#emailSettings.active {
	opacity: 1;
}


/*.one-row.employee-filters{
	margin-bottom:-18px;
}
.content .one-row{
	margin:33px 1% 1% 1%;
}*/

.content .one-row.topspace {
	margin-top: 1%;
}

button.user-profile {
	position: absolute;
	top: 0px;
	/*right: 162px;*/
	right: 0px;
}


/*.messages{
	margin-left: 20%;
}*/

.messages .message {
	color: #001756;
	background-color: #BDDAFF;
	border: 1px solid #80A0D8;
	border-bottom: 2px solid #7090C0;
	padding: 10px 20px 8px 20px;
	margin: 12px 20px 10px 20px;
	transition: all 0.25s;
	border-radius: 3px;
}

.messages .message a.fa{
	float: right;
	font-size: 14pt;
	cursor: pointer;
}

.messages .message.error {
	color: #560000;
	background-color: #FFBDBD;
	border: 1px solid #D88080;
	border-bottom: 2px solid #C07070;
}

.messages .message.success {
	color: #105610;
	background-color: #BDFFBD;
	border: 1px solid #80D880;
	border-bottom: 2px solid #70C070;
}

.messages .message.warning {
	color: #504000;
	background-color: #FFEFBD;
	border: 1px solid #D8C880;
	border-bottom: 2px solid #C0B070;
}

.detail-box {
	cursor: pointer !important;
}

.card-wrap .box-wrap .detail-box .numbers {
	width: 80%;
	margin: 0 10%;
}

ul.tabs li.tab-items {
	transition: color 0.25s ease-in-out;
}

ul.tabs li.tab-items::after {
	content: "";
	display: block;
	position: relative;
	bottom: 0;
	height: 0px;
	width: 100%;
	background-color: #1e86d9;
	margin-top: -3px;
	transition: height 0.25s ease-in-out;
}

ul.tabs li.tab-items {
	padding: 0px;
}

ul.tabs li.tab-items a {
	text-decoration: none;
	color: inherit;
	display: block;
	padding: 0 16px;
	line-height:50px;
}


/* --------------------------------------- */

.btngroup.btn,
.btngroup.btn:hover {
	border: 0px none;
	border-right: 0px none;
	color: #909090;
	cursor: pointer;
	box-shadow: 0px 0px 8px -4px #000;
}

.btngroup.btn.active {
	color: #186AAC;
	box-shadow: inset 0px 0px 8px -4px #000;
}


/* --------------------------------------- */

/*@-webkit-keyframes spin {
	-webkit-transform: rotate(0deg);
	0% {
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}*/

.loading{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 4px;
	width: 0px;
	background-color: #198acb;
	z-index: 99;
	border-radius: 2px;
	box-shadow: 1px -1px 10px #198acb;
}
.loading.animate{
	transition: width 0.4s, opacity 0.5s;
}


/* ----------------- */

@-webkit-keyframes sk-stretchdelay {
	0%,
	60%,
	100% {
		-webkit-transform: scaleY(0.5) translate3d(0px, 22px, 0);
	}
	30% {
		-webkit-transform: scaleY(0.8) translate3d(0px, 3px, 0);
	}
}

@keyframes sk-stretchdelay {
	0%,
	60%,
	100% {
		transform: scaleY(0.5) translate3d(0px, 22px, 0);
	}
	30% {
		transform: scaleY(0.8) translate3d(0px, 3px, 0);
	}
}

.loading-graph {
	/*display: none;*/
	position: absolute;
	top: 50%;
	left: 50%;
	/*margin: 100px auto;*/
	width: 50px;
	height: 50px;
	margin: -12px;
	text-align: center;
	/*border-bottom: 4px solid #74E0EF;
	border-left: 5px solid #74E0EF;*/
}

.loading-graph>div {
	background-color: #76E6FF;
	background-color: rgba(30, 134, 217, 0.85);
	height: 100%;
	width: 6px;
	margin: 3px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite;
	animation: sk-stretchdelay 1.2s infinite;
}

.loading-graph .rect2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.loading-graph .rect3 {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}

.loading-graph .rect4 {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}

i.no-chart {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/broken_ruler.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	font-size: 0pt;
	/*top:50%;
	left:50%;
	width:128px;
	height:128px;
	margin:-64px;
	opacity:0.4;*/
}


/* --------------------------------------- */


/*rect.chart-bar{
	-webkit-animation: kaboom 2s ease alternate;
	animation: kaboom 2s ease alternate;
}
@-webkit-keyframes kaboom {
	0% {
		-webkit-transform:translateY(1000px);
	}
	90% {
		-webkit-transform:translateY(0px);
	}
	100% {
		-webkit-transform:translateY(0px);
	}
}
@keyframes kaboom {
	0% {
		transform:translateY(1000px);
	}
	90% {
		transform:translateY(0px);
	}
	100% {
		transform:translateY(0px);
	}
}*/

circle.hover {
	transition: fill 0.5s;
}

circle.hover:hover {
	fill: rgba(0, 50, 100, 0.35);
}


/* --------------------------------------- */


/*table.employeedata tbody tr{
	border-left: 2px solid #FFFFFF;
}

.user-name-wrap .circle{
	box-shadow: 0px 0px 2px #000;
}*/

table.employeedata .user-name-wrap .circle {
	margin-right: 10px;
}

.user-name-wrap .circle {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	margin: 1px 16px 1px 28px;
	box-shadow: 0px 0px 5px -1px;
	background-size: contain;
	/*background-blend-mode: screen;*/
}

.emp-status {
	/*margin: 9px 0 -20px -12px;*/
	margin: 6px 0 -16px 100px;
	clear: both;
}

.wrap .user-name {
	float: left;
	width: auto !important;
}


/*.select-options {
	display: none;
	position: absolute;
	cursor: pointer;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	width: 160px;
	margin: 0px 0px 0px 152px;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	overflow: hidden;
}

.select-options li {
	margin: 0;
	padding: 8px 0;
	text-indent: 15px;
	font-size: 16px;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}

.select-options li.current{
	color: #fff;
	background: #1e86d9;
}*/

tr:hover td.text.increase,
tr:hover td.score.above {
	/*color: #1e86d9;*/
	color: #008DFF;
}

tr:hover td.text.decrease,
tr:hover td.score.below {
	/*color: #f1433c;*/
	color: #FF1D14;
}

#employeeSettings{
	background-color:#f4f4f4;
}
#employeeSettings .card-wrap{
	min-height: 70px;
}

#broadSoftSettings form[name="broadSoftSettings"] ul{
	list-style-type:none;
	margin:-16px -16px 20px -16px;
	padding:0px;
}
#broadSoftSettings form[name="broadSoftSettings"] ul li{
	padding:16px;
	border-bottom:1px solid rgba(35, 35, 35, 0.2);
}

.button {
	max-width: 300px !important;
	text-decoration:none;
}

.transcript-expand a.button.show-more-transcript{
	display:inline-block;
	position:absolute;
	/*right:-8px;*/
	bottom:-5px;
	margin-bottom:5px;
	padding:2px 8px;
	color:#FFFFFF !important;
	background-color:#1e86d9 !important;
	/*opacity: 0.4;*/
	transition: opacity 0.35s;
}
.transcript-expand a.button.show-more-transcript:hover{
	background-color: #186aac !important;
}
/*.transcript-expand:hover a.button.show-more-transcript{
	opacity: 1;
}*/
.button.small{
	padding:5px 10px;
}
.button small{
	color:#a4cef0;
	/*background-color:#4a9ddf;*/
}
.button img{
	margin: -4px -1px -8px -14px;
}

.button.green {
	background-color: #338F35;
}

.button.white {
	background-color: #FFFFFF;
	color: #303030;
	/*padding-left:10px;*/
	border: 1px solid #D0D0D0;
	text-decoration: none;
}

.button.white img{
	vertical-align: -64%;
	margin: 0px 4px 0px -6px;
}

.button.gray {
	color: #555555;
	background-color: #F0F0F0;
	padding: 9px 17px;
	border: 1px solid #D6D6D6;
	transition: all 300ms ease;
	/*border:1px solid #A6C5DE;*/
}

.button.gray:hover,
.button.gray:focus {
	background-color: #d8d8d8;
}

.button[disabled],
.button[disabled]:hover,
.button[disabled]:active {
	background-color: #7098B8;
	cursor: not-allowed;
}

.button.red[disabled],
.button.red[disabled]:hover,
.button.red[disabled]:active {
	background-color: #B87070;
}
i.fa.red {
	color: #ffa07a;
}

.wrap.buttons.fix-at-bottom {
	position: fixed;
	bottom: 0px;
	width: auto;
	background-color: #F4F4F4;
	/*margin:4px auto 3px -16px;*/
	margin-bottom: 3px;
	box-shadow: 0px 0px 4px 4px #F4F4F4;
	transition:margin-bottom 0.5s, opacity 0.5s;
}


/*.wrap.buttons.fix-at-bottom button{
}*/

table td button,
table td select {
	margin: -12px 0px;
}

table td button {
	padding: 4px 14px !important;
}

table td select,
table td input[type="text"],
table td input[type="email"] {
	font-family: 'Linotte-Regular', sans-serif;
	font-size: 14px;
	margin: -11px -19px -11px -18px;
	padding: 10px 14px;
	border: 1px solid #E0E0E0;
	background-color: rgba(255, 255, 255, 0.25);
	width: calc(100% + 37px);
	transition: background-color 0.5s ease-in-out;
}

table td input[type="text"],
table td input[type="email"] {
	padding: 11px 14px;
	width: calc(100% + 6px);
}

table td select:focus,
table td input[type="text"]:focus,
table td input[type="email"]:focus {
	position: relative;
	z-index: 100;
	box-shadow: 0px 0px 10px -5px #000000;
}

table td select *,
table td select option {
	width: 100%;
	color: rgba(35, 35, 35, 0.8);
	/*overflow:hidden;
	text-overflow:ellipsis;*/
}


/*table td select *:active{
	color:#123047;
	background-color:#A3C1D7;
}*/

table td select *[disabled] {
	color: #A6BED1;
}

table td label {
	padding: 9px 2px 6px 1px;
	border-radius: 3px;
	transition: background-color 0.5s ease-in-out;
}

select.updated,
input.updated,
label.updated {
	/*background-color:#AADDFF;*/
	background-color: rgba(115, 184, 239, 0.2) !important;
	border-color: #A0B5C6 !important;
	color: #873631;
	position: relative;
	z-index: 100;
}

select.warning,
input.warning,
label.warning {
	/*background-color:#AADDFF;*/
	background-color: rgba(239, 207, 115, 0.2) !important;
	border-color: #C6A9A0 !important;
	color: #873631;
	position: relative;
	z-index: 100;
}

table td .times {
	float: right;
}

table td.icon-col {
	width: 20px;
	padding: 10px;
}

/*table td.icon-col i.call{
	width:16px;
	height:16px;
	position: absolute;
	top:12px;
	background-image:url('../img/icons/call-dir-icon.png');
	background-size:contain;
}
table td.icon-col i.call.incoming{
	left:17px;
}
table td.icon-col i.call.outgoing{
	left:46px;
}*/

table tr.include td {
	color: #232323;
}

table tr.exclude td .icon {
	opacity: 0.5;
}

table tr.exclude td {
	color: #B0B0B0;
}
table tr.exclude td, table tr.exclude td p.user-name{
	color: #C0C0C0;
}

table tr.include.sub td {
	color: #808080;
	font-size: 11pt;
	padding: 6px 18px;
}

table tr.include.sub td.icon-col {
	padding: 5px 10px;
}

table tr.include.sub td div.icon {
	margin-right: -32px;
	margin-left: 31px;
	background-size: 15px;
	opacity: 0.75;
}

table tr.include.sub td:nth-child(2) {
	padding-left: 20px;
}

table tr.selected {
	background-color: #DBEEFD;
}
table tr.highlight {
	background-color: #FFFFC0;
}
table tr.highlight.selected {
	background-color: #EBFFF5;
}


table.stat-details td {
	vertical-align: top;
}

table.stat-details .hasDetails td {
	cursor: pointer;
}

div.transcript-expand{
	position: relative;
	overflow:hidden;
	height:52px;
	padding-bottom: 24px;
	transition:height 0.5s;
}
div.transcript-expand:before{
	content: ' ';
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 30px;
	/*background-color: green;*/
	box-shadow: 0px -32px 20px -20px inset #FFFFFF;
	opacity: 1;
	transition: opacity 1s;
}
tr.tablerow.highlight div.transcript-expand:before{
	box-shadow: 0px -32px 20px -20px inset #FFFFC0;
}
div.transcript-expand.expanded:after{
	opacity: 0;
}

/*table.stat-details td i.fa{
	position: relative;
	margin-left: -38px;
	margin-right: 22px;
	z-index: 100;
	color:#2C2D2C;
	opacity:0.75;
}*/

/*table.stat-details td i.fa.fa-reply,
table.stat-details td i.fa.fa-share {
	position: relative;
	margin-left: -38px;
	margin-right: 22px;
	z-index: 100;
	color: #2C2D2C;
	opacity: 0.75;
}*/

table.stat-details td table {
	/*width:100%;*/
	margin-top: 10px;
	display: none;
	padding: 0px;
	border: 0px none;
	box-shadow: none;
}

table.stat-details tr.details td table{/*, table.stat-details tr.highlight td table */
	display: table;
	overflow: hidden;
	/*transition:height 0.5s;*/
	margin-left: -52px;
	margin-right: -288px;
}
table.stat-details tr.details td table.stat-details-inner td:nth-child(2) {
	width: 61%;
}

table.stat-details td table th,
table.stat-details td table td {
	padding: 4px 16px !important;
	text-align: left;
	font-size: 10pt !important;
	color: #404040;
	width: 100%;
}

table.stat-details td table th:first-child,
table.stat-details td table td:first-child {
	width: 200px;
	font-weight: bold;
	white-space: nowrap;
}

table.stat-details-inner span.nlpentity{
	border: 1px solid #D0D0D0;
	padding: 4px;
	background-color: #F8FAFC;
	margin-right:10px;
	margin-bottom:8px;
	display:inline-block;
	box-shadow: 0px 0px 5.4px -3px #000000;
}
table.stat-details-inner span.nlpentity i.fa{
	vertical-align: -1.5px;
}

table.correlation-details td {
	vertical-align: top;
	cursor: pointer;
}
table.correlation-details td table th, table.correlation-details td table td{
	padding:4px;/* !important*/
	text-align:left;
	font-size:10pt !important;
	color:#404040;
}
table.correlation-details th:last-child, table.correlation-details td:last-child{
	width:20%;
}
table.correlation-details td table{
	/*margin-top:10px;*/
	display:none;
	padding: 0px;
	border: 0px none;
	box-shadow: none;
}
table.correlation-details td table tr{
	border-bottom:0px none;
}
table.correlation-details tr.details td table{/*, table.stat-details tr.highlight td table*/
	display:block;
	overflow:hidden;
}
table.correlation-details tr.details td table td.icon-col{
	padding:0px !important;
	line-height:24px;
}
table.correlation-details td table table{
	margin-right:15px;
}
table.correlation-details td table table tr{
	border-bottom:rgba(35,35,35,0.1) solid 1px;
}

.correlationsOrgData-wrap .correlation-details tbody{
	height:42vh;
	min-height:300px;
	overflow-x:hidden;
	overflow-y:scroll;
}

#chart_correlations, #correlationDetails{
	display:none;
}

#chart_correlations .chart{
	max-height:200px;
}

#engagement-title{
	text-align:center;
	word-break: break-all;
}

#prodUsage tr td.icon-col div.icon{
	display: inline-block;
	height: 24px;
	width: 24px;
	margin: -4px -4px -8px 0px;
}
/*#empEngagement tr, #prodUsage tr{
	cursor:pointer;
}*/
table#correlationDetails, #contentOneEmployee #drilldown-row table{
	table-layout:fixed;
}
/*#correlationDetails tr td span{
	width:calc(100vw - 756px);
	max-width:60vw;*/
td span.ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display:block;
}

/*#raw-data{
	position:fixed;
	background-color:#FFFFFF;
	z-index:100;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	overflow:scroll;
}*/

#raw-data th[colspan] {
	width: auto;
}


/*#raw-data th, #raw-data td{
	width:80px;
}*/

#raw-data th.vl,
#raw-data td.vl {
	/*width:120px;*/
	border-right: 1px solid #808080;
}

#raw-data tr:first-child th:first-child {
	height: 38px;
}


/*#raw-data thead{
	position: fixed;
	background-color: #FFF;
	z-index:100;
	border-bottom:1px solid #808080;
	box-shadow:0px 0px 10px -2.5px #000000;
}
#raw-data tbody{
	margin-top: 102px;
	display: block;
}*/

#raw-data th:first-child,
#raw-data td:first-child {
	width: 120px;
	white-space: nowrap;
	display: block;
	position: relative;
	background-color: #FFF;
	box-shadow: 0px 0px 10px -2.5px #000000;
}

#raw-data th {
	font-size: 11pt;
}

#raw-data th b {
	font-size: 13pt;
}

#raw-data th span {
	float: right;
	font-size: 8pt;
	text-align: right;
	margin-top: -32px;
	font-family: monospace;
}

#raw-data td {
	text-align: right;
	font-size: 11pt;
}

#raw-data tbody tr:hover td {
	background-color: #FFFFE0;
}

#raw-data td span {
	font-size: 7pt;
	text-align: right;
	font-family: monospace;
	line-height: 11px;
	margin: -8px;
	display: block;
}


/*#raw-data thead, #raw-data th:first-child, #raw-data td:first-child{
	position:fixed;
}*/

.sidebar .inner-wrap .sidebar-nav .icon.icon-admin {
	background-image: url("../img/icons/settings.svg");
}

.sidebar .inner-wrap .sidebar-nav .icon.icon-feedback {
	background-image: url("../img/icons/icon_feedback.svg");
	filter: brightness(200%);
	-webkit-filter: brightness(200%);
}

.sidebar .inner-wrap .sidebar-nav .icon.icon-on-progress {
	background-image: url("../img/icons/dashboard.svg");
}

.sidebar .inner-wrap .sidebar-nav .icon.icon-usage {
	background-image: url("../img/chart-icon.png");
}

.sidebar .inner-wrap .sidebar-nav .icon.icon-memcached {
	background-image: url("../img/icons/MEMCACHED.svg");
}

.sidebar .inner-wrap .sidebar-nav .icon.icon-correlations {
	background-image: url("../img/icons/network.svg");
}

.sidebar .inner-wrap .sidebar-nav .icon.icon-calculator {
	background-image: url("../img/icons/calculator.svg");
}

.sidebar .inner-wrap .sidebar-nav .icon.icon-profile {
	background-image: url("../img/icons/user.svg");
}

.sidebar .inner-wrap .sidebar-nav .icon.credit-card {
	background-image: url("../img/icons/credit-card.svg");
}

.sidebar .inner-wrap .sidebar-nav .icon.icon-taskq {
	background-image: url("../img/icons/icon-taskq.svg");
	background-size: contain;
	background-position: center;
}


/*ul.employee-list li a .right-holder p.score{
	width:38px;
}*/

.employee-list .user-name-wrap,
.app-list .user-name-wrap {
	margin-right: -100px;
}


/* ------------------------------------------------ */

nav.sidebar-nav {
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #222222;
	height: calc(100vh - 297px) !important;
	box-shadow: 0px 6px 12px -10px #000000 inset, 0px -6px 12px -10px #000000 inset;
	/*direction:rtl;*/
}

nav.sidebar-nav::-webkit-scrollbar {
	width: 8px;
	opacity: 0.75;
}


/*nav.sidebar-nav::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}*/

nav.sidebar-nav::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: rgba(200, 200, 200, 0.4);
}

.sidebar {
	background-color: #343434;
	border-right: 1px solid #444444;
	box-shadow: 0px 0px 6px -1px;
}

.sidebar .inner-wrap #logo {
	margin: 22px 40px 23px auto;
}


/*.sidebar .inner-wrap, .sidebar .bottom{
	direction:ltr;
}*/

.sidebar .inner-wrap .sidebar-nav .main-navigation li i.fa {
	color: rgba(255, 255, 255, 0.5);
	padding: 19px 14px;
	cursor: pointer;
}

.sidebar .inner-wrap .sidebar-nav .main-navigation li a {
	padding: 14px 0px 14px 14px;
}

.sidebar .inner-wrap .sidebar-nav .main-navigation li ul {
	/*display: none;*/
	height: 0;
	clear: both;
	overflow: hidden;
	/*transition: height 0.5s;
	-webkit-transition: height 0.5s;*/
}


/*.sidebar .inner-wrap .sidebar-nav .main-navigation li.active ul{
	display:block;
}*/

.sidebar .inner-wrap .sidebar-nav .main-navigation li ul li {
	color: rgba(255, 255, 255, 0.5);
	font-size: 11pt;
	padding: 2px 0px;
}

.sidebar .inner-wrap .sidebar-nav .main-navigation li ul li img {
	float: right;
	height: 12pt;
	width: 12pt;
	margin: 6px 6px 0px 0px;
	border-radius: 50%;
	opacity: 0.75;
}
.sidebar .inner-wrap .sidebar-nav .main-navigation li ul li:hover img {
	opacity: 0.95;
}

.sidebar .inner-wrap .sidebar-nav .main-navigation li ul li a {
	padding: 0px;
	font-size: 14px;
	font-family: 'Linotte-Regular', sans-serif;
}


/*.sidebar .inner-wrap .sidebar-nav .main-navigation li ul li span{
	text-align:right;
	float:right;
	width:32px;
	position:relative;
	line-height:32px;
	display:inline-block;
	margin:0px 10px -2px -42px;
}*/

/*.sidebar .sidebar-nav .main-navigation.home{
	margin-bottom:80px;
}*/

.sidebar .sidebar-nav .main-navigation.lower{
	bottom: 148px;
	position: fixed;
	width: 260px;
	border-top:1px solid #313131;
	background-color: #222222;
	transition:bottom 0.5s;
}

nav.sidebar-nav.admin {
	height: calc(100vh - 133px) !important;
}
.sidebar .sidebar-nav.admin .main-navigation.lower, .sidebar .sidebar-nav.admin .main-navigation.bottom{
	bottom: 2px;
}

.sidebar .sidebar-nav .main-navigation.lower li{
	padding: 7px 0px 7px 7px;
}

.sidebar .sidebar-nav .main-navigation.lower li a{
	font-size:11pt;
	padding:7px 0px 7px 7px;
	line-height:10px;
	width:221px;
	opacity:0.5;
}
.sidebar .sidebar-nav .main-navigation.lower li a[href]{
	opacity:1;
}
.sidebar .inner-wrap .sidebar-nav .main-navigation.lower li:hover a {
	color: rgba(255, 255, 255, 0.5);
}
.sidebar .inner-wrap .sidebar-nav .main-navigation.lower li:hover a[href] {
	color: white;
}
.sidebar .inner-wrap .sidebar-nav .main-navigation.lower li:hover a .icon {
	opacity: 0.5;
}
.sidebar .inner-wrap .sidebar-nav .main-navigation.lower li:hover a[href] .icon {
	opacity: 1;
}
.sidebar .sidebar-nav .main-navigation.lower .icon{
	height:16px;
	width:16px;
	margin-top:-5px;
}
.sidebar .sidebar-nav .main-navigation.lower .icon-profile img{
	height: 16px;
	width: 16px;
	border-radius: 50%;
}


/* ------------------------------------------------ */

.sidebar .bottom {
	position: fixed;
	bottom: 0px;
	width: 260px;
	/*background-color:rgba(255,255,255,0.025);*/
	transition:bottom 0.5s;
}
.sidebar .bottom.collapsed {
	bottom:-96px;
}
.sidebar .sidebar-nav.bottom-collapsed .main-navigation.lower{
	bottom: 32px;
}
.sidebar-nav{
	transition:height 0.5s;
}
.sidebar-nav.bottom-collapsed{
	height:calc(100vh - 104px) !important;
}

.sidebar .bottom * {
	color: rgba(255, 255, 255, 0.5);
}

.sidebar .bottom li:hover {
	color: rgba(255, 255, 255, 0.75);
}

.sidebar .bottom h2 {
	margin: 8px 20px 5px 35px;
	font-size:16pt;
	cursor:pointer;
}

.sidebar .bottom h2 i.fa{
	float:right;
	/*margin:0px 0px 0px -20px;*/
}

.sidebar .bottom ul.legend {
	margin: 5px 20px 8px 25px;
	list-style-type: none;
}

.sidebar .bottom ul.legend li {
	padding: 8px 10px;
}

.sidebar .bottom ul.legend li h3 {
	font-size: 11px;
	position: relative;
}

.sidebar .bottom ul.legend li h3 normal {
	transition: opacity 0.5s;
}

.sidebar .bottom ul.legend li h3 hover {
	opacity: 0;
	transition: opacity 0.5s;
	left: 28px;
	position: absolute;
}

.sidebar .bottom ul.legend li:hover h3 normal {
	opacity: 0;
}

.sidebar .bottom ul.legend li:hover h3 hover {
	opacity: 1;
}

.sidebar .bottom ul.legend li p {
	font-size: 10pt;
}

.sidebar .bottom ul.legend li span {
	float: right;
	text-align: right;
}

.sidebar .bottom ul.legend li .indicator {
	float: left;
	height: 16px;
	width: 20px;
	margin: -2px 6px 0px 0px;
	border: 1px solid #6F6F6F;
	border-radius: 2px;
}

.sidebar .bottom ul.legend li .indicator.above {
	background-color: #1e86d9;
}

.sidebar .bottom ul.legend li .indicator.average {
	background-color: #494949;
}

.sidebar .bottom ul.legend li .indicator.below {
	background-color: #f1433c;
}


/* ------------------------------------------------ */

.header .right-holder .notifications-wrap {
	cursor: pointer;
	margin: 19px 8px 19px 8px;
	float: left;
	font-size: 24px;
	width: 38px;
	height: 38px;
	padding: 5px;
	/*border-radius:50%;*/
	box-sizing: border-box;
}


/*
.header .right-holder .notifications-wrap svg{
	height:28px;
	width:28px;
}
.header .right-holder .notifications-wrap svg path#Shape{
	fill:#808080;
	transition:fill 0.5s;
}
.header .right-holder .notifications-wrap:hover svg path#Shape{
	fill:#31A8E8;
}
/** /
.header .right-holder .notifications-wrap i.fa{
	color:#777777;
	font-size:33px;
	/*padding:6px 8px;
	opacity:0.72;* /
}
.header .right-holder .notifications-wrap:hover i.fa{
	/*opacity:1;* /
	color:#1E86D9;
}
/**/


/* ------------------------------------------------ */

#popup-bg {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 100;
	display: none;
	opacity: 0;
	box-shadow: 0px 0px 300px -50px #363636 inset;
	overflow-y: scroll;
	transition: opacity 0.5s;
}

#popup-bg .card-wrap {
	/*width:600px;
	top:calc(50vh - 300px);
	left:calc(50% - 300px);*/
	width: 50%;
	height: 544px;
	top: 100vh;
	left: 85%;
	position: relative;
	box-shadow: 0px 0px 120px -20px #000;
	zoom: 0.2;
	transition: all 0.5s;
}

#popup-bg textarea {
	width: 98%;
	height: 116px;
}

#popup-bg #screenshot {
	width: 99%;
	position: relative;
	border: 3px solid #D0D0D0;
	margin-bottom: -21px;
	min-height: 250px;
	/*height:70vh;
	max-height: 300px;
	overflow-y: auto;
	zoom:0.45;*/
	/*-ms-zoom: 0.75;
	-moz-transform: scale(0.75);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.75);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.75);*/
}

#popup-bg #screenshot canvas {
	width: 100%;
	margin-bottom: -6px;
	cursor: url('../img/icons/pen.png'), cell;
}

#popup-bg #screenshot canvas.erase {
	cursor: url('../img/icons/eraser.png'), cell;
}

#popup-bg #screenshot .loading {
	zoom: 0.2;
	border-width: 12px;
}

#popup-bg .draw-tools {
	float: right;
	margin-top: -3px;
}

#popup-bg .draw-tools img {
	height: 24px;
	width: 24px;
}

#popup-bg .draw-tools a {
	display: inline-block;
	margin: 3px;
	padding: 4px 4px 0px 4px;
	background-color: #F0F0F0;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
}
#popup-bg .draw-tools a.active {
	background-color:#E0E0E0;
	box-shadow:0px -1px 4px -2px #000000 inset;
}

#popup-bg .draw-tools i.fa {
	padding: 3px;
	font-size: 18pt;
}

#popup-bg .content.message {
	height: 90%;
	padding: 3px;
	font-size: 13pt;
	text-align: center;
	padding-top: 21px;
	margin-top: 11px;
	background-color: rgba(214, 214, 214, 0.52);
}

#popup-bg .content.message i.fa.fa-check-circle-o {
	display: block;
	font-size: 54px;
	color: #109D10;
	margin-bottom: 10px;
}

.heatmap-elem {
	position: absolute;
	height: 40px;
	width: 40px;
	margin: -20px;
	background-color: #FF8000;
	z-index: 1000;
	box-shadow: 0px 0px 40px #FFF000;
	border-radius: 20px;
	opacity: 0.5;
}

/* ------------------------------------------------ */

/*table.stat-details-inner*/ i.fa.sentiment{
	border-radius:50%;
	line-height:15px;
	font-size:16pt;
	vertical-align:-4px;
}
/*table.stat-details-inner* / i.fa.fa-smile-o{
	color:#2ea02e;
	background-color:#ffffbc;
}
/*table.stat-details-inner* / i.fa.fa-meh-o{
	color:#6b8e8b;
	background-color:#fff46c;
}
/*table.stat-details-inner* / i.fa.fa-frown-o{
	color:#cc7044;
	background-color:#ffda97;
} */

table.stat-details-inner i.fa.fa-question-circle{
	color:#b9b9b9;
	margin-left: 6px;
}

table.stat-details-inner i.fa.fa-question-circle{
	color:#b9b9b9;
	margin-left: 6px;
}

/* ------------------------------------------------ */

.card-wrap {
	border-radius: 2px;
}

.card-wrap:hover {
	box-shadow: 0 0 2px rgba(30, 134, 217, 0.15);
	border: rgba(107, 124, 137, 0.2) solid 1px;
}

/*.emp-header .emp-status-details > div:last-child{
	margin-bottom: 3px;
}*/

#app.say-cheese .chartTooltip {
	display: none !important;
}

#app.say-cheese .circle,
#app.say-cheese .triangle {
	border-radius: 10px !important;
}

#app.say-cheese g text,
.say-cheese g text {
	display: none !important;
}

.header .right-holder a.user-name-wrap[href]{
	cursor: pointer;
}


.dayWorkTimeline .timeline-inner .event{
	transition: box-shadow 0.7s;
}
.dayWorkTimeline .timeline-inner .event.glow{
	box-shadow: 0px 0px 16px 3px #FFF000;
}


.notifications_bar_content{
	max-height:calc(100vh - 130px) !important;
}
#notificationBar.open{
	height:auto !important;
}

/* ------------------ */

.supported-browsers {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFF;
	box-shadow: 0 0 6px 0 rgba(51, 51, 51, 0.5);
	padding: 30px;
	width: 90%;
	max-width: 554px;
	z-index: 9999;
}

.supported-browsers .holder .browsers {
	margin-top: 16px;
}

.supported-browsers .holder .browsers a {
	display: inline-block;
	text-decoration: none;
	margin-right: 8px;
	color: #1e86d9;
}

.supported-browsers .holder .browsers a img,
.supported-browsers .holder .browsers a span {
	display: inline-block;
	vertical-align: middle;
}

.supported-browsers .holder .browsers a img {
	width: 40px;
	height: 40px;
}

.supported-browsers .dismiss {
	padding: 0;
	border: 0;
	margin: 0;
	outline: 0;
	position: absolute;
	top: 3px;
	right: 3px;
	height: 28px;
	width: 28px;
	cursor: pointer;
}

.supported-browsers .dismiss img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

/* ------------------ */

ul.baselines-box{
	list-style-type:none;
}
ul.baselines-box li{
	margin:4px 0px;
}
ul.baselines-box li b{
	width: calc(100% - 104px);
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*ul.baselines-box li*/ span.f-right{
	float:right;
	text-align:right;
	width:52px;
}
span.f-right.delta.increase{
	color:#1e86d9;
}
span.f-right.delta.decrease{
	color:#f1433c;
}
input[type="number"]{
	text-align:right;
	width:64px;
	border: 1px solid #D5DCE1;
	background-color: #FFFFFF;
	font-family: "linottesemibold";
	padding: 10px 12px;
}
input[type=number]::-webkit-inner-spin-button{
	height:30px;
	margin:0px -10px 0px 10px;
}
ul.weights.form-wrap{
	list-style-type:none;
}
/*ul.weights.form-wrap li{
	margin:8px 0px;
}*/
#scoreSettings ul.roles li.card-wrap{
	margin-bottom:10px;
}
#scoreSettings ul.roles li.card-wrap div.form-wrap{
	height:151px;
	margin-bottom:-6px;
	padding-top:10px;
	padding-right:12px;
	overflow-y:scroll;
}
#scoreSettings ul.roles li.card-wrap div.form-wrap::-webkit-scrollbar {
	width: 8px;
	background-color:#F8F8F8;
	opacity: 0.75;
}
#scoreSettings ul.roles li.card-wrap div.form-wrap::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color:#E0E0E0;
}

input[type="range"]{
	vertical-align:-16px;
	width:calc(25vw - 140px);
}
.range-label{
	display: inline-block;
	vertical-align:-10px;
	text-align: right;
	width: 18px;
}
input[type="range"]:before, input[type="range"]:after{
	vertical-align: 14px;
}
input[type="range"]:before{
	content: "-"
}
input[type="range"]:after{
	content: "+"
}

/* ----------------------------------- */

a#feedback{
	position:fixed;
	right:-2px;
	bottom:-2px;
	box-shadow:0px 0px 16px -4px #000000;
	/*
	cursor:pointer;
	height:24px;
	width:120px;
	font-size:14pt;
	padding:5px;
	background-color:#1e86d9;
	border-radius:3px;
	box-shadow:0px 0px 12px -4px #1E86D9;*/
}
#app.say-cheese a#feedback{
	display:none;
}

a#feedback svg{
	float:left;
	margin:-2px 8px -4px 0px;
	height:21px;
	width:21px;
}

a#feedback i.fa{/*svg path#Shape*/
	fill: #FFFFFF;
	font-size: 14pt;
	vertical-align: -2px;
	margin-right: 4px;
}
.employee-filters_last a.button.bulk-add i.fa{
	vertical-align: -1px;
	margin-right: 2px;
	margin-left: -2px;
}

.bulk-add-steps i.fa{
	font-size: 24pt;
	color: #1e86d9;
}
/*
a#feedback:hover svg path#Shape{
	fill:#1e86d9;
	transition:fill 0.5s;
}
a#feedback{
	color:#606060;
	transition:opacity 0.5s, color 0.5s;
}
a#feedback:hover{
	color:#1e86d9;
}*/

/* ----------------------------------- */

#networkDiagram #entities_space svg{
	height: 100%;
	width: 100%;
}
#networkDiagram #entities_space.fullscreen{
	position:absolute;
	top:0px;
	left:0px;
	height: 100vh !important;
	width: 100vw;
}

#networkDiagram #entities_space svg g[onmouseover="d3ChartTooltipOn();"]{
	/*position: absolute;*/
}
#networkDiagram #entities_space svg g[onmouseover="d3ChartTooltipOn();"] text{
	/*position: relative;
	transform: translate(-50%, -50%);
	font-size: 10pt;*/
	cursor: pointer;
	display: none;
}
#networkDiagram #entities_space.show-text svg g[onmouseover="d3ChartTooltipOn();"] text{
	display: block;
}
#networkDiagram #entities_space svg g[onmouseover="d3ChartTooltipOn();"] circle.selected{
	stroke: #808080
	stroke-width: 2px;
}

nav.menu{
	position: relative;
}
/*div.employee-filters_left nav.menu{
	margin-top: 27px;
}*/
nav.menu ul{
	list-style-type: none;
	position: absolute;
	z-index: 100;
	background-color: #ffffff;
	display: none;
	padding: 6px 10px;
	border: 1px solid #ced2d4;
}
nav.menu:hover ul{
	display: block;
}


footer {
	display: none;
}
