
#loader{
	position:absolute;
	text-align:center;
	top:40%;
	left:50%;
	width:35%;
}
#loader img#logo{
	width:70%;
	filter:saturate(10%) brightness(1.9);
	-webkit-filter:saturate(10%) brightness(1.9);
	transform: translate3d(-70%, -25px, 0);
	-webkit-transform: translate3d(-70%, -25px, 0);
}
.loader{
	background:#FFFFFF;
	height:16px;
	border:1px solid #FFFFFF;
	overflow:hidden;
	border-radius:2px;
	/*box-shadow: 0 0 0 1px #e2e2e2;*/
	box-shadow:0px 0px 16px -4px #9EB5C8, 0px 0px 10px -6px #000 inset;
	-webkit-box-shadow: 0 0 0 1px #e2e2e2;
	transform: translate3d(-50%,-8px,0);
	-webkit-transform: translate3d(-50%,-8px,0);
	transition:opacity 0.5s;
	-webkit-transition:opacity 0.5s;
}
#loader p{
	color:#606000;
	margin-top:20px;
	transform: translate3d(-50%,-8px,0);
	-webkit-transform: translate3d(-50%,-8px,0);
}
#loader p.error{
	color:#D03030;
}

#progress{
	background-color:#1e86d9;
	/*background: -webkit-linear-gradient(top,  #1e86d9 0%,#157acb 100%);
	background: linear-gradient(to bottom,  #1e86d9 0%,#157acb 100%);*/
	background: -webkit-linear-gradient(top, #85ACCC 0%,#1e86d9 40%,#4789BD 100%);
	background: linear-gradient(to bottom, #85ACCC 0%,#1e86d9 40%,#4789BD 100%);
	height:16px;
	width:1%;
	color:#FFFFFF;
	font-size:10pt;
	text-align:center;
	line-height:18px;
	border-radius:1px;
	-webkit-transition:width 0.4s linear;
	transition:width 0.4s linear;
}
#popup-bg{
	display:none;
	opacity:0;
}

#app{
	-webkit-transition:opacity 0.5s;
	transition:opacity 0.5s;
}

#loadDetails{
	color: #94A8B7;
	font-size: 7pt;
	font-family: monospace;
	line-height:16px;
	margin-top:8px;
	bottom:50px;
	overflow-y:scroll;
}

/* ------------------ */

/*/

.menu{position:fixed;height:57.6px;right:20px;bottom:20px;height:57.6px;width:57.6px}
.menu .menu_toggle{background:#5E35B1;height:57.6px;width:57.6px;border-radius:100%;cursor:pointer;position:absolute;right:0;top:0;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
.menu .menu_toggle:before,.menu .menu_toggle:after{content:' ';position:absolute;background:#FFF;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%)}
.menu .menu_toggle:before{width:5px;height:40%}
.menu .menu_toggle:after{width:40%;height:5px}
.menu .menu_items{list-style:none;margin:0;padding:0}
.menu .menu_item{display:block;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%);-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
.menu .menu_item a{display:block;height:48px;width:48px;background:#EC407A;border-radius:100%}
.menu.open .menu_toggle{-webkit-transform:rotate(405deg);-moz-transform:rotate(405deg);-ms-transform:rotate(405deg);-o-transform:rotate(405deg);transform:rotate(405deg)}
.menu.open .menu_item-1{-webkit-transform:translate(-86.4px, -50%);-moz-transform:translate(-86.4px, -50%);-ms-transform:translate(-86.4px, -50%);-o-transform:translate(-86.4px, -50%);transform:translate(-86.4px, -50%);-webkit-transition-delay:0s;-moz-transition-delay:0s;transition-delay:0s}
.menu.open .menu_item-2{-webkit-transform:translate(-138.4px, -50%);-moz-transform:translate(-138.4px, -50%);-ms-transform:translate(-138.4px, -50%);-o-transform:translate(-138.4px, -50%);transform:translate(-138.4px, -50%);-webkit-transition-delay:.05s;-moz-transition-delay:.05s;transition-delay:.05s}
.menu.open .menu_item-3{-webkit-transform:translate(-190.4px, -50%);-moz-transform:translate(-190.4px, -50%);-ms-transform:translate(-190.4px, -50%);-o-transform:translate(-190.4px, -50%);transform:translate(-190.4px, -50%);-webkit-transition-delay:.1s;-moz-transition-delay:.1s;transition-delay:.1s}
.menu.open .menu_item-4{-webkit-transform:translate(-242.4px, -50%);-moz-transform:translate(-242.4px, -50%);-ms-transform:translate(-242.4px, -50%);-o-transform:translate(-242.4px, -50%);transform:translate(-242.4px, -50%);-webkit-transition-delay:.15s;-moz-transition-delay:.15s;transition-delay:.15s}

/*/

/* ------------------ */