
.header .fa.fa-bars{
	display:none;
	float:left;
	color:#588EB9;
	font-size:24pt;
	margin:8px 12px 0px 0px;
}

.one-row.employee-filters{
	padding:20px 1% 24px;
}

@media screen and (max-width:1190px){
	header .right-holder .circle.blue{
		float:right !important;
	}
	header .right-holder .user-name, header .right-holder a.logout{
		display:none;
		clear:both;
		line-height:40px !important;
	}
	header .right-holder .user-name{
		text-decoration:none;
		font-weight:bold;
	}
	header .right-holder a.logout{
		float:none !important;
	}
	.header .right-holder{
		max-height:200px;
		overflow:visible;
		position: fixed;
		right: 0px;
	}
	.header .right-holder:hover{
		display:block;
		background-color: #FFF;
		border: 1px solid #CDD1D4;
		box-shadow: 0px 0px 10px -5px #000;
	}
	.header .right-holder:hover .user-name, .header .right-holder:hover a.logout{
		display:block;
	}
	.header .right-holder:hover .user-name-wrap .circle{
		transition:all 0.25s;
		height:42px;
		width:42px;
	}
	#empSettings table.employeedata th:nth-child(5), #empSettings table.employeedata td:nth-child(5),
	#empSettings table.employeedata th:nth-child(6), #empSettings table.employeedata td:nth-child(6){
		display:none;
	}
	.content .one-row .col-4, .content .one-row .col-8{
		width:49%;
	}
	.content .one-row .col-3{
		width:32.33%;
	}
}

@media screen and (max-width:1034px){
	.employee-list.halfsize li, .app-list.halfsize li{
		width:100%;
	}
}

@media screen and (max-width:940px){
	.header .text-filed[type="date"] {
		max-width: 120px;
	}
	.header .date-picker {
		margin-left:16px;
	}
	.header .label{
		margin-right:0px;
	}
	.sidebar{
		z-index:900;
		left:-260px;
		/*transition:left 0.5s;*/
	}
	.sidebar.active{
		left:0px;
		box-shadow:0px 0px 120px #000000;
	}
	.page-content, .header{
		width:100%;
		margin-left:0px;
	}
	.page-content{
		padding-top:48px;
	}
	.header .fa.fa-bars{
		display:block;
	}
	.header .select-wrapper #date-filter{
		margin:6px 0;
	}
	.header .right-holder .user-name-wrap .circle{
		margin:6px 10px 6px 0;
	}
	.sidebar .inner-wrap #logo {
		margin: 11px 40px 11px auto;
	}
	#app.empdboard .select-wrapper #date-filter{
		margin:6px 0 6px 42px;
	}
	#app.empdboard .header-left #logo {
		margin:6px -178px 6px 3px;
		clip:rect(0px 33px 36px 0px);
		position:absolute;
	}
	/* --- */
	.employee-list.halfsize li, .app-list.halfsize li{
		width:50%;
	}
	/* --- */
	.card-wrap .box-wrap .detail-box, .content .one-row .col-4, .content .one-row .col-8{
		width:100%;
		margin-bottom:10px;
	}
	.content .one-row .col-3{
		width:49%;
	}
	.card-wrap .box-wrap .detail-box .heading, .card-wrap .box-wrap .detail-box .prodoscore{
		margin:12px 0 0 10px;
		text-align:left;
		float:left;
		width:auto;
	}
	.card-wrap .box-wrap .detail-box .prodoscore{
		margin:-60px 0 0 10px;
	}
	.card-wrap .box-wrap .detail-box .numbers{
		width:60%;
		margin:-8px 0 0 0px;
		float:right
	}
	body.popup-on .header,
	body.popup-on .page-content {
		width: calc(100% - 15px);
	}
	span.longer{
		display:none;
	}
	#contentEmployees table.employeedata th:nth-child(2), #contentEmployees table.employeedata td:nth-child(2){
		width:12% !important;
	}
	table td, table th{
		padding:12px 8px;
	}
	.notifications_trigger{
		height:48px;
	}
	.notifications_bar{
		top:48px;
	}
}

@media screen and (min-width:940px){
	body.popup-on .header,
	body.popup-on .page-content {
		width: calc(100% - 275px);
	}
}

@media screen and (max-width:775px){
	.employee-list.halfsize li, .app-list.halfsize li{
		width:100%;
	}
	.additional-details p.manager{
		display:block
	}
	.emp-status{
		margin:-10px 0 -20px 0px;
	}
}

@media screen and (max-width:620px){
	.header .date-picker{
		display:none;
	}
	#contentEmployees table.employeedata th:nth-child(2), #contentEmployees table.employeedata td:nth-child(2),
	#contentEmployees table.employeedata th:nth-child(3), #contentEmployees table.employeedata td:nth-child(3){
		display:none;
	}
	#contentEmployees table.employeedata th:nth-child(5), #contentEmployees table.employeedata td:nth-child(5){
		width:10% !important;
	}
	#empSettings table.employeedata th:nth-child(4), #empSettings table.employeedata td:nth-child(4){
		display:none;
	}
}

@media screen and (max-width:500px){
	#empSettings table.employeedata th:nth-child(2), #empSettings table.employeedata td:nth-child(2),
	#empSettings table.employeedata th:nth-child(3), #empSettings table.employeedata td:nth-child(3){
		display:none;
	}
	#empSettings table.employeedata tbody tr td, #empSettings table.employeedata tbody tr th{
		padding:12px 8px;
	}
	.content .one-row .col-3{
		width:100%;
	}
}
