{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Server Error - ProdoScore&trade; – Improve Sales Execution</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/error.css' %}" />
</head>

<body class="error-body">
    <div class="error-text">
        <h1 class="error-text_title">Server Error</h1>
        <p class="error-text_description">Oops, something went wrong at our end. <br />
        But we're on it.</p>
    </div>
</body>

</html>
