
		<div class="content" id="contentAlerts">
			<div class="one-row">
			    <div class="col col-12">
			        <table class="alerts sortable" style="width:100%">
			         <thead>
			            <tr class="tablerow">
			                <th style="width:100px;">Date / Time</th>
			                <th>Product</th>
			                <th style="width:200px;">Employee</th>
			                <th>Title</th>
			                <th style="width:160px;">Details</th>
			            </tr>
			         </thead>
			         <tbody></tbody>
			        </table>
			    </div>
			</div>
		</div>
