{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}" />
		<script type="text/javascript" src="{% static 'js/loader.js' %}" /></script>
		<script type="text/javascript" src="{% static 'js/arc.js' %}"></script>
		{% include 'includes/tpl_head.html' %}
	</head>
	<body>
		<script>
			if (document.location.host == 'app.prodoscore.com'){
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-88255573-1', 'auto');
				ga('set', 'userId', '{{ user.id }}');
				ga('set', 'dimension1', '{{ user.domain.title }}');
				ga('send', 'pageview');
			}
		</script>
		<div id="loader">
			<img data-src="{% static 'img/logo.svg' %}" id="logo" src="{% static 'img/logo.svg' %}" />
			<div class="loader">
				<div id="progress"></div>
				<div id="loadDetails"></div>
			</div>
		</div>
		<div id="app" style="display:none;">
			{% include 'includes/tpl_sidebar.html' %}
			{% include 'includes/tpl_header.html' %}
			<div class="page-content">
				<div id="messages" class="messages"></div>
				{% include 'dashboard.html' %}
				{% include 'employees.html' %}
				{% include 'managers.html' %}
				{% include 'correlations.html' %}
				{% include 'settings.html' %}
				{% include 'rawdata.html' %}
				<footer class="footer">
					<p>&copy;2016 Prodoscore</p>
				</footer>
			</div>
			<div id="loading" class="loading"></div>
			{% include 'includes/feedback.html' %}
		</div>
		<script>
			var base_url='{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}/';
			var static_url='{% static '' %}';
			var uid={{ user.id }};
		</script>
		<script type="text/javascript" data-src="{% static 'js/main.js' %}"></script>
		<script type="text/javascript" data-src="{% static 'js/common.js' %}"></script>
		<script type="text/javascript" data-src="{% static 'js/dashboard.js' %}"></script>
		<script type="text/javascript" data-src="{% static 'js/ajax.js' %}"></script>
		<script type="text/javascript" data-src="{% static 'js/calendar.js' %}"></script>
		<script type="text/javascript" data-src="{% static 'js/charts.js' %}"></script>
		<script type="text/javascript" data-src="{% static 'js/nav.js' %}"></script>
		<script type="text/javascript" data-src="{% static 'js/sorttable.js' %}"></script>
		<script type="text/javascript" data-src="{% static 'js/lib.js' %}"></script>
		<script type="text/javascript" data-src="{% static 'js/context-menu.js' %}"></script>
		<!-- We can load the below 2 after displaying the dashboard - still needs binding callbacks to bind navigation -->
		<script type="text/javascript" data-src="{% static 'js/settings.js' %}"></script>
		<script type="text/javascript" data-src="{% static 'js/product-settings.js' %}"></script>
		<script type="text/javascript" data-src="{% static 'js/score-settings.js' %}"></script>
		<script type="text/javascript" data-src="{% static 'js/employee.js' %}"></script>
		<!--script type="text/javascript" data-src="{% static 'js/draw.js' %}"></script-->
		<script type="text/javascript" data-src="{% static 'js/correlations.js' %}"></script>
		<!--script type="text/javascript" data-src="{% static 'js/html2canvas.svg.js' %}"></script>
		<script type="text/javascript" data-src="{% static 'js/html2canvas.js' %}"></script-->
	</body>
</html>
