{% load staticfiles %}
<div class="content" id="contentCorrelations">
	<!--div class="one-row">
		<div class="col col-12">
			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
			<div id="chart-nlp" style="width:100%; height:400px; display:none;"></div>
		</div>
	</div-->

	<div class="employee-filters">
		<div class="employee-filters_left" style="width:calc(100% - 133px);">
			<div class="filter-wrap" style="width:20%;">
				<label class="label" for="searchCorrelations">Search</label>
				<input class="textbox" id="searchCorrelations" name="searchCorrelations" placeholder="Search...">
			</div>
			<!-- ===================================== -->
			<div class="filter-wrap" style="width:158px;">
				<nav class="menu">
					<label xclass="label" style="margin-top:25px;">Entity Type <i class="fa fa-caret-down"></i></label>
					<ul>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="etype-consumer_good" checked>
								<span class="longer">
									<i class="fa"></i> <span>Items</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="etype-event" checked>
								<span class="longer">
									<i class="fa"></i> <span>Events</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="etype-location" checked>
								<span class="longer">
									<i class="fa"></i> <span>Locations</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="etype-organization" checked>
								<span class="longer">
									<i class="fa"></i> <span>Organizations</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="etype-other" checked>
								<span class="longer">
									<i class="fa"></i> <span>Other</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="etype-person" checked>
								<span class="longer">
									<i class="fa"></i> <span>People</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="etype-work_of_art" checked>
								<span class="longer">
									<i class="fa"></i> <span>Works</span>
								</span>
							</label>
						</li>
					</ul>
				</nav>
			</div>
			<!-- ===================================== -->
			<div class="filter-wrap" style="width:144px;">
				<nav class="menu">
					<label xclass="label" style="margin-top:25px;">Node Size <i class="fa fa-caret-down"></i></label>
					<ul>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="nsize-same" checked>
								<span class="longer">
									<i class="fa"></i> <span>Same</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="nsize-significance">
								<span class="longer">
									<i class="fa"></i> <span>Significance</span>
								</span>
							</label>
						</li>
						<!--li>
							<label class="visibility-toggle">
								<input type="checkbox" name="nsize-salience">
								<span class="longer">
									<i class="fa"></i> <span>Salience</span>
								</span>
							</label>
						</li-->
					</ul>
				</nav>
			</div>
			<!-- ===================================== -->
			<div class="filter-wrap" style="width:162px;">
				<nav class="menu">
					<label xclass="label" style="margin-top:25px;">Connections <i class="fa fa-caret-down"></i></label>
					<ul>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="conn-first" checked>
								<span class="longer">
									<i class="fa"></i> <span>First Degree</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="conn-second">
								<span class="longer">
									<i class="fa"></i> <span>Second Degree</span>
								</span>
							</label>
						</li>
						<!-- li>
							<label class="visibility-toggle">
								<input type="checkbox" name="conn-third">
								<span class="longer">
									<i class="fa"></i> <span>Third Degree</span>
								</span>
							</label>
						</li-->
					</ul>
				</nav>
			</div>
			<!-- ===================================== -->
			<div class="filter-wrap" style="width:122px;">
				<nav class="menu">
					<label xclass="label" style="margin-top:25px;">Entropy <i class="fa fa-caret-down"></i></label>
					<ul>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="top-25">
								<span class="longer">
									<i class="fa"></i> <span>Top 25</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="top-50" checked>
								<span class="longer">
									<i class="fa"></i> <span>Top 50</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="top-100">
								<span class="longer">
									<i class="fa"></i> <span>Top 100</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="top-200">
								<span class="longer">
									<i class="fa"></i> <span>Top 200</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="top-300">
								<span class="longer">
									<i class="fa"></i> <span>Top 300</span>
								</span>
							</label>
						</li>
					</ul>
				</nav>
			</div>
			<!-- ===================================== -->
			<!-- div class="filter-wrap" style="width:148px;">
				<nav class="menu">
					<label xclass="label" style="margin-top:25px;">Products <i class="fa fa-caret-down"></i></label>
					<ul id="filter-by-products"></ul>
				</nav>
			</div -->
			<!-- ===================================== -->
		</div>
		<div class="employee-filters_right" style="width:132px;">
			<div class="filter-wrap">
				<label class="visibility-toggle">
					<input type="checkbox" name="channel-internal" checked>
					<span class="longer">
						<i class="fa"></i> <span>Internal</span>
					</span>
				</label>
			</div>
			<div class="filter-wrap">
				<label class="visibility-toggle">
					<input type="checkbox" name="channel-external" checked>
					<span class="longer">
						<i class="fa"></i> <span>External</span>
					</span>
				</label>
			</div>
		</div>
	</div>

	<div class="one-row" id="entities_collections">
		<div class="col col-12">
			<!-- link rel="stylesheet" type="text/css" href="{% static 'alchemy/alchemy-white.css' %}" />
			<script type="text/javascript" src="{% static 'alchemy/vendor.js' %}" /></script>
			<script type="text/javascript" src="{% static 'alchemy/alchemy.min.js' %}" /></script>
			<div id="alchemy" class="alchemy" style="height:500px;"></div -->
			<script type="text/javascript" src="{% static 'js/d3.min.js' %}" /></script>
			<div class="card-wrap">
				<h2 class="card-heading">Entities and Correlations</h2>
				<nav class="card-tabs-nav" style="margin-bottom:-19px; margin-top:10px; position:relative;">
					<a href="#networkDiagram" class="active">Network Diagram</a>
					<a href="#simpleView">Simple View</a>
				</nav>
				<div id="networkDiagram" class="card-tabs-body">
					<div class="form-wrap show-text" id="entities_space" style="height:85vh; padding:0px;"></div>
					<div class="chartTooltip" style="opacity: 0; display: none; transform: scale(0.1);"></div>
					<div style="float:right; margin-top:-20px; margin-right:11px;">
						<label class="visibility-toggle">
							<input type="checkbox" name="text-lables" checked />
							<span class="longer">
								<i class="fa"></i> <span>Text Lables</span>
							</span>
						</label>
						<label class="visibility-toggle full-screen">
							<span class="longer">
								<i class="fa"></i> <span>Fullscreen</span>
							</span>
						</label>
					</div>
				</div>
				<div id="simpleView" class="card-tabs-body">
					<div class="one-row" id="entities_collections">
						<div class="col col-7">
							<div class="correlationsOrgData-wrap">
								<h3>&nbsp;</h3>
								<table class="correlationsEntityData correlationsPplData correlation-details card-wrap sortable active" style="width: 100%">
									<thead>
										<tr class="tablerow">
											<th>Entity</th>
											<th>Type</th>
											<th class="score sorttable_numeric">Significance</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
						<div class="col col-5">
							<div class="correlationsOrgData-wrap">
								<h3>Related Entities</h3>
								<table class="correlationsEntityData correlationsPplData correlation-details card-wrap sortable active" style="width: 100%">
									<thead>
										<tr class="tablerow">
											<th>Entity</th>
											<!--th>Type</th-->
											<th class="score sorttable_numeric">Significance<!--&sigma;--></th>
											<th class="score sorttable_numeric">&#8745;</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--div class="col col-4">
			<div id="entities_selected"></div>
		</div-->
	</div>

	<div class="one-row">
		<div class="col col-12">
			<div class="card-wrap" id="chart_correlations">
				<h2 class="card-heading"></h2>
				<div class= "chart"></div>
			</div>
		</div>
	</div>

	<div class="one-row">
		<div class="col col-6">
			<table id="empEngagement" class="correlation-more-details-table correlation-emp-engagement sortable x-card-wrap" style="width: 100%">
				<thead>
					<tr class="table-title">
						<th colspan="2" id="engagement-title">Engagement</th>
					</tr>
					<tr>
						<th>Employees</th>
						<th class="score">Effort</th>
					</tr>
				</thead>
				<tbody>
					<tr><td colspan="2"><i>Select a topic/contact</i></td></tr>
				</tbody>
			</table>
		</div>
		<div class="col col-6">
			<table id="prodUsage" class="correlation-more-details-table correlation-prod-usage sortable x-card-wrap" style="width: 100%">
				<thead>
					<tr class="table-title">
						<th colspan="3" style="text-align:center;">Product usage</th>
					</tr>
					<tr>
						<th colspan="2">Product</th>
						<th class="score">Usage</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="2"><i>Select a topic/contact</i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- div class="one-row">
		<!--div class="correlations-toggles"><a class="active" href="#topics">Topics</a><a href="#people">Contacts</a></div-- >
		<div class="col col-6">
			<div class="correlationsOrgData-wrap">
				<!--h2 class="card-heading">Topics</h2-- >
				<table id="topics" class="correlationsOrgData correlation-details card-wrap sortable active" style="width: 100%">
					<thead>
						<tr class="tablerow">
							<th>Topic</th>
							<th class="score sorttable_numeric">Significance</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<div class="col col-6">
			<div class="correlationsOrgData-wrap">
				<!--h2 class="card-heading">Contacts</h2-- >
				<table id="people" class="correlationsPplData correlation-details card-wrap sortable active" style="width: 100%;">
					<thead>
						<tr class="tablerow">
							<th class="with-tooltip"><span class="title-tooltip">COO</span><span class="tooltip">Contacts Outside Organization</span></th>
							<th class="score sorttable_numeric">Significance</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div -->

	<div id="correlationDetailsSubFrame">

		<!-- div class="one-row">
			<!--div class="correlation-org-details"></div- ->
			<div class="col col-6">
			</div>
			<div class="col col-6">
			</div>
		</div -->
		<!--div class="one-row">
			<div class="col col-12">
			</div>
		</div-->
		<div id="correlationDetails" class="one-row">
			<div class="col col-12">
				<table class="sortable card-wrap correlation-instances-table stat-details" xcls="correlation-more-details-table correlation-prod-usage">
					<thead>
						<tr>
							<th></th>
							<th>Activity</th>
							<th>Employee</th>
							<th>Date - Time</th>
							<th>Sentiment</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>

	</div>

</div>
