		<div class="content" id="contentMain">
			<!--div class="one-row">
				<div class="col col-12">
				</div>
			</div-->
			<div class="one-row">
				<div class="col col-12">
					<div class="card-wrap">
						<h2 class="card-heading">Organization Prodoscore</h2>
						<div class="main-status">
							<p class="baseline"><span id="org-score">...</span></p>
							<p class="decrease"><span id="org-delta">...</span>% Performance decrease</p>
						</div>
						<div class="box-wrap">
							<a href="#dashboard/strata/above">
								<div class="detail-box above">
									<h3 class="heading">Productivity is above average</h3>
									<div class="numbers">
									    <p class="user_number">...<span><br/>Employees</span></p>
									    <div class="slash"></div>
									    <p class="status increase">...%<span><br/>Increase</span></p>
									</div>
									<p class="prodoscore"><span class="longer">Prodoscore is </span>above 70</p>
								</div>
							</a>
							<a href="#dashboard/strata/baseline">
								<div class="detail-box baseline">
									<h3 class="heading">Productivity is within average</h3>
									<div class="numbers">
									    <p class="user_number">...<span><br/>Employees</span></p>
									    <div class="slash"></div>
									    <p class="status decrease">...%<span><br/>Increase</span></p>
									</div>
									<p class="prodoscore"><span class="longer">Prodoscore is </span>between 30 ~ 70</p>
								</div>
							</a>
							<a href="#dashboard/strata/below">
								<div class="detail-box below">
									<h3 class="heading">Productivity is below average</h3>
									<div class="numbers">
									    <p class="user_number">...<span><br/>Employees</span></p>
									    <div class="slash"></div>
									    <p class="status decrease">...%<span><br/>Increase</span></p>
									</div>
									<p class="prodoscore"><span class="longer">Prodoscore is </span>below 30</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="one-row" style="overflow:visible;">
				<div class="col col-4">
					{% if user.domain.nlp_enabled == 1 %}
					<div class="card-wrap">
						<h2 class="card-heading">Correlations</h2>
						<div class="card-tabs corrWidget">
							<!--nav class="card-tabs-nav">
								<a href="#corrWidgetTopics" class="active">Topics</a>
								<a href="#corrWidgetCOD">COO</a>
							</nav>
							<div id="corrWidgetTopics" class="card-tabs-body active"-->
							<table class="card-table">
								<thead>
									<tr>
										<th>Entity</th>
										<th>Type</th>
										<th>Significance</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
							<!--/div>
							<div id="corrWidgetCOD" class="card-tabs-body">
								<table class="card-table">
									<thead>
										<tr>
											<th>COD</th>
											<th>Significance</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div-->
						</div>
					</div>
					<br>
					{% endif %}

					<div class="card-wrap">
						<h2 class="card-heading">My employees</h2>
						<ul class="employee-list subs">
							<li>
								<a data-id="[[id]]" data-role="[[role]]" href="#dashboard/[[id]]/[[email]]" style="border-left:2px solid #[[color]]">
									<div class="user-name-wrap">
										<p class="user-name">[[fullName]]</p>
									</div>
									<div class="right-holder">
										<p class="score baseline" title="OWS: [[scoreG]] RBS: [[score]]">[[score]]</p>
										<p class="text baseline">[[scoreDesc]]</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col col-8">
					<div class="card-wrap">
						<h2 class="card-heading">Organization Prodoscore chart</h2>
						<div id="chart_div_org" class= "chart"></div>
						<div class="box-wrap">
							<circle style="background-color:#3366cc;"></circle> <small>This Period</small>
							<circle style="background-color:hsla(206, 60%, 80%, 0.75);"></circle> <small>Previous Period</small>
						</div>
					</div>
					<br/>
					<div class="card-wrap" style="overflow:visible;">
						<h2 class="card-heading">Prodoscore distribution (histogram)</h2>
						<div id="chart_histogram" class="chart"></div>
					</div>
					<!--div class="card-wrap">
						<h2 class="card-heading">Prodoscore Distribution</h2>
						<div id="chart_div" class= "chart" style="width:100%; height:200px;"></div>
					</div>
					<div class="card-wrap">
						<h2 class="card-heading">Organization Strata Change</h2>
						<div id="chart_strata_change" class= "chart" style="width:100%; height:300px;"></div>
					</div-->
				</div>
			</div>
		</div>

		<div class="content" id="strataCount">
			<div class="one-row topspace">
				<div class="wrap">
					<button class="nav-button back" onclick="document.location.hash='dashboard';">Back</button>
				</div>
			</div>
			<div class="one-row" style="overflow:visible;">
				<div class="col col-12">
					<div class="card-wrap" style="overflow:visible;">
						<h2 class="card-heading">Employees with a<span>--</span> Prodoscore</h2>
						<div id="chart_strata" class= "chart"></div>
					</div>
				</div>
			</div>
			<div class="one-row">
				<div class="col col-12">
					<div class="card-wrap">
						<h2 class="card-heading"><span>--</span> employee details</h2>
						<ul class="employee-list strata"></ul>
					</div>
				</div>
			</div>
		</div>
