{% load staticfiles %}<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Prodoscore&trade; – Improve Sales Execution</title>
		<meta charset="UTF-8">
		{# <meta name="viewport" content="width=device-width, initial-scale=1">#}
		<link rel="preload" href="{% static 'fonts/Linotte-SemiBold-webfont.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="{% static 'font-awesome/fonts/fontawesome-webfont.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="{% static 'fonts/307BC1_0_0.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/extra.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/employee.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" DATA-NOTICE="THIS SHOULD BE THE LAST EMBEDED STYLESHEET [FEEDBACK FORM]" />
	</head>
	<body>
		<script>
			if (document.location.host == 'app.prodoscore.com'){
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-88255573-1', 'auto');
				ga('set', 'userId', '{{ user.id }}');
				ga('set', 'dimension1', '{{ user.domain.title }}');
				ga('send', 'pageview');
			}
		</script>
		<div id="app" class="empdboard">
			{% include 'includes/tpl_header_emp.html' %}
			<div id="messages" class="messages"></div>
			<div class="content active" id="contentEmp">

				<div class="one-row">
					<div class="col col-8">
						<div class="card-wrap">
							<h2 class="card-heading" id="recommendation">Recommendation line</h2>
							<br/><br/><p id="rec-detail" style="clear:both;">Recommendation details</p>
						</div>
					</div>
					<div class="col col-4">
						<div class="card-wrap center">
							<h2 class="card-heading">Working under: <span id="mgr-name">Manager</span></h2>
						</div>
					</div>
				</div><!-- one-row -->

				<div class="one-row">
					<div class="col col-4">
						<div class="card-wrap">
							<h2 class="card-heading">Your Prodoscore</h2>
							<p class="score baseline"><span id="emp-score">..</span></p>
							<h3 class="heading">Performance <span id="emp-delta-dir">..</span></h3>
							<p class="score baseline"><span id="emp-delta">..</span>%</p>
						</div>
					</div>
					<div class="col col-4">
						<div class="card-wrap">
							<h2 class="card-heading">Team Prodoscore</h2>
							<p class="score baseline"><span id="team-score">..</span></p>
							<h3 class="heading">Performance <span id="team-delta-dir">..</span></h3>
							<p class="score baseline"><span id="team-delta">..</span>%</p>
						</div>
					</div>
					<div class="col col-4">
						<div class="card-wrap">
							<h2 class="card-heading">Organization Prodoscore</h2>
							<p class="score baseline"><span id="org-score">..</span></p>
							<h3 class="heading">Performance <span id="org-delta-dir">..</span></h3>
							<p class="score baseline"><span id="org-delta">..</span>%</p>
						</div>
					</div>
				</div><!-- one-row -->

				<div class="one-row">
					<div class="col col-4">
						<div id="alerts"></div>
						<div class="card-wrap">
							<h2 class="card-heading" id="leaderboard-heading">Leaderboard</h2>
							<ul class="employee-list employee-list--emp-dashboard">
								<li>
									<a data-id="[[id]]" data-role="[[role]]" style="[[style]]" class="[[class]]">
										<div class="user-name-wrap">
											<b>[[number]]</b>
											<i class="fa fa-user" style="[[style2]]"></i>
											<p class="user-name">[[fullName]]</p>
										</div>
										<div class="right-holder">
											<p class="[[scoreClass1]]">[[score]]</p>
											<!--p class="[[scoreClass2]]">[[scoreDesc]]</p-->
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col col-8">
						<div class="card-wrap">
							<h2 class="card-heading" id="chart_div_org-heading">Prodoscore chart</h2>
							<div id="chart_div_org" class= "chart" style="clear:both; width:100%;"></div>
							<div class="box-wrap" id="chart_div_org_legend">
								<circle style="background-color:#3366cc;"></circle> <small>This Period</small>
								<circle style="background-color:rgba(0, 50, 100, 0.35);"></circle> <small>Previous Period</small>
							</div>
						</div>
					</div>
				</div><!-- one-row -->

				<div class="one-row" id="employee-day-stats" style="display:none;">
					<div class="col col-12">
						<div class="card-wrap">
							<h2 class="card-heading">Your Prodoscore inputs [<span id="individual-date">Daily average</span>]</h2>
							<ul class="app-list halfsize">
								<li>
									<div class="element-wrapper">
										<div class="icon icon-docs"></div>
										<h3 class="app-name">Google Drive activities</h3>
										<div class="right-holder">
											<p class="score dc"></p>
										</div>
									</div>
								</li>
								<li>
									<div class="element-wrapper">
										<div class="icon icon-mail"></div>
										<h3 class="app-name">Emails sent</h3>
										<div class="right-holder">
											<p class="score gm"></p>
										</div>
									</div>
								</li>
								<li>
									<div class="element-wrapper">
										<div class="icon icon-cal"></div>
										<h3 class="app-name">Calendar event time</h3>
										<div class="right-holder">
											<p class="score cl"></p>
										</div>
									</div>
								</li>
								<li>
									<div class="element-wrapper">
										<div class="icon icon-chat"></div>
										<h3 class="app-name">Chat lines</h3>
										<div class="right-holder">
											<p class="score ch"></p>
										</div>
									</div>
								</li>
								<li>
									<div class="element-wrapper">
										<div class="icon icon-turbobridge"></div>
										<h3 class="app-name">Conference call<!-- Minute-->s</h3>
										<div class="right-holder">
											<p class="score tb"></p>
										</div>
									</div>
								</li>
								<li>
									<div class="element-wrapper">
										<div class="icon icon-zoho-calls"></div>
										<h3 class="app-name">Zoho CRM calls</h3>
										<div class="right-holder">
											<p class="score zc"></p>
										</div>
									</div>
								</li>
								<li>
									<div class="element-wrapper">
										<div class="icon icon-zoho-cal"></div>
										<h3 class="app-name">Zoho CRM events</h3>
										<div class="right-holder">
											<p class="score ze"></p>
										</div>
									</div>
								</li>
								<li>
									<div class="element-wrapper">
										<div class="icon icon-zoho"></div>
										<h3 class="app-name">Zoho CRM tasks</h3>
										<div class="right-holder">
											<p class="score zt"></p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- one-row -->

			</div>
			<footer class="footer">
				<p>&copy;2016 Prodoscore</p>
			</footer>
			<div id="loading" class="loading"></div>
		</div>
		<!-- { % include 'includes/feedback.html' % } -->
		<script>
			var base_url='{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}/';
			var static_url='{% static '' %}';
			var uid={{ user.id }};
		</script>
		<script type="text/javascript" src="{% static 'js/context-menu.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/charts.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/arc.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/sorttable.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/lib.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/draw.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/html2canvas.svg.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/html2canvas.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/employee-view.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
	</body>
</html>
