
		<div class="content" id="contentEmployees">

			<div class="one-row emp-header">
				<div class="col col-7">
					<div class="card-wrap emp-header-card">
						<div class="emp-details">
							<div class="emp-details-left">
								<div class="circle"></div>
							</div>
							<div class="emp-details-right">
								<div class="role"></div>
								<div class="user-name"></div>
								<div class="manager">Working under <a href="#"></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col col-5">
					<div class="card-wrap emp-header-card">
						<div class="emp-status-details">
							<div class="score baseline"><span></span> Subordinate's Prodoscore</div>
							<div class="score baseline"><span></span> Prodoscore</div>
							<div class="delta decrease"><span></span>% Performance decrease</div>
						</div>
					</div>
				</div>
				<div class="emp-header-buttons">
					<button class="button primary user-settings-btn">Employee settings</button>
					<button class="button primary user-profile-btn">Employee profile</button>
				</div>
			</div>
			<div class="one-row">
			    <div class="col col-12">
			        <div class="card-wrap">
					<h2 class="card-heading"></h2>
					<div id="employeesChart" class="chart"></div>
			        </div>
			    </div>
			</div>
			<div class="employee-filters">
				<div class="employee-filters_full">
					<div class="filter-wrap">
						<label class="label">Employee</label>
						<input class="textbox" name="searchEmployee" xplaceholder="type to autofill" placeholder="Search..."/>
					</div>
					<div class="filter-wrap">
						<label class="label">User&nbsp;role</label>
						<select name="searchRole" id="userrole" class="textbox"></select>
					</div>
					<div class="filter-wrap">
						<label class="label" for="txtse">Manager</label>
						<select name="searchManager" id="manager" class="textbox"></select>
					</div>
				</div>

			</div>
			<div class="one-row">
				{% if user.domain.nlp_enabled == 1 %}
				<div class="col col-4 corrWidget-col">
					<div class="card-wrap">
						<h2 class="card-heading">Correlations</h2>
						<div class="card-tabs corrWidget">
							<!--nav class="card-tabs-nav">
								<a href="#corrWidgetTopics" class="active">Topics</a>
								<a href="#corrWidgetCOD">COO</a>
							</nav>
							<div id="corrWidgetTopics" class="card-tabs-body active"-->
							<table class="card-table">
								<thead>
									<tr>
										<th>Entity</th>
										<th>Type</th>
										<th>Significance</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
							<!--/div>
							<div id="corrWidgetCOD" class="card-tabs-body">
								<table class="card-table">
									<thead>
										<tr>
											<th>COD</th>
											<th>Significance</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div-->
						</div>
					</div>
				</div>
				{% endif %}
			    <div class="col col-12">
			        <table class="employeedata sortable" style="width: 100%">
			         <thead>
			            <tr class="tablerow">
			                <th>Employee name</th>
			                <th xstyle="width:120px;">User role</th>
			                <th xstyle="width:200px;">Manager name</th>
			                <th class="score sorttable_numeric">Prodoscore</th>
			                <th class="text sorttable_numeric">Performance</th>
			            </tr>
			         </thead>
			         <tbody>
			             <!--tr class="tablerow">
			                <td>
			                    <div class="user-name-wrap">
			                        <div class="circle blue">
			                            <p>DH</p>
			                        </div>
			                        <p class="user-name">Danzil Harward</p>
			                    </div>
			                </td>
			                <td>Manager</td>
			                <td></td>
			                <td class="score above">72</td>
			                <td class="text increase">12</td>
			            </tr-->
			         </tbody>
			        </table>
			    </div>

			</div>
		</div>

		<div class="content" id="contentOneEmployee">
			<div class="one-row emp-header">
				<div class="col col-7">
					<div class="card-wrap emp-header-card">
						<div class="emp-details">
							<div class="emp-details-left">
								<div class="circle"></div>
							</div>
							<div class="emp-details-right">
								<div class="role"></div>
								<div class="user-name"></div>
								<div class="manager" style="display:none;">Working under <a href="#"></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col col-5">
					<div class="card-wrap emp-header-card">
						<div class="emp-status-details">
							<div class="score"><span></span> Prodoscore</div>
							<div class="delta"><span></span>% Performance decrease</div>
						</div>
					</div>
				</div>
				<div class="emp-header-buttons">
					<button class="button primary user-settings-btn">Employee settings</button>
				</div>
			</div>
			<div class="card-tabs employee-tabs">
				{% if user.domain.nlp_enabled == 1 %}
				<nav class="card-tabs-nav">
					<a href="#empStatistics" class="active">Statistics</a>
					<a href="#empCorrelations">Correlations</a>
				</nav>
				{% endif %}

				<div id="empStatistics" class="card-tabs-body active">
					<div class="one-row">
						<div class="col col-12">
							<div class="card-wrap">
								<h2 class="card-heading">Employee Prodoscore<i class="warning"></i></h2>
								<div class="chart" id="oneEmployeeChart"></div>
							</div>
						</div>
					</div>

					<div class="popup popup-1">
						<div class="ear"></div>
						<i class="fa fa-times-circle"></i>
						<p>Select a column from the chart to<br/>
						drill down statistics for a specific date.</p>
					</div>
					<div class="popup popup-2">
						<i class="fa fa-times-circle"></i>
						<p>Now select product from below to<br/>
						drill down details for that statistic.</p>
						<div class="ear to-down"></div>
					</div>
					<div class="one-row" id="employee-day-stats">
						<div class="col col-12">
							<div class="card-wrap">
								<h2 class="card-heading emp-day-stats-heading">
									<span class="left">Prodoscore inputs [<span id="individual-date">Daily average</span>]</span>
									<span class="right">Prodoscore: <span id="prodoscore-for-date">--</span></span>
								</h2>
								<ul class="app-list halfsize">
									<!-- docs -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-docs"></div>
											<h3 class="app-name">Google Drive activities</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- gmail -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-mail"></div>
											<h3 class="app-name">Emails sent</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- calendar -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-cal"></div>
											<h3 class="app-name">Calendar event time</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- hangouts -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-chat"></div>
											<h3 class="app-name">Chat lines</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- turbobridge -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-turbobridge"></div>
											<h3 class="app-name">Conference call<!-- Minute-->s</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- zcalls -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-zoho-calls"></div>
											<h3 class="app-name">CRM calls</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- zevents -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-zoho-cal"></div>
											<h3 class="app-name">CRM events</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- ztasks -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-zoho"></div>
											<h3 class="app-name">CRM tasks</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- zleads -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-zoho-leads"></div>
											<h3 class="app-name">CRM leads</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- zinvoices -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-zoho-invoices"></div>
											<h3 class="app-name">CRM invoices</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- zaccounts -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-zoho-accounts"></div>
											<h3 class="app-name">CRM accounts</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- broadsoft -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-broadsoft"></div>
											<h3 class="app-name">Phone system</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- salesforce -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-ppw-opportunities"></div>
											<h3 class="app-name">Opportunity activities</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- smss -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-sms"></div>
											<h3 class="app-name">Mobile Text Messages</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- calls -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-mcalls"></div>
											<h3 class="app-name">Mobile Phone Calls</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- pwleads -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-ppw-leads"></div>
											<h3 class="app-name">CRM leads</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- pwoprtunts -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-ppw-opportunities"></div>
											<h3 class="app-name">CRM opportunities</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- ringc_calls -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-broadsoft"></div>
											<h3 class="app-name">RingCentral Calls</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- ringc_sms -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-rcsms"></div>
											<h3 class="app-name">RingCentral SMS</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- sfleads -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-ppw-leads"></div>
											<h3 class="app-name">CRM leads</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- sugar_leads -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-zoho-leads"></div>
											<h3 class="app-name">CRM leads</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- sugar_opps -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-ppw-opportunities"></div>
											<h3 class="app-name">CRM opportunities</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- sugar_calls -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-zoho-calls"></div>
											<h3 class="app-name">CRM calls</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- sugar_meets -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-zoho-cal"></div>
											<h3 class="app-name">CRM meetings</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- chmsgs -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-crm-chatter"></div>
											<h3 class="app-name">Salesforce: Chatter Messages</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- chacts -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-chatter-activities"></div>
											<h3 class="app-name">Salesforce: Chatter Activities</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- sfcalls -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-crm_calls"></div>
											<h3 class="app-name">Salesforce: Calls Logged</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- sfints -->
									<li>
										<div class="element-wrapper">
											<div class="icon icon-crm_actv"></div>
											<h3 class="app-name">Salesforce: Activities</h3>
											<div class="right-holder">
												<p class="score"></p>
											</div>
										</div>
									</li>
									<!-- salesforce_n -->
 									<li>
 										<div class="element-wrapper">
											<div class="icon icon-salesforce"></div>
											<h3 class="app-name">Salesforce: New Opportunities</h3>
 											<div class="right-holder">
 												<p class="score"></p>
 											</div>
 										</div>
 									</li>
									<!-- sfleads_n -->
 									<li>
 										<div class="element-wrapper">
 											<div class="icon icon-zoho-leads"></div>
											<h3 class="app-name">Salesforce: New Leads</h3>
 											<div class="right-holder">
 												<p class="score"></p>
 											</div>
 										</div>
 									</li>
									<!-- vbc -->
 									<li>
 										<div class="element-wrapper">
 											<div class="icon icon-broadsoft"></div>
											<h3 class="app-name">Vonage Business Cloud: Calls</h3>
 											<div class="right-holder">
 												<p class="score"></p>
 											</div>
 										</div>
 									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="one-row" id="timeline-row">
						<div class="col col-12">
							<div class="card-wrap">
								<h2 class="card-heading">
									Prodoscore throughout the day
									<!-- <label class="options"><input type="checkbox" checked /> Show Correlations</label> -->
								</h2>
								<div id="busy5m-highlight"><div id="busy5m-highlight-inner"></div></div>
								<!-- <div id="busyNLP"></div> -->
								<div id="busy5m" class="chart"></div>
							</div>
							<br>
							<div class="card-wrap timeline-wrap">
								<h2 class="card-heading">Work timeline for the day</h2>
								<br>
								<div id="dayWorkTimeline" class="dayWorkTimeline"></div>
							</div>
						</div>
					</div>
					<div class="one-row" id="drilldown-row">
						<div class="col col-12">
							<div class="card-wrap">
								<h2 class="card-heading">Score details drill down</h2>
								<table class="stat-details sortable" style="width: 100%">
								 <thead>
									<tr class="tablerow">
									<th class="sorttable_nosort"></th>
									<th class="sorttable_nosort">Title</th>
									<th>Time</th>
					{% if user.domain.nlp_enabled == 1 %}
									<th>Sentiment</th>
					{% endif %}
									<!-- <th>Duration</th> -->
									<!--th style="width:120px;">Duration</th-->
										</tr>
								 </thead>
								 <tbody></tbody>
								 <tfoot>
								 	<tr class="total-entries">
										<th></th>
                                        		 		<!--	<th colspan="2" style="text-align: left;">Total Duration</th>
										<th>0</th>-->
								 		<th colspan="2" style="text-align: left;">Total Entries: </th>
										<!-- <th>0</th> -->
								 	</tr>
								 	<tr class="load-more">
										<th></th>
								 		<th colspan="2" style="text-align: left;">LoadMore</th>
								 	</tr>
								 </tfoot>
								</table>
							</div>
						</div>
					</div>

				</div> <!-- / #empStatistics -->


				{% if user.domain.nlp_enabled == 1 %}
				<div id="empCorrelations" class="card-tabs-body">
					<!-- Correlations go here -->
					<div class="one-row">
						<div class="col col-12">
							<div class="correlationsOrgData-wrap">
								<table id="topics" class="correlationsPplData correlation-details card-wrap sortable active" style="width: 100%">
									<thead>
										<tr class="tablerow">
											<th class="with-tooltip"><span class="title-tooltip">COO</span><span class="tooltip">Contacts Outside Organization</span></th>
											<th class="score sorttable_numeric">Significance</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="one-row emp-correlation-instances-row" style="display:none;">
						<div class="col col-12">
							<table class="sortable card-wrap emp-correlation-instances-table">
								<thead>
									<tr>
										<th></th>
										<th>Title</th>
										<th>Date - Time</th>
										<th>Sentiment</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
				{% endif %}
			</div>


		</div>
