{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Sign in - ProdoScore&trade; – Improve Sales Execution</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/extra.css' %}" />
</head>
	<body class="login-body">
		<div id="supportedBrowsers" class="supported-browsers">
			<div class="holder">
				To get the full experience of Prodsocore we recommend that you use the Google Chrome browser. You can download it using the link given below.
				<div class="browsers">
					<a target="_blank" href="https://www.google.com/chrome/"><img src="{% static 'img/chrome.png' %}" alt=""> <span>Chrome</span></a>
				</div>
			</div>
			<button type="button" class="dismiss" name="dismiss">
				<img src="{% static 'img/icons/close.png' %}" alt="">
			</button>
		</div>
		<div id="loader" style="display:none;">
			<div id="progress"></div>
		</div>
		<div id="app" class="login-wrapper">
			<div class="login-container" style="opacity:0; transition:opacity 0.5s;" xstyl="width:482px;">
				<div class="logo-wrapper"><img src="{% static 'img/logo-white.svg' %}" alt="Prodoscore logo"/></div>
				<div class="login-block">
		{% if error %}
					<p class="login-error">{{ error |safe }}</p>
		{% endif %}
					<form method="post" action="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}/sign-in/">
						<!--div class="col-label"></div-->
						<a href="{% if request.is_secure or request.get_host == 'app.prodoscore.com' %}https{% else %}http{% endif %}://{{ request.get_host }}/google-auth/" class="button white">
							<img src="{% static 'img/icons/g-normal.png' %}" />Sign in with Google
						</a>
						<br/><!-- &nbsp; -->
						<a href="{% if request.is_secure or request.get_host == 'app.prodoscore.com' %}https{% else %}http{% endif %}://{{ request.get_host }}/microsoft-auth/" class="button white">
							<img src="{% static 'img/icons/ms-normal.png' %}" />Sign in with Microsoft
						</a>
						<br/><br/>
						{% csrf_token %}
						<div class="col-label"><label for="id_username">Username / Email:</label></div>
						<div class="col-value"><input id="id_username" name="username" type="text" /></div>
						<br/>
						<div class="col-label"><label for="id_password">Password:</label></div>
						<div class="col-value"><input id="id_password" name="password" type="password" /></div>
						<br/>
						<input type="submit" value="Sign in" />
					</form>
				</div>
			</div>
		</div>
		<script>
			localStorage.clear();
			for (key in localStorage)
				localStorage.removeItem(key);
			setTimeout(
				function(){
					document.querySelector('.login-container').style.opacity=1;
				}, 300);
			document.forms[0].onsubmit = function(){
				document.querySelector('.login-container').style.opacity=0;
			};
			//
			var isChrome = !!window.chrome;// && !!window.chrome.webstore
			//var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || safari.pushNotification);
			//
			if (isChrome == false) {// && isSafari == false
				var popup = document.getElementById('supportedBrowsers'),
					dismiss = popup.querySelectorAll('.dismiss')[0];
				//
				popup.style.display = 'block';
				document.body.classList.add('overlay');
				//
				dismiss.onclick = function () {
					popup.style.display = 'none';
					document.body.classList.remove('overlay');
				}
			}
		</script>
		<style>.button.white{min-width:100%; width:100%; display:block; padding:2px;}</style>
	</body>
</html>
