		<div class="content" id="contentManagers">
			<div class="one-row">
			    <div class="col col-12">
			        <div class="card-wrap">
				        <h2 class="card-heading">Managers Prodoscore</h2>
					    <div class="chart" id="managerChart"></div>
				    </div>
			    </div>
			</div>
			<div class="one-row managers-stats">
				<div class="col col-4">
					<div class="card-wrap">
						<h2 class="card-heading">Above average</h2>
						<p class="emp-score">Subordinates</p>
						<p class="man-score">Manager</p>
						<ul class="employee-list">
							<li>
								<a href="#">
									<div class="user-name-wrap">
										<div class="circle blue">
											<p>MN</p>
										</div>
										<p class="user-name">Manager name</p>
									</div>
									<div class="right-holder">
										<p class="score above">89<span>%</span></p>
										<p class="text increase"><span>6</span>%</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col col-4">
					<div class="card-wrap">
						<h2 class="card-heading">Average</h2>
						<p class="emp-score">Subordinates</p>
						<p class="man-score">Manager</p>
						<ul class="employee-list">
							<li>
								<a href="#">
									<div class="user-name-wrap">
										<div class="circle gray">
											<p>MN</p>
										</div>
										<p class="user-name">Manager name</p>
									</div>
									<div class="right-holder">
										<p class="score baseline">54<span>%</span></p>
										<p class="text increase"><span>6</span>%</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col col-4">
					<div class="card-wrap">
						<h2 class="card-heading">Below average</h2>
						<p class="emp-score">Subordinates</p>
						<p class="man-score">Manager</p>
						<ul class="employee-list">
							<li>
								<a href="#">
									<div class="user-name-wrap">
										<div class="circle red">
											<p>MN</p>
										</div>
										<p class="user-name">Manager name</p>
									</div>
									<div class="right-holder">
										<p class="score below">0<span>%</span></p>
										<p class="text decrease"><span>0</span>%</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
