{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="preload" href="{% static 'fonts/Linotte-SemiBold-webfont.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="{% static 'font-awesome/fonts/fontawesome-webfont.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="{% static 'fonts/307BC1_0_0.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/extra.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
		<!--link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}" /-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" DATA-NOTICE="THIS SHOULD BE THE LAST EMBEDED STYLESHEET [FEEDBACK FORM]" />
		<meta charset="UTF-8">
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		<title>Prodoscore&trade; – Improve Sales Execution</title>
		<script type="text/javascript" src="{% static 'js2/arc.js' %}"></script>
	</head>
	<body>
		<script>
			if (document.location.host == 'app.prodoscore.com'){
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-88255573-1', 'auto');
				ga('set', 'userId', '{{ user.id }}');
				ga('set', 'dimension1', '{{ domain.title }}');
				ga('send', 'pageview');
			}
		</script>
		<div id="app">

			<div class="sidebar">

				<div class="inner-wrap">
					<a href="/#dashboard"><img src="{% static 'img/logo.svg' %}" id="logo"/></a>
					<nav class="sidebar-nav">
						<ul class="main-navigation home">
							<li data-tag="dashboard"><a href="#dashboard"><div class="icon icon-dashboard"></div>Dashboard</a></li>
							<li data-tag="managers" style="display:none;"><i class="fa fa-caret-right"></i><a href="#managers"><div class="icon icon-managers"></div>Managers</a><ul></ul></li>
							<li data-tag="employees"><i class="fa fa-caret-right"></i><a href="#employees"><div class="icon icon-employees"></div>Employees</a><ul></ul></li>
{% if domain.nlp_enabled == 1 %}
							<li data-tag="correlations"><a href="#correlations"><div class="icon icon-correlations"></div>Correlations</a><ul></ul></li>
{% endif %}
						</ul>
						<ul class="main-navigation lower">
							<li data-tag="myprofile"><a><div class="icon icon-profile"></div>My Profile</a><ul></ul></li>
							<li data-tag="settings"><a href="/settings/#employees"><div class="icon icon-settings"></div>Settings</a></li>
						</ul>
					</nav>
				</div>

				<div class="bottom">
					<h2>Legend <i class="fa fa-caret-down"></i></h2>
					<ul class="legend">
						<li>
							<div class="indicator above"></div>
							<h3><normal>Above 70</normal><hover>Above Average</hover></h3>
						</li>
						<li>
							<div class="indicator average"></div>
							<h3><normal>Between 30~70</normal><hover>Within Average</hover></h3>
						</li>
						<li>
							<div class="indicator below"></div>
							<h3><normal>Below 30</normal><hover>Below Average</hover></h3>
						</li>
					</ul>
				</div>

			</div>

			<header class="header cf">

				<div id="loading" class="loading"></div>

				<div class="header-left">
					<form method="post">
						<i class="fa fa-bars"></i>
						<div class="select-wrapper">
							<select name="filter" id="date-filter">
								<option value="yesterday">Yesterday</option>
								<option value="this-week">This week</option>
								<option value="last-7-days" selected>Last 7 days</option>
								<option value="this-month">This month</option>
								<option value="last-30-days">Last 30 days</option>
								<option value="custom">Custom</option>
							</select>
						</div>
						<!--input type="hidden" name="week_ago" value="{{ days7ago }}" /-->
						<div class="date-picker">
							<span class="label">From</span>
							<input type="date" name="from_date" value="{{ days7ago }}" class="text-filed" />
						</div>
						<div class="date-picker">
							<span class="label">To</span>
							<input type="date" name="to_date" value="{{ today }}" class="text-filed" />
						</div>
					</form>
				</div>

				<div class="right-holder">
					<button class="notifications_trigger" id="notificationTrigger" title="Activity feed">
						<i class="fa fa-bell" aria-hidden="true"></i>
					</button>
					<a class="user-name-wrap">
						<p class="user-name" data-picture="{{ user.picture }}">{{ user.fullname }}</p>
					</a>
					<a class="logout" href="{% url 'sign-out' %}">Log Out</a>
				</div>

			</header>

			<div class="notifications_bar" id="notificationBar">
				<h2 class="notifications_bar_title">Activity feed</h2>
				<div class="notifications_bar_content"></div>
			</div>

			<div class="page-content">
				<div id="messages" class="messages"></div>
				<!--main></main-->
				<div class="content" id="contentMain"></div>
				<div class="content" id="strataCount"></div>
				<div class="content" id="contentManagers"></div>
				<div class="content" id="contentEmployees"></div>
				<div class="content" id="contentOneEmployee"></div>
{% if domain.nlp_enabled == 1 %}
				<div class="content" id="contentCorrelations"></div>
{% endif %}
				<!--footer class="footer">
					<p>&copy; 2016 Prodoscore</p>
				</footer-->
			</div>
			
			<a id="feedback" class="button" title="Feedback">
				<i class="fa fa-info-circle" aria-hidden="true"></i> Feedback
			</a>

			<div id="popup-bg">
				<div class="card-wrap">
					<h2 class="card-heading">Send feedback<i class="fa fa-times"></i></h2>
					<div class="content active">
						<form>
							<div class="one-row">
								<label><input type="checkbox" checked> Include screenshot</label>
								<div class="draw-tools">
									<a title="Highlight" class="active"><img src="{% static 'img/icons/square-dashed-24.png' %}" /><!-- Highlight--></a>
									<a title="Hide info"><img src="{% static 'img/icons/square-24.png' %}" /><!-- Hide Info--></a>
									<a title="Erase"><img src="{% static 'img/icons/eraser.png' %}" /><!-- Remove--></a>
									<a title="Reset"><img src="{% static 'img/icons/action-undo-24.png' %}" /><!-- Reset--></a>
								</div>
								<iframe id="screenshot"></iframe>
								<input type="hidden" value="" />
								<br/><br/>
								<label>
									Explain your issue or share your ideas
									<textarea></textarea>
								</label>
								<input type="button" value="Cancel" class="button gray" />
								<input type="submit" value="Send" class="button" />
							</div>
							<div class="loading"></div>
						</form>
					</div>
					<div class="content active message"></div>
				</div>
			</div>

		</div>

		<script>
			var base_url='{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}/';
			var static_url='{% static '' %}';
			var script_path='{% static 'js2/' %}';
			var template_path='{% static 'templates/' %}';
			var uid={{ user.id }};
		</script>
		<script type="text/javascript" src="{% static 'js2/calendar.js' %}"></script>
		<script type="text/javascript" src="{% static 'js2/charts.js' %}"></script>
		<script type="text/javascript" src="{% static 'js2/common.js' %}"></script>
		<script type="text/javascript" src="{% static 'js2/context-menu.js' %}"></script>
		<script type="text/javascript" src="{% static 'js2/lib.js' %}"></script>
		<script type="text/javascript" src="{% static 'js2/sorttable.js' %}"></script>
		<script type="text/javascript" src="{% static 'js2/nav.js' %}" /></script>
	</body>
</html>





