{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link href="{% static 'css/reg.css' %}" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'js/arc.js' %}"></script>
    <script type="text/javascript" src="https://apis.google.com/js/platform.js" parsetags="explicit"></script>

    <title>Prodoscore</title>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="onboard-progress">
      <script>
	if (document.location.host == 'app.prodoscore.com'){
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-88255573-1', 'auto');
		ga('send', 'pageview');
	}
      </script>
      <div class="header_bar">
	<nav id="site-navigation" class="header_nav" role="navigation">
		<a href="https://www.prodoscore.com/" class="logo-link">
			<div class="header_logo"><img src="{% static 'img/logo-nav.svg' %}" /></div>
		</a>
		<div class="menu-main-menu-container">
			<ul id="primary-menu" class="menu">
				<li class="menu-item-type-post_type menu-item-object-page sign header_btn--signup"><a class="pop-up-link" href="/sign-in/">Use a different account</a></li>
				<li class="menu-item-type-post_type menu-item-object-page sign header_btn--login"><span class="pop-up-link">{{ email }}</span></li>
			</ul>
		</div>
	</nav>
      </div>

      <div class="site-content">

	<div class="content-outer">
          <div class="content initializing-content-wrapper">
                <div class="entry-content initializing-content content ">
                  <div class="inner-wrapper">
                      <h2 class="entry-title">Analyzing Data</h2>
                      <div class="progress-bar">
                          <div class="progress" style="width:1%;"></div>
                      </div>
                      <p>Initial data analysis for your organization is still running. We will get back to you by email once it is complete. Your patience is appreciated.</p>
                      <p class="estimating-txt" id="estimate">Estimating...</p>
                  </div>
                </div>
          </div>
	</div>

      </div>
<script>
	var base_url = '{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}/';
	localStorage.clear();
	for (key in localStorage)
		localStorage.removeItem(key);
	//
	var progress = q('.progress')[0];
	var estimate = q('#estimate')[0];
	var startTimestamp = (new Date()).getTime();
	var startFrom = -1, now, eta, etaAvg = 0;
	function updateProgress(){
		new ajax('{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}/cron-stats?fromdate={{ fromdate }}&domain={{ domain_id }}', {
				callback: function(data){
					data = eval('('+data.responseText+')');
					progress.style.width = (100 * data.completed / data.total) + '%';
					if (data.completed == data.total && data.stage == 7)
						document.location = base_url;
					else if (startFrom == -1)
						startFrom = data.completed;
					else{
						now = new Date();
						eta = (data.total - data.completed) * (now.getTime() - startTimestamp) / ( (data.completed - startFrom) * 60000);
						/*if (etaAvg == 0 && eta != Infinity)
							etaAvg = eta;
						eta = (eta + 3*etaAvg) / 4;*/
						eta = Math.ceil((now.getMinutes() + eta) / 10) * 10;
						now.setMinutes(eta);
						estimate.innerHTML = now.toString();
						if (estimate.innerHTML == 'Invalid Date')
							estimate.innerHTML = 'Estimating...';
						else
							estimate.innerHTML = 'Estimated to be completed by ' + estimate.innerHTML.substring(0, 21);// + ' <small>+/- '+(100 * (data.total - data.completed + startFrom) / data.total)+'%</small>'
					}
					//
					if (estimate.innerHTML == 'Estimating...')//setTimeout('updateProgress();', 750);
						setTimeout('updateProgress();', 750);
					else
						setTimeout('updateProgress();', 2100);
				},
				fallback: function(){
					setTimeout('updateProgress();', 5200);
				}
			});
	}
	updateProgress();
</script>
  <!--script type="text/javascript" src="{% static 'js/register.js' %}"></script-->
  </body>
</html>