<!DOCTYPE html>
<html>
	<head>
		<title>ProdoScore Cron Processed</title>
	</head>
	<body>
		<h2>For {{ fullname }} ({{ email }}) On {{ date }} For {{ product }}</h2>
		Cron processed succesfully
		<ul>
			<li>Score: {{ results.score }}</li>
		</ul>
	</body>
</html>
