{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
	<link href="{% static 'css/reg.css' %}" rel="stylesheet" />
	<script type="text/javascript" src="{% static 'js/arc.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
	<!--script type="text/javascript" src="https://apis.google.com/js/platform.js" parsetags="explicit"></script-->

	<title>Prodoscore</title>

	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<script>
		if (document.location.host == 'app.prodoscore.com') {
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o),
					m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
			ga('create', 'UA-88255573-1', 'auto');
			ga('send', 'pageview');
		}
	</script>
	<div class="header_bar" id="header_bar">
		<nav id="site-navigation" class="header_nav" role="navigation">
			<a href="https://www.prodoscore.com/" class="logo-link">
				<div class="header_logo"><img src="{% static 'img/logo-nav.svg' %}" /></div>
			</a>
			<div class="menu-main-menu-container">
				<ul id="primary-menu" class="menu">
					<li class="menu-item-type-post_type menu-item-object-page sign header_btn--signup"><a class="pop-up-link" href="/sign-out/">Sign Out</a></li>
					<li class="menu-item-type-post_type menu-item-object-page sign header_btn--login"><span class="pop-up-link">{{ email }}</span></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="site-content" id="site_content">
		<div class="loading" style="display:none;"></div>

		<div class="content-wrapper steps-wrapper">
			<div class="steps">
				<div class="step step-1 current">
					<span>1</span>
				</div>
				<div class="step step-2">
					<span>2</span>
				</div>
				<div class="step step-3">
					<span>3</span>
				</div>
				<div class="step step-4">
					<span>4</span>
				</div>
			</div>
		</div>

		<div class="content-outer">
			<div id="select-domain" class="content initializing-content-wrapper">
				<div class="text-center entry-content initializing-content content-0">
					<h2 class="entry-title">Domains within your organization</h2>
					<p>Please select which domain you would like to install Prodoscore on.</p>
					<div class="messages" id="alerts"></div>
					<br/>

					<div class="inner-wrapper search">
						<div class="search-wrapper">
							<label for="search">Search:</label>
							<i class="fa fa-times-circle"></i>
							<input type="text" name="search" class="form-control" />
						</div>
					</div>
					<form method="post">
						<ul class="fa-ul text-left"></ul>
						<div style="clear:both;">
							<input type="submit" class="btn btn-default btn-lg" value="Next" />
						</div>
					</form>

				</div>
			</div>
		</div>

		<div class="content-outer table">
			<div id="install-api-client" class="content initializing-content-wrapper table">
				<div class="text-center entry-content content-1">
					<br/><br/>
					<h2 class="entry-title">Let’s get started with your <span style="color:#1a76c0;">30 day trial!</span></h2>
					<div class="messages" id="alerts"></div>
					<ul class="fa-ul">
						<li class="col-xs-4"><img src="https://www.prodoscore.com/wp-content/uploads/record-1-150x150-1-1.png" /></li>
						<li class="col-xs-4"><img src="https://www.prodoscore.com/wp-content/uploads/measure-1-150x150-1-1.png" /></li>
						<li class="col-xs-4"><img src="https://www.prodoscore.com/wp-content/uploads/improve-1-150x150-1-1.png" /></li>
					</ul>
					<div>
						<div class="col-xs-2"></div>
						<div class="col-xs-4">
							<img src="https://www.prodoscore.com/wp-content/uploads/Screenshot-11-1.png" width="82%" />
						</div>
						<div class="col-xs-5">
							<br/><br/>
							<p style="text-align:left;">Prodoscore lets you see how much time is spent in
{% if origin == 'gsuite' %}
							G Suite applications, such as Gmail, Drive, Hangouts, and Calendar events
{% elif origin == 'office365' %}
							Office 365 applications, such as Outlook, OneDrive and Office events
{% endif %}
							as well as your CRM and phone system to coach performance improvement and reward effort.</p>
						</div>
						<div class="col-xs-1"></div>
					</div>
					<br/><br/>
					<p style="clear:both;">Click on the Next button below to start onboarding your domain with Prodoscore.</p>
					<div class="text-center button-holder" id="next-step-2">
						<button type="submit" class="btn btn-lg btn-default" href="#step-2">Next</button>
						<br/><br/>
					</div>
				</div>
			</div>
		</div>

		<div class="content-outer">
			<div id="time-settings" class="content content-wrapper">
				<div class="text-center entry-content content-2">
					<h2 class="entry-title">Time settings</h2>
					<div class="error-holder"></div>
					<form method="post" class="text-left">
						{% csrf_token %}
						<div class="form-section">
							<div class="row row-half-padding">
								<div class="col-xs-5">
									<select name="region" id="region" class="form-control"></select>
								</div>
								<div class="col-xs-7">
									<select name="timezone" id="timezone" class="form-control"></select>
								</div>
							</div>
						</div>

						<div class="form-section">
							<label for="" class="control-label">Working days</label>
							<div class="working-days">
								<div class="day">
									<input type="checkbox" name="day" id="day-1">
									<label for="day-1">Sun</label>
								</div>
								<div class="day">
									<input type="checkbox" name="day" id="day-2">
									<label for="day-2">Mon</label>
								</div>
								<div class="day">
									<input type="checkbox" name="day" id="day-3">
									<label for="day-3">Tue</label>
								</div>
								<div class="day">
									<input type="checkbox" name="day" id="day-4">
									<label for="day-4">Wed</label>
								</div>
								<div class="day">
									<input type="checkbox" name="day" id="day-5">
									<label for="day-5">Thu</label>
								</div>
								<div class="day">
									<input type="checkbox" name="day" id="day-6">
									<label for="day-6">Fri</label>
								</div>
								<div class="day">
									<input type="checkbox" name="day" id="day-7">
									<label for="day-7">Sat</label>
								</div>
							</div>
						</div>

						<div class="form-section">
							<label for="" class="control-label">Work hours</label>
							<div class="row row-half-padding">
								<div class="col-xs-6">
									<input type="time" name="daystart" value="09:00" class="form-control" placeholder="Start Time">
								</div>
								<div class="col-xs-6">
									<input type="time" name="dayend" value="18:00" class="form-control" placeholder="End Time">
								</div>
							</div>
						</div>

						<div class="text-center content-footer">
							<button type="submit" class="btn btn-default" name="skip" value="skip">Skip</button>
							<button type="submit" class="btn btn-default">Next</button>

						</div>

					</form>
				</div>
			</div>
		</div>

		<div class="content-outer">
			<div id="upload-user-list" class="content initializing-content-wrapper">
				<div class="text-center initializing-content content-2">
					<h2 class="entry-title">Upload your user list</h2>
					<p class="text-left">
						<b>Step 1- Add users</b>
						<ul>
							<li class="text-left"><a href="https://storage.googleapis.com/proapp_static/user-template/Onboarding%20Template.xlsx" target="_blank">Download the sample .xlsx spreadsheet</a>.</li>
							<li class="text-left">Please fill out the required information in each column.</li>
							<li class="text-left">Be sure to select user roles from the predefined roles dropdown list in column D.</li>
							<li class="text-left">Ensure that the number of users added is within <span class="var-plan-seats">25</span> as part of the <span class="var-plan-name">trial</span> plan limits.
						</ul>
					</p>
					<p class="text-left"><b>Step 2- Upload the updated .xlxs file</b></p>
					<div class="error-holder text-left"></div>
					<div class="error-message-plus text-left">Please upload the file again once you make the above changes.</div>

					<div class="form-section" style="background-color:#f5f5f5; padding:5px;">
						<iframe src="/register/upload-xlsx/" style="width:100%; height:260px; border:3px dashed #A0A0A0;"></iframe>
					</div>
					<p class="text-left">*Note: If you opt to skip this step, all the users in your domain will be populated in the next step.
						You could manually select the user role and manager for each user in the next step.</p>

					<div class="text-center content-footer">
						<a class="btn btn-default" href="#step-1/reset">Back</a>
						<button type="submit" class="btn btn-default" name="skip" value="skip">Skip</button>
						<button type="submit" class="btn btn-default" disabled>Next</button>
					</div>

					<div class="popup-bg">
						<div class="entry-content initializing-content content popup">
							<div class="inner-wrapper">
								<h3 class="entry-title"><i class="fa fa-check color-green"></i> Your file is uploaded successfully</h3>
								<!--p>Your XLSX file is uploaded and being processed.</p-->
								<button type="submit" class="btn btn-default">OK</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="content-outer">
			<div id="select-domain-users" class="content initializing-content-wrapper">
				<div class="entry-content initializing-content content ">
					<div class="inner-wrapper">
						<h2 class="entry-title">Assign Administrator, Managers and Employees</h2>
						<!--div class="progress-bar"><div class="progress" style="width:1%;"></div></div-->
						<p>You can define your company hierarchy here.</p>
						<p>You may add up to <span class="var-plan-seats">25</span> users for the <span class="var-plan-name">trial</span> plan.</p>
						<p><em>Suspended accounts are greyed out.</em></p>
						<!--p>Next we can assign employees under them.</p-->
					</div>
					<div class="inner-wrapper search">
					   <div class="search-wrapper">
						  <label for="search">Search:</label>
						   <i class="fa fa-times-circle"></i>
							<input type="text" name="search" class="form-control" />
					   </div>

					</div>
					<form method="post">

						<table class="progress-list">
							<thead>
								<tr>
									<th class="icon-col"></th>
									<th>Employee</th>
									<th>Email</th>
									<th>User role</th>
								</tr>
							</thead>
							<tbody>
								<tr data-id="{{id}}">
									<td class="icon-col">{{picture}}</td>
									<td class="name-col">{{fullname}}</td>
									<td class="email-col">{{email}}</td>
									<td class="select-col"></td>
								</tr>
								<tr>
									<td class="loading-col" colspan="4"><span class="loading"><i class="fa fa-spinner fa-spin fa-fw"></i> Loading</span></td>
								</tr>
							</tbody>
						</table>

						<div class="text-center content-footer">
							<div style="margin:-10px 0px 4px 0px"><span class="remaining">...</span> out of <span class="seats var-plan-seats">25</span> licenses left</div>
							<a class="btn btn-default" href="#step-2/reset">Back</a>
							<input type="submit" class="btn btn-default btn-blue" value="Skip" />
							<input type="submit" class="btn btn-default btn-blue" value="Next" />
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="content-outer">
			<div id="assign-to-managers" class="content initializing-content-wrapper">
				<div class="entry-content initializing-content content ">
					<div class="inner-wrapper">
						<h2 class="entry-title">Assign Employees to Managers</h2>
						<!--div class="progress-bar"><div class="progress" style="width:2%;"></div></div-->
						<p>We are almost done. Our bots are busy fetching data and analyzing.</p>
						<p>In the meantime, let's assign employees to managers.</p>
					</div>
					<div class="inner-wrapper search">
						<div class="search-wrapper">
							<label for="search">Search:</label>
							<i class="fa fa-times-circle"></i>
							<input type="text" name="search" class="form-control" />
						</div>
					</div>
					<div class="inner-wrapper set-multiple">
						Set
						<select class="form-control" id="set-multiple"></select> as Manager for <span id="selected-count">0</span> selected employees
						<input type="button" id="select-all-confirm" class="confrim-btn" value="Set manager" disabled />
					</div>
					<form method="post">
						<!--ul class="progress-list">
							<li></li>
						</ul-->

						<table class="progress-list set-emp-manager-table">
							<thead>
								<tr>
									<th class="chk-col"><input type="checkbox" id="select-all" /> </th>
									<th class="icon-col"></th>
									<th>Employee</th>
									<th>Email</th>
									<th>Manager</th>
								</tr>
							</thead>
							<tbody>
								<tr data-id="{{id}}">
									<td class="chk-col"><input class="emp-check" type="checkbox" /></td>
									<td class="icon-col">{{picture}}</td>
									<td class="name-col">{{fullname}}</td>
									<td class="email-col">{{email}}</td>
									<td class="select-col"></td>
								</tr>
								<tr>
									<td class="loading-col" colspan="4"><span class="loading"><i class="fa fa-spinner fa-spin fa-fw"></i> Loading</span></td>
								</tr>
							</tbody>
						</table>

						<div class="text-center content-footer">
							<a class="btn btn-default" href="#step-3/reset">Back</a>
							<input type="submit" class="btn btn-default" value="Skip" />
							<input type="submit" class="btn btn-default" value="Finish" />
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="content-outer">
			<div id="completed" class="content initializing-content-wrapper">
				<div class="entry-content initializing-content content ">
					<div class="inner-wrapper">
						<h2 class="entry-title">Welcome Aboard!</h2>
						<p>Thank you for registering with Prodoscore.</p>
						<p>We will get back to you via email once we finish analyzing data from the past 3 months of your organization.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script>
		var base_url = '{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}/';
		localStorage.clear();
		var step = '{{step}}';
		var domain = '{{domain}}';
		//var task = '{{task}}';
		for (key in localStorage)
			localStorage.removeItem(key);
	</script>
	<script type="text/javascript" src="{% static 'js/register.js' %}"></script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  <script src="js/bootstrap.min.js"></script>-->
  </body>
</html>
