<!DOCTYPE html>
<html>
	<head>
		<title>ProdoScore Cron Scheduled</title>
	</head>
	<body>
		Cron scheduled for following domains for the following days

		<h2>Domains</h2>
		<ul class="domains">
{% for domain in domains %}
			<li>{{ domain.title }}</li>
{% endfor %}
		</ul>

		<h2>Days</h2>
		<ul class="days">
{% for day in days %}
			<li>{{ day }}</li>
{% endfor %}
		</ul>
	</body>
</html>
