<div class="content" id="contentSettings">
	<div class="inner-header">
		<ul class="tabs">
			<li class="tab-items"><a href="#settings/employees">Employee<span class="longer"> setting</span>s</a></li>
{% if user.role == 80 %}
			<li class="tab-items"><a href="#settings/organization">Organization<span class="longer"> settings</span></a></li>
	{% if user.domain.orgbaseline_enabled == 1 %}
			<li class="tab-items"><a href="#settings/score">Score<span class="longer"> settings</span></a></li>
	{% endif %}
			<li class="tab-items"><a href="#settings/users">User<span class="longer"> account</span>s</a></li>
{% endif %}
			<li class="tab-items"><a href="#settings/alert">Alert<span class="longer"> setting</span>s</a></li>
{% if user.role == 80 %}
			<li class="tab-items"><a href="#settings/products">Products</a></li>
{% endif %}
		</ul>
	</div>

	<div xclass="content" id="empSettings"><!-- xclass Attribute is required. Do not remove it. -->
		<div class="employee-filters">
			<div class="employee-filters_left">
				<div class="filter-wrap">
					<label class="label" for="searchEmployee">Employee</label>
					<input class="textbox" name="searchEmployee" placeholder="Search..."/>
				</div>
				<div class="filter-wrap">
					<label class="label" for="searchRole">User&nbsp;role</label>
					<select name="searchRole" id="userrole" class="textbox"></select>
				</div>
				<div class="filter-wrap">
					<label class="label left-label" for="searchManager">Manager</label>
					<select name="searchManager" id="manager" class="textbox"></select>
				</div>
			</div>
			<div class="employee-filters_right">
				<!-- Hidden for now -->
				<!--div class="filter-wrap" style="display: none;">
					<label class="visibility-toggle terminatedToggle">
						<input type="checkbox" name="showTerminated" />
						<span class="longer">
							<i class="fa"></i>
							<span>Terminated &amp; system accounts<span class="count">(0)</span></span>
						</span>
					</label>
				</div-->
				<div class="filter-wrap">
					<label class="visibility-toggle retrieveTerminated">
						<input type="checkbox" name="retrieveTerminated" />
						<span class="longer">
							<i class="fa"></i>
							<span>Terminated &amp; system accounts</span>
						</span>
					</label>
				</div>
				<div class="filter-wrap">
					<label class="visibility-toggle newEmpToggle">
						<input type="checkbox" name="showNewEmployees" />
						<span class="longer">
							<i class="fa"></i>
							<span>New employees<span class="count">(0)</span></span>
						</span>
					</label>
				</div>
			</div>

		</div>
		<div class="one-row">
			<div class="col col-12">
				<table class="sortable users-table table--fixed-body empSettings_users" style="width:100%;">
					<thead>
						<tr class="tablerow">
							<th>Employee name</th>
							<th>User role</th>
							<th>Manager&nbsp;name</th>
							<th>Visibility</th>
							<th>Report email</th>
							<th>Report frequency</th>
						</tr>
					</thead>
					<tbody></tbody>
					<tfoot style="display:none;">
						<tr>
							<td colspan="6">
								<button class="button primary">Save changes</button>
								<button class="button gray">Cancel</button>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>

	<div xclass="content" id="employeeSettings">
		<!-- xclass Attribute is required. Do not remove it. -->
		<div class="one-row">
			<div class="wrap">
			<button class="nav-button back">Back</button>
			<div class="user-name-wrap">
				<div class="circle">
				<p>
					<!-- EN -->
				</p>
				</div>
				<p class="user-name">
				<!-- Employee Name -->
				</p>
			</div>
			</div>
			<!-- REMOVEING THESE TWO BEAUTIFUL AND PERFECTLY WORKING COUPLE OF BUTTONS BECAUSE SOMEONE DISLIKE THESE -->
			<button class="button red primary block">Hide User</button>
			<button class="button green primary block">Unhide User</button>
			<!-- -->
		</div>

		<div class="card-wrap">
			<form method="post" name="confCallingSettings">
				<div class="one-row">
					<div class="col col-6">
					<div class="wrap">
						<div class="input-wrap long-text floating">
						<label class="label left-label" for="userrole">User role</label>
						<select class="textbox leftlabel" name="userrole" id="userrole"></select>
						<input class="textbox leftlabel" type="text" name="userrolestatic" id="userrolestatic" value="" disabled="true">
						</div>
					</div>
					<div class="wrap">
						<div class="input-wrap long-text floating">
						<label class="label left-label" for="usermgr">Manager</label>
						<select class="textbox leftlabel" name="usermgr" id="usermgr"></select>
						<input class="textbox leftlabel" type="text" name="usermgrstatic" id="usermgrstatic" value="" disabled="true">
						</div>
					</div>
					<div class="wrap">
						<div class="input-wrap long-text floating">
						<label class="label left-label " for="visibility">Visibility</label>
						<select class="textbox leftlabel" name="visibility" id="visibility">
							<option value="1">Visible</option>
							<option value="-1">Hidden</option>
						</select>
						</div>
					</div>
					</div>
					<div class="col col-6">
					<div class="wrap">
						<div class="input-wrap long-text floating">
						<label class="label left-label " for="report_email">Report email</label>
						<input class="textbox leftlabel" type="email" name="report_email" />
						</div>
					</div>
					<div class="wrap">
						<div class="input-wrap long-text floating">
						<label class="label left-label " for="password">Report&nbsp;frequency</label>
						<label>
							<input type="checkbox" data-value="0"><span>Weekly</span></label>
						<span>&nbsp;</span>
						<label>
							<input type="checkbox" data-value="0"><span>Daily</span></label>
						</div>
					</div>
					<div class="wrap buttons long-text">
						<button class="primary button" style="float:right;">Save changes</button>
					</div>
					</div>
				</div>
			</form>
		</div>

		<div class="one-row" style="display:none;">
			<!--<div class="col col-6">-->
			<!--<table id="leaves" class="sortable" style="width: 100%">-->
			<!--<thead>-->
			<!--<tr class="tablerow">-->
			<!--<th>Unavailable Date</th>-->
			<!--<th>Description</th>-->
			<!--</tr>-->
			<!--</thead>-->
			<!--<tbody></tbody>-->
			<!--</table>-->
			<!--</div>-->
			<div class="col col-6">
			<div class="card-wrap">
				<h2 class="card-heading">Register leaves</h2>
				<form method="post" name="registerLeaves">
				<div class="form-wrap">
					<div class="wrap">
					<div class="input-wrap floating">
						<label class="label left-label" for="txtse"></label>
						<span class="btngroup">
						<button class="btngroup btn ">One day</button>
						<button class="btngroup btn active">Date range</button>
						</span>
					</div>
					</div>
					<div class="wrap">
					<div class="input-wrap floating">
						<label class="label left-label" for="from_date">Start date</label>
						<input class="textbox leftlabel" type="date" name="from_date" value="{{ today }}" disabled />
					</div>
					</div>
					<div class="wrap end-date">
					<div class="input-wrap floating">
						<label class="label left-label" for="to_date">End date</label>
						<input class="textbox leftlabel" type="date" name="to_date" value="{{ today }}" disabled />
					</div>
					</div>
					<div class="wrap">
					<div class="input-wrap floating">
						<label class="label left-label" for="message">Message</label>
						<textarea class="textbox leftlabel" type="date" name="message" placeholder="type here" disabled></textarea>
					</div>
					</div>
					<div class="wrap buttons">
					<button class="button primary" disabled>Submit</button>
					<!--button class="button gray">Cancel</button-->
					</div>
				</div>
				</form>
			</div>
			</div>
		</div>
	</div>

	<div xclass="content" id="alertSettings">
		<!-- xclass Attribute is required. Do not remove it. -->
		<div class="one-row">
			<div class="col col-2"></div>
			<div class="col col-8">
				<form method="post" name="alertSettings">
					<div class="card-wrap">
						<h2 class="card-heading">My alerts settings</h2>
						<div class="form-wrap">
							<div class="wrap">
								<h2 class="card-heading">Set alerts for below average employees</h2><br />
								<div class="wrap">
									<div class="input-wrap long-text floating">
										<label class="label left-label" for="txtse">For yesterday?</label>
										<span class="btngroup">
								  <button class="btngroup btn">On</button>
								  <button class="btngroup btn">Off</button>
								</span>
									</div>
								</div>
								<div class="wrap">
									<div class="input-wrap long-text floating">
										<label class="label left-label " for="txtse">For a given period?</label>
										<span class="btngroup">
								  <button class="btngroup btn">On</button>
								  <button class="btngroup btn">Off</button>
								</span>
									</div>
								</div>
							</div>
							<hr color="#B2BEB5" size="1">
							<div class="wrap">
								<h2 class="card-heading">Set alerts for inactive employees</h2><br />
								<div class="wrap">
									<div class="input-wrap long-text floating">
										<label class="label left-label " for="txtse">For yesterday?</label>
										<span class="btngroup">
								  <button class="btngroup btn">On</button>
								  <button class="btngroup btn">Off</button>
								</span>
									</div>
								</div>
								<div class="wrap">
									<div class="input-wrap long-text floating">
										<label class="label left-label " for="txtse">For a given period?</label>
										<span class="btngroup">
								  <button class="btngroup btn">On</button>
								  <button class="btngroup btn">Off</button>
								</span>
									</div>
								</div>
							</div>
{% if user.role == 80 %}
							<hr color="#B2BEB5" size="1">
							<div class="wrap">
								<br />
								<div class="input-wrap long-text floating">
									<label class="label left-label " for="txtse">Set alerts for new employee?</label>
									<span class="btngroup">
							  <button class="btngroup btn">On</button>
							  <button class="btngroup btn">Off</button>
							</span>
								</div>
							</div>
{% endif %}
							<!--div class="wrap buttons long-text">
								<input type="submit" class="button primary" value="Save changes" />
							</div-->
						</div>
					</div>
					<br/>
					<input type="submit" class="button primary" value="Save changes" />
				</form>
			</div>
			<div class="col col-2"></div>
		</div>
	</div>

{% if user.role == 80 %}
	<div id="productSettings" class="product-settings">
		<div class="inner-header">
			<ul class="tabs">
				<li class="tab-items"><a href="#settings/products/turbobridge">Conference<span class="longer"> call</span></a></li>
				<li class="tab-items"><a href="#settings/products/phone-system">Phone<span class="longer"> system</span></a></li>
				<li class="tab-items"><a href="#settings/products/crm-system">CRM<span class="longer"> system</span></a></li>
				<!-- li class="tab-items"><a href="#settings/products/mobile">Mobile<span class="longer"> settings</span></a></li -->
			</ul>
		</div>
		<div xclass="content" id="turboBridgeSettings">
			<!-- xclass Attribute is required. Do not remove it. -->
			<div class="one-row">
				<div class="col col-12">
					<input type="button" class="button primary" value="Change credentials" />
				</div>
			</div>
			<div class="one-row">
				<div class="col col-2"></div>
				<div class="col col-8">
					<div class="card-wrap">
						<h2 class="card-heading">Conference call</h2>
						<form method="post" name="confCallingSettings">
							<div class="form-wrap">
								<div class="wrap">
									<div class="input-wrap long-text floating">
										<label class="label left-label " for="partner_id">Partner ID</label>
										<input class="textbox leftlabel" type="text" name="partner_id" value="turbobridge" />
									</div>
								</div>
								<div class="wrap">
									<div class="input-wrap long-text floating">
										<label class="label left-label " for="account_id">Account ID</label>
										<input class="textbox leftlabel" type="text" name="account_id" data-required="true" />
									</div>
								</div>
								<div class="wrap">
									<div class="input-wrap long-text floating">
										<label class="label left-label " for="admin">Admin email</label>
										<input class="textbox leftlabel" type="email" name="admin" data-required="true" />
									</div>
								</div>
								<div class="wrap">
									<div class="input-wrap long-text floating">
										<label class="label left-label " for="password">Password</label>
										<input class="textbox leftlabel" type="password" name="password" data-required="true" />
									</div>
								</div>
								<div class="wrap buttons long-text">
									<input type="submit" class="button primary" value="Save changes" />
									<input type="button" class="button red" value="Disconnect" />
									<input type="reset" class="button cancel gray" value="Cancel" />
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col col-2"></div>
			</div>
			<div class="one-row">
				<div class="col col-12">
					<form method="post">
						<table class="employeedata sortable" style="width:100%; margin-bottom:78px;">
							<thead>
								<tr class="tablerow">
									<th>Employee name</th>
									<th>Role</th>
									<th style="width:250px;">Conference bridge</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<div class="wrap buttons long-text fix-at-bottom">
							<input type="submit" class="button primary" value="Save changes" />
							<input type="button" class="button cancel gray" value="Cancel" />
						</div>
					</form>
				</div>
			</div>
		</div>

		<div xclass="content" id="broadSoftSettings">
			<!-- xclass Attribute is required. Do not remove it. -->
			<div class="one-row">
				<div class="col col-12">
					<input type="button" class="button primary" value="Change credentials" />
				</div>
			</div>
			<div class="one-row">
				<div class="col col-12">
					<div class="card-wrap creds-card">
						<h2 class="card-heading card-heading--select">
							<span>Select phone system</span>
							<select id="phoneSystemSelect">
								<option value="" selected="true">Select system</option>
								<option value="vbc">Vonage Business Cloud</option>
								<option value="ringcentral">RingCentral</option>
								<option value="broadsoft">BroadSoft</option>
							</select>
						</h2>
						<div class="card-body ps-settings">
							<form method="post" name="broadSoftSettings">
								<table class="creds-table phone-systems-table">
									<thead>
										<tr>
											<th title="Group Administrator Phone Number">Group admin phone number</th>
											<th title="Group Administrator Username">Username</th>
											<th title="Group Administrator Password">Password</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
								<div class="addNewRow">
									<button type="button" class="addNewRowBtn"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span>New phone system</span></button>
								</div>

								<div class="buttons">
									<input type="submit" class="button primary" value="Save changes" />
									<input type="button" class="button red" value="Disconnect" />
									<input type="button" class="button cancel gray" value="Cancel" />
								</div>
							</form>

							<div id="RingCentralSettings" style="display:none;">
								<div class="rs-wrap">
									<div class="wrap">
										<p>Click the "Authenticate with RingCentral" button below and a pop-up will direct you through the rest of the sign in process. <br><br>
											* Your ad blocker might hinder block the pop-up so we recommend you disable the ad blocker and retry if you run into any issues.</p>
									</div>
									<div class="wrap buttons long-text">
										<button id="rc_auth" class="button primary">Authenticate with RingCentral</button>
										<input type="button" class="button red" value="Disconnect" />
										<button class="button cancel gray">Cancel</button>
									</div>
								</div>
							</div>

							<div id="vbcSettings" style="display:none;">
								<div class="rs-wrap">
									<div class="wrap">
										<p>Click the "Authenticate with Vonage Business Cloud" button below and a pop-up will direct you through the rest of the sign in process. <br><br>
											* Your ad blocker might hinder block the pop-up so we recommend you disable the ad blocker and retry if you run into any issues.</p>
									</div>
									<div class="wrap buttons long-text">
										<button id="vbc_auth" class="button primary">Authenticate with Vonage Business Cloud</button>
										<input type="button" class="button red" value="Disconnect" />
										<button class="button cancel gray">Cancel</button>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
			<div class="one-row">
				<div class="col col-12">
					<form method="post" id="formPSEmpData">
						<table class="employeedata sortable" style="width:100%; margin-bottom:78px;">
							<thead>
								<tr class="tablerow">
									<th>Employee name</th>
									<th>Role</th>
									<th style="width:400px;">Telephone / Email</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<div class="wrap buttons long-text fix-at-bottom">
							<input type="submit" class="button primary" value="Save changes" />
							<input type="button" class="button cancel gray" value="Cancel" />
						</div>
					</form>
				</div>
			</div>
		</div>

		<div xclass="content" id="crmSettings">
			<!-- xclass Attribute is required. Do not remove it. -->
			<div class="one-row">
				<div class="col col-12">
					<input type="button" class="button primary" value="Change credentials" />
				</div>
			</div>
			<div class="one-row">
				<div class="col col-2"></div>
				<div class="col col-8">
					<div class="card-wrap card-wrap--auto-height">
						<h2 class="card-heading">CRM system</h2>
						<div class="form-wrap">
							<div class="wrap">
								<div class="input-wrap long-text floating">
									<label class="label left-label " for="system">System</label>
									<select name="system" id="system" class="textbox leftlabel">
										<option value="" selected="true">Select system</option>
										<option value="zoho">ZOHO</option>
										<option value="salesforce">Salesforce</option>
										<option value="prosperworks">ProsperWorks</option>
										<option value="sugarCRM">SugarCRM</option>
									</select>
								</div>
							</div>
							<div id="system-zoho" class="crm-system-block">
								<form method="post" name="CRMSettings">
									<div class="wrap">
										<div class="input-wrap long-text floating">
											<label class="label left-label " for="token">Access token</label>
											<input class="textbox leftlabel" type="password" name="token" data-required="true" />
										</div>
									</div>
									<center>
										<p><a href="https://accounts.zoho.com/apiauthtoken/create?SCOPE=ZohoCRM/crmapi" target="_blank">Click here</a> to obtain a token, and paste it above to connect to Zoho</p>
									</center>
									<br>
									<div class="wrap buttons long-text">
										<input type="submit" class="button primary" value="Save changes" />
										<input type="button" class="button red" value="Disconnect" />
										<input type="reset" class="button cancel gray" value="Cancel" />
									</div>
								</form>
							</div>

							<div id="system-salesforce" class="crm-system-block">
								<form action="">
									<div class="wrap">
										<div class="input-wrap long-text floating">
											<label class="label left-label " for="userid">Admin email</label>
											<input class="textbox leftlabel" type="email" name="userid" data-required="true" />
										</div>
									</div>
									<div class="wrap">
										<div class="input-wrap long-text floating">
											<label class="label left-label " for="password">Password</label>
											<input class="textbox leftlabel" type="password" name="password" data-required="true" />
										</div>
									</div>
									<div class="wrap">
										<div class="input-wrap long-text floating">
											<label class="label left-label " for="salesforce_token">Access token</label>
											<input class="textbox leftlabel" type="password" name="salesforce_token" data-required="true" />
										</div>
									</div>
									<center>
										<p><a href="https://na35.salesforce.com/_ui/system/security/ResetApiTokenEdit?retURL=%2Fui%2Fsetup%2FSetup%3Fsetupid%3DPersonalInfo&setupid=ResetApiToken" target="_blank">Click here</a> to obtain a token, and paste it above to connect to Salesforce</p>
									</center>
									<br>

									<div class="wrap buttons long-text">
										<input type="submit" class="button primary" value="Save changes" />
										<input type="button" class="button red" value="Disconnect" />
										<input type="reset" class="button cancel gray" value="Cancel" />
									</div>
								</form>
							</div>

							<div id="system-prosperworks" class="crm-system-block">
								<form method="post" name="CRMSettings">
									<div class="wrap">
										<div class="input-wrap long-text floating">
											<label class="label left-label " for="crm_admin">CRM admin</label>
											<input class="textbox leftlabel" type="text" name="crm_admin" data-required="true" />
										</div>
									</div>
									<div class="wrap">
										<div class="input-wrap long-text floating">
											<label class="label left-label " for="prosperworks_token">Access token</label>
											<input class="textbox leftlabel" type="password" name="prosperworks_token" data-required="true" />
										</div>
									</div>
									<center>
										<p><a href="https://app.prosperworks.com/companies/86283/app?p=db#/settings/api-keys" target="_blank">Click here</a> to obtain a token, and paste it above to connect to Prosperworks</p>
									</center>

									<br>
									<div class="wrap buttons long-text">
										<input type="submit" class="button primary" value="Save changes" />
										<input type="button" class="button red" value="Disconnect" />
										<input type="reset" class="button cancel gray" value="Cancel" />
									</div>
								</form>
							</div>

							<div id="system-sugarCRM" class="crm-system-block">
								<form method="post" name="CRMSettings">
									<div class="wrap">
										<div class="input-wrap long-text floating">
											<label class="label left-label " for="instance">Sugar Instance</label>
											<input class="textbox leftlabel" type="text" name="instance" data-required="true" placeholder="mydomain.sugarcrm.com" />
										</div>
									</div>
									<div class="wrap">
										<div class="input-wrap long-text floating">
											<label class="label left-label " for="username">Admin Username</label>
											<input class="textbox leftlabel" type="text" name="crm_admin" data-required="true" />
										</div>
									</div>
									<div class="wrap">
										<div class="input-wrap long-text floating">
											<label class="label left-label " for="sugarcrm_password">Password</label>
											<input class="textbox leftlabel" type="password" name="sugarcrm_password" data-required="true" />
										</div>
									</div>

									<div class="wrap">
										<div class="input-wrap long-text floating">
											<label class="label left-label " for="sugar_key_name">Consumer Key</label>
											<input class="textbox leftlabel" type="text" name="sugar_key_name" data-required="true" />
										</div>
										<div class="clear"></div>
										<div class="help-text"><a href="#">Click here for instructions</a></div>
									</div>
									<div class="wrap">
										<div class="input-wrap long-text floating">
											<label class="label left-label " for="sugar_key">Consumer Secret</label>
											<input class="textbox leftlabel" type="password" name="sugar_key" data-required="true" />
										</div>
										<div class="clear"></div>
										<div class="warn-text">
											<i class="fa fa-exclamation-circle" aria-hidden="true" style="float: left;margin: 1px 5px 10px 0px;color: red;"></i>
											Disclaimer: If you do not follow the steps described <a href="#">here</a> properly your data won't be taken into Prodoscore.
										</div>
									</div>
									<br>
									<div class="wrap buttons long-text">
										<input type="submit" class="button primary" value="Save changes" />
										<input type="button" class="button red" value="Disconnect" />
										<input type="reset" class="button cancel gray" value="Cancel" />
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
				<div class="col col-2"></div>
			</div>
			<div class="one-row">
				<div class="col col-12">
					<div class="card-wrap card-wrap--auto-height crm-modules" style="display:none;">
						<h2 class="card-heading">Available modules for CRM System</h2>
						<div class="form-wrap">
							<form method="post">
								<div class="module-switches"></div>

								<div class="wrap buttons">
									<input type="submit" class="button primary" value="Save modules" disabled />
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="one-row">
				<div class="col col-12">
					<form method="post" class="crm-employees">
						<table class="employeedata sortable" style="width:100%; margin-bottom:78px;">
							<thead>
								<tr class="tablerow">
									<th>Employee name</th>
									<th>Role</th>
									<th style="width:300px;">CRM account</th>
								</tr>
							</thead>
							<tbody>
								<tr class="no-records"><td colspan="3"><i>No records to display</i></td></tr>
							</tbody>
						</table>
						<div class="wrap buttons long-text fix-at-bottom">
							<input type="submit" class="button primary" value="Save changes" />
							<input type="button" class="button cancel gray" value="Cancel" />
						</div>
					</form>
				</div>
			</div>
		</div>

		<div xclass="content" id="mobileSettings">
			<!-- xclass Attribute is required. Do not remove it. -->
			<div class="one-row">
				<div class="col col-12">
					<table class="mobiledata sortable" style="width:100%; margin-bottom:78px;">
						<thead>
							<tr class="tablerow">
								<th>Name</th>
								<th>Telephone</th>
								<th>Last sync date</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<div class="wrap buttons long-text fix-at-bottom">
						<button class="button primary">Save changes</button>
						<button class="button gray">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div xclass="content" id="timeSettings">
		<!-- xclass Attribute is required. Do not remove it. -->
		<div class="one-row">
			<div class="col col-2"></div>
			<div class="col col-8">
				<form method="post" name="orgTimeSettings">
					<div class="card-wrap">
						<h2 class="card-heading">Time settings</h2>
						<input type="hidden" name="work_days" value="1,2,3,4,5" />
						<div class="form-wrap">
							<div class="wrap">
								<div class="input-wrap long-text floating">
									<label class="label left-label" for="txtse">Working days</label>
									<span class="btngroup">
										<button class="btngroup btn ">Sun</button>
										<button class="btngroup btn">Mon</button>
										<button class="btngroup btn">Tue</button>
										<button class="btngroup btn">Wed</button>
										<button class="btngroup btn">Thu</button>
										<button class="btngroup btn">Fri</button>
										<button class="btngroup btn ">Sat</button>
									</span>
								</div>
							</div>
							<div class="wrap">
								<div class="input-wrap long-text floating">
									<label class="label left-label " for="start_time">Start time</label>
									<input class="textbox leftlabel" type="time" name="start_time" xvalue="09:00" />
								</div>
							</div>
							<div class="wrap">
								<div class="input-wrap long-text floating">
									<label class="label left-label " for="end_time">End time</label>
									<input class="textbox leftlabel" type="time" name="end_time" xvalue="17:00" />
								</div>
							</div>
							<div class="wrap fd-wrap">
								<div class="full-day-text-wrap">
									<div class="full-day-text">
										<input class="checkbox" type="checkbox" name="full_day" id="full_day" />
										<label for="full_day">24 hour shift</label>
									</div>
								</div>
							</div>
							<div class="wrap">
								<div class="input-wrap long-text floating">
									<label class="label left-label " for="region">Time zone</label>
									<select name="region" id="region" class="textbox leftlabel half"></select>
									<select name="timezone" id="timezone" class="textbox leftlabel half"></select>
								</div>
							</div>
						</div>
					</div>
					<br/>
					<div class="card-wrap">
						<h2 class="card-heading">Details visibility</h2>
						<div class="form-wrap">
							<div class="wrap">
								<div class="input-wrap long-text floating">
									<label class="label left-label" for="show_details">Show details</label>

									<label for="show_details" class="toggle-checkbox">
										<input class="checkbox" type="checkbox" name="show_details" id="show_details" />
										<span class="toggles">
											<span class="checked">Shown</span>
											<span class="unchecked">Hidden</span>
										</span>
									</label>
									<div class="clear"></div>
									<div class="help-text">Sets visibility for details of individual activity. e.g: Email body, Chat message, Document content</div>
								</div>
							</div>
						</div>
					</div>
					<br/><!--button class="button gray">Cancel</button-->
					<button class="button primary">Save changes</button>
				</form>
			</div>
			<div class="col col-2"></div>
		</div>
	</div>

{% if user.domain.orgbaseline_enabled == 1 %}
	<div xclass="content" id="scoreSettings">
		<form>
			<div class="one-row">
				<div class="col col-12">
					<div class="card-wrap">
						<h2 class="card-heading">Product Weights</h2>
						<ul class="weights form-wrap">Loading...</ul>
						<div class="col col-12">
							<p align="center">
								Above weights are used to decide how importantly each task should affect the Prodoscore.
								<br/>
								<label for="use_custom" class="toggle-checkbox">
									<input class="checkbox" type="checkbox" name="use_custom" id="use_custom" />
									<span class="toggles">
										<span class="unchecked">Default Weights</span>
										<span class="checked">Custom Weights</span>
									</span>
								</label>
								<br/>
							</p>
						</div>
					</div>
					<br/>
					<button class="button primary">Save Product Weights</button>
				</div>
			</div>
		</form>
		<br/>
		<form>
			<div class="one-row">
				<div class="col col-12">
					<div class="card-wrap">
						<h2 class="card-heading">Daily Averages / Prodoscore-Baselines</h2>
						<p class="form-wrap" align="center">
							Baselines below are used to set the average/standard for computing Prodoscore.<br/>
							Percentage difference is between the global average and your organization baseline for each role/product.
						</p>
						<ul class="roles"></ul>
						<p align="center" style="clear:both">
							<br/>If you want to compare your employees with a global workforce, use Global Baselines.
							<br/>To compare your employees only within your organization, use Organization Baseline option.
							<br/>
							<label for="use_org_baseline" class="toggle-checkbox">
								<input class="checkbox" type="checkbox" name="use_org_baseline" id="use_org_baseline" />
								<span class="toggles">
									<span class="unchecked">Global Baselines</span>
									<span class="checked">Org Baselines</span>
								</span>
							</label>
						</p>
					</div>
					<br/>
					<button class="button primary">Update Baselines</button>
				</div>
			</div>
		</form>
	</div>
{% endif %}

	<div xclass="content" id="userAccounts">
		<!-- xclass Attribute is required. Do not remove it. -->
		<div class="one-row">
			<div class="col col-12">
				<button class="button primary">Add a user</button>
			</div>
		</div>
		<div class="one-row">
			<div class="col col-12">
				<table class="employeedata sortable" style="width:100% margin-bottom:78px;">
					<thead>
						<tr class="tablerow">
							<th>Full name</th>
							<th style="width:120px;">Username</th>
							<th style="width:120px;">Role</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>

	<div xclass="content" id="userSettings">
		<!-- xclass Attribute is required. Do not remove it. -->
		<div class="one-row">
			<div class="col col-2"></div>
			<div class="col col-8">
				<div class="card-wrap">
					<h2 class="card-heading">User account</h2>
					<form method="post" name="userAccount">
						<input type="hidden" name="id" value="new" />
						<div class="form-wrap">
							<div class="wrap">
								<div class="input-wrap long-text floating">
									<label class="label left-label " for="fullname">Full name</label>
									<input class="textbox leftlabel" type="text" name="fullname" />
								</div>
							</div>
							<div class="wrap">
								<div class="input-wrap long-text floating">
									<label class="label left-label " for="role">User role</label>
									<select name="role" id="role" class="textbox leftlabel">
										<option value="70">Manager</option>
										<option value="80">Administrator</option>
										<option value="-1">Terminated</option>
									</select>
								</div>
							</div>
							<div class="wrap">
								<div class="input-wrap long-text floating">
									<label class="label left-label " for="email">Username</label>
									<input class="textbox leftlabel" type="text" name="email" />
								</div>
							</div>
							<div class="wrap">
								<div class="input-wrap long-text floating">
									<label class="label left-label " for="password">Password</label>
									<input class="textbox leftlabel" type="password" name="password" />
								</div>
							</div>
							<div class="wrap buttons long-text">
								<button class="button primary">Save</button>
								<button class="button red">Delete</button>
								<button class="button gray">Cancel</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col col-2"></div>
		</div>
	</div>
{% endif %}

</div>
