{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="preload" href="{% static 'fonts/Linotte-SemiBold-webfont.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="{% static 'font-awesome/fonts/fontawesome-webfont.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="{% static 'fonts/307BC1_0_0.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/extra.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
		<!--link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}" /-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" DATA-NOTICE="THIS SHOULD BE THE LAST EMBEDED STYLESHEET [FEEDBACK FORM]" />
		<meta charset="UTF-8">
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		<title>Prodoscore&trade; – Improve Sales Execution</title>
		<script type="text/javascript" src="{% static 'js2/arc.js' %}"></script>
	</head>
	<body>
		<script>
			if (document.location.host == 'app.prodoscore.com'){
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-88255573-1', 'auto');
				ga('set', 'userId', '{{ user.id }}');
				ga('set', 'dimension1', '{{ user.domain.title }}');
				ga('send', 'pageview');
			}
		</script>
		<div id="app">

			<div class="sidebar">
				<div class="inner-wrap">
					<a href="/#dashboard"><img src="{% static 'img/logo.svg' %}" id="logo"/></a>
					<nav class="sidebar-nav admin">
						<ul class="main-navigation home">
							<li data-tag="employees"><a href="#employees"><div class="icon icon-employees"></div>Employees</a></li>
{% if user.role == 80 %}
							<li data-tag="organization"><a href="#organization"><div class="icon icon-org-cal"></div>Org settings</a></li>
	{% if user.domain.orgbaseline_enabled == 1 %}
							<li data-tag="score"><a href="#score"><div class="icon icon-calculator"></div>Score settings</a></li>
	{% endif %}
							<li data-tag="users"><a href="#users"><div class="icon icon-managers"></div>User accounts</a></li>
{% endif %}
							<li data-tag="alert"><a href="#alert"><div class="icon icon-alert"></div>Alert settings</a></li>
{% if user.role == 80 %}
	{% if user.domain.crm_enabled == 1 or user.domain.telco_enabled == 1 %}
							<li data-tag="products"><a href="#products"><div class="icon icon-correlations"></div>Products</a></li>
	{% endif %}
	{% if user.domain.subscription_type == 0 or user.domain.subscription_type == 1 or user.domain.subscription_type == 2 or user.domain.subscription_type == 3 %}
							<li data-tag="billing"><a href="#billing"><div class="icon credit-card"></div>Billing</a></li>
	{% endif %}
{% endif %}
						</ul>
						<ul class="main-navigation bottom">
							<li data-tag="settings"><a href="/#dashboard"><div class="icon icon-dashboard"></div>Dashboard</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<header class="header cf">

				<div id="loading" class="loading"></div>

				<div class="header-left" style="display:none;">
					<form>
						<i class="fa fa-bars"></i>
						<div class="select-wrapper">
							<select name="domain" id="domain-list"><option>Loading</option></select>
						</div>
						<a href="/register/?mdomains=True" class="button primary" style="float:right; margin:18px 12px;">Add New Domain</a>
						<!--input type="hidden" name="filter" value="this-week" /- -><input type="hidden" name="from_date" value="{{ days7ago }}" /><input type="hidden" name="to_date" value="{{ today }}" /-->
					</form>
				</div>

				<div class="right-holder">
					<a class="user-name-wrap">
						<p class="user-name" data-picture="{{ user.picture }}">{{ user.fullname }}</p>
					</a>
					<a class="logout" href="{% url 'sign-out' %}">Log Out</a>
				</div>

			</header>

			<div class="page-content">
				<div id="messages" class="messages"></div>
				<!--main></main-->
				<div class="content" id="empSettings"></div>
				<div class="content" id="employeeSettings"></div>
{% if user.role == 80 %}
				<div class="content" id="timeSettings"></div>
	{% if user.domain.orgbaseline_enabled == 1 %}
				<div class="content" id="scoreSettings"></div>
	{% endif %}
				<div class="content" id="userAccounts"></div>
				<div class="content" id="userSettings"></div>
				<div class="content" id="employeesBulkAdd"></div>
{% endif %}
				<div class="content" id="alertSettings"></div>
{% if user.role == 80 %}
		{% if user.domain.telco_enabled == 1 or user.domain.crm_enabled == 1 %}
				<div class="product-settings" id="productSettings" style="display:none;">


					<div class="inner-header">
						<ul class="tabs">
		{% if user.domain.telco_enabled == 1 %}
							<li class="tab-items"><a href="#products/turbobridge">Conference<span class="longer"> call</span></a></li>
							<li class="tab-items"><a href="#products/phone-system">Phone<span class="longer"> system</span></a></li>
							<!-- li class="tab-items"><a href="#products/mobile">Mobile<span class="longer"> settings</span></a></li -->
		{% endif %}
		{% if user.domain.crm_enabled == 1 %}
							<li class="tab-items"><a href="#products/crm-system">CRM<span class="longer"> system</span></a></li>
		{% endif %}
						</ul>
					</div>


		{% if user.domain.telco_enabled == 1 %}
					<div class="content" id="turboBridgeSettings"></div>
					<div class="content" id="broadSoftSettings"></div>
					<!--div class="content" id="mobileSettings"></div-->
		{% endif %}
		{% if user.domain.crm_enabled == 1 %}
					<div class="content" id="crmSettings"></div>
		{% endif %}


				</div>
	{% endif %}
	{% if user.domain.subscription_type == 0 or user.domain.subscription_type == 1 or user.domain.subscription_type == 2 or user.domain.subscription_type == 3 %}
				<div class="content" id="billingSettings"></div>
	{% endif %}
{% endif %}
			</div>
			
			<a id="feedback" class="button" title="Feedback">
				<i class="fa fa-info-circle" aria-hidden="true"></i> Feedback
			</a>

			<div id="popup-bg">
				<div class="card-wrap">
					<h2 class="card-heading">Send feedback<i class="fa fa-times"></i></h2>
					<div class="content active">
						<form>
							<div class="one-row">
								<label><input type="checkbox" checked> Include screenshot</label>
								<div class="draw-tools">
									<a title="Highlight" class="active"><img src="{% static 'img/icons/square-dashed-24.png' %}" /><!-- Highlight--></a>
									<a title="Hide info"><img src="{% static 'img/icons/square-24.png' %}" /><!-- Hide Info--></a>
									<a title="Erase"><img src="{% static 'img/icons/eraser.png' %}" /><!-- Remove--></a>
									<a title="Reset"><img src="{% static 'img/icons/action-undo-24.png' %}" /><!-- Reset--></a>
								</div>
								<iframe id="screenshot"></iframe>
								<input type="hidden" value="" />
								<br/><br/>
								<label>
									Explain your issue or share your ideas
									<textarea></textarea>
								</label>
								<input type="button" value="Cancel" class="button gray" />
								<input type="submit" value="Send" class="button" />
							</div>
							<div class="loading"></div>
						</form>
					</div>
					<div class="content active message"></div>
				</div>
			</div>

		</div>

		<script>
			var base_url='{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}/';
			var static_url='{% static '' %}';
			var script_path='{% static 'js2/' %}';
			var template_path='{% static 'templates/' %}';
			var uid={{ user.id }};
		</script>
		<script type="text/javascript" src="{% static 'js2/common.js' %}"></script>
		<!--script type="text/javascript" src="{% static 'js2/context-menu.js' %}"></script-->
		<script type="text/javascript" src="{% static 'js2/lib.js' %}"></script>
		<script type="text/javascript" src="{% static 'js2/sorttable.js' %}"></script>
		<script type="text/javascript" src="{% static 'js2/nav-settings.js' %}" /></script>
	</body>
</html>





