<script>
	var reponse = '{{ result }}';
	window.opener.handleVBCResponse(reponse);
</script>

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}" />
		<script type="text/javascript" src="{% static 'js/loader.js' %}" /></script>
		{% include 'includes/tpl_head.html' %}
		<title>Not Enough Permission</title>
	</head>
	<body>
		<div id="loader" style="display:none;">
			<div id="progress"></div>
		</div>
		<div id="app">
			You do not have employees under you to view ProdoScore.
			<br/>
			Please contact your domain admin.
		</div>
	</body>
</html>