<html>
  <head>
    <title>Your Google Activity</title>
    <style type=text/css>
      td  { vertical-align: top; padding: 0.5em }
      img { border:0 }
    </style>
  </head>
  <body>
	<div>
		{% for user in users %}
			{{user | linebreaks}}
			{% for scores in emp_score %}
				{% if user.id == scores.employee_id%}
					{{scores.product}}
					{{scores.score}}
				{%endif%}
			{% endfor %}
		{% endfor %}
	</div>
  </body>
</html>