<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#e5e5e5!important"><head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<title>You have disconnected {{ product.title }} from Prodoscore for {{ domain.title }}</title>
		<style>@media only screen{html{min-height:100%;background:#e5e5e5}}@media only screen and (max-width:600px){.small-float-center{margin:0 auto!important;float:none!important;text-align:center!important}}@media only screen and (max-width:600px){table.body img{width:auto;height:auto}table.body center{min-width:0!important}table.body .container{width:95%!important}table.body .columns{height:auto!important;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:0!important;padding-right:0!important}table.body .columns .columns{padding-left:0!important;padding-right:0!important}table.body .collapse .columns{padding-left:0!important;padding-right:0!important}th.small-6{display:inline-block!important;width:50%!important}th.small-12{display:inline-block!important;width:100%!important}.columns th.small-12{display:block!important;width:100%!important}table.menu{width:100%!important}table.menu td,table.menu th{width:auto!important;display:inline-block!important}table.menu.vertical td,table.menu.vertical th{display:block!important}table.menu[align=center]{width:auto!important}}</style>
		<!--script src="arc.js"></script-->
	</head>
	<body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;background:#e5e5e5!important;box-sizing:border-box;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important;">
		<span class="preheader" style="color:#e5e5e5;display:none!important;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden"></span>
		<br>
		<table class="body" style="border-collapse:collapse;border-spacing:0;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;height:100%;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;width:100%;">
			<tbody><tr style="padding:0;text-align:left;vertical-align:top">
				<td class="center" align="center" valign="top" style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
					<center data-parsed="" style="min-width:750px;width:100%">
						<table align="center" class="container float-center" style="border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:750px;">
							<tbody>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<td style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
										
										<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
											<tbody>
												<tr style="padding:0;text-align:left;vertical-align:top">
													<th class="small-12 large-12 columns first last" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0;padding-right:0;text-align:left;width:600px;">
														<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
															<tbody><tr style="background:#f3f3f3!important;padding:0;text-align:left;vertical-align:top">
																<th style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">
																	
																	<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%;">
																		<tbody>
																			<tr style="padding:0;text-align:left;vertical-align:top">
																				<th class="small-12 large-12 columns first last" style="background-image: url('https://storage.googleapis.com/proapp_static/email-images/bg_image.png');background-position:center;background-repeat:no-repeat;background-size:cover;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:100%;">
																					<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
																						<tbody><tr style="padding:0;text-align:left;vertical-align:top">
																							<td style="padding:28px">
																								<img src="https://storage.googleapis.com/proapp_static/img/logo-white.png" width="150">
																							</td>
																							<td style="padding:28px; color:#ffffff; font-weight:bold; text-align:right;">
																								You Can't Improve What You Don't Measure
																							</td>
																							<td></td>
																						</tr>
																						<tr style="padding:0;text-align:left;vertical-align:top">
																							<th style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left" colspan="2">
																								<h1 style="margin:38px 0px 100px 0px;color:#fff;font-family:Nunito,Arial,sans-serif;font-size:28px;font-weight:500;line-height:1.3;padding:0;text-align:center;word-wrap:normal">You have disconnected {{ product.title }}</h1>
																							</th>
																							<th class="expander" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
																						</tr>
																					</tbody></table>
																				</th>
																			</tr>
																		</tbody>
																	</table>
																	<table class="xrow" style="margin:0px auto;margin-top:-48px;margin-bottom:42px;border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width: 74%;background-color: #ffffff;border-radius: 6px;box-shadow: 0px 3px 15px -3px #c6c3c3;">
																		<tbody>
																			<tr style="padding:0;text-align:left;vertical-align:top">
																				<th class="small-12 large-12 columns first last" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:30px 0!important;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:100%;">
																					<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
																						<tbody><tr style="padding:0;text-align:left;vertical-align:top">
																							<th style="color: #828282;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align: center;">
																								<section data-parsed="" style="width: 84%;margin: 0 auto;">
																									This email is a reminder that {{ product.title }} has been disconnected from Prodoscore for {{ domain.title }},
																									by <a href="mailto:{{ user.email }}">{{ user.fullname }}</a>.
																									<br><br>
																									Prodoscore would not be collecting data from {{ product.title }}
																									unless you set-up this integration from Prodoscore Product Settings page.
																								</section>
																							</th>
																							<th class="expander" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0;"></th>
																						</tr>
																					</tbody></table>
																				</th>
																			</tr>
																			<tr style="padding:0;text-align:left;vertical-align:top">
																				<th class="small-12 large-12 columns first last" style="background-position:center;background-repeat:no-repeat;background-size:contain;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding: 12px 0!important;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:100%;">
																					<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
																						<tbody><tr style="padding:0;text-align:left;vertical-align:top">
																							<th style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">
																								<center data-parsed="" style="min-width:none!important;width:100%">
																									<table class="button large alert float-center" style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;float:none;margin:0 0 16px 0;padding:0;text-align:center;vertical-align:top;width:auto">
																										<tbody><tr style="padding:0;text-align:left;vertical-align:top">
																											<td style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
																												<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
																													<tbody><tr style="padding:0;text-align:left;vertical-align:top">
																														<td style="-moz-hyphens:auto;-webkit-hyphens:auto;background: #fc951d;border-collapse:collapse!important;color:#fefefe;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;border-radius: 30px;text-transform: uppercase;">
																															<a href="https://app.prodoscore.com/settings/#products" target="_blank" style="border-radius:3px;color:#fefefe;display:inline-block;font-family:Nunito,Arial,sans-serif;font-size: 15px;font-weight: 600;line-height:1.3;margin:0;padding: 16px 48px;text-align:left;text-decoration:none;">Update Product Settings</a>
																														</td>
																													</tr>
																												</tbody></table>
																											</td>
																										</tr>
																									</tbody></table>
																								</center>
																							</th>
																							<th class="expander" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0;"></th>
																						</tr>
																					</tbody></table>
																				</th>
																			</tr>
																		</tbody>
																	</table>
																	<p class="text-center" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center;"><small style="color: #8c8c8c;font-size: 85%;">You are receiving this email because your company is registered on Prodoscore.com</small></p>
																</th>
															</tr>
														</tbody></table>
													</th>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</center>
				</td>
			</tr>
		</tbody></table>
		<!-- prevent Gmail on iOS font size manipulation -->
		<div style="display:none;white-space:nowrap;font:15px courier;line-height:0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
	</body>
</html>