<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#f3f3f3!important">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Domain {{ domain.title }} has uninstalled Prodoscore from GSuite.</title>
		<style>@media only screen{html{min-height:100%;background:#f3f3f3}}@media only screen and (max-width:600px){.small-float-center{margin:0 auto!important;float:none!important;text-align:center!important}}@media only screen and (max-width:600px){table.body img{width:auto;height:auto}table.body center{min-width:0!important}table.body .container{width:95%!important}table.body .columns{height:auto!important;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:0!important;padding-right:0!important}table.body .columns .columns{padding-left:0!important;padding-right:0!important}table.body .collapse .columns{padding-left:0!important;padding-right:0!important}th.small-6{display:inline-block!important;width:50%!important}th.small-12{display:inline-block!important;width:100%!important}.columns th.small-12{display:block!important;width:100%!important}table.menu{width:100%!important}table.menu td,table.menu th{width:auto!important;display:inline-block!important}table.menu.vertical td,table.menu.vertical th{display:block!important}table.menu[align=center]{width:auto!important}}</style>
		<!--script src="arc.js"></script-->
	</head>
	<body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;background:#f3f3f3!important;box-sizing:border-box;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important;">
		<span class="preheader" style="color:#f3f3f3;display:none!important;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden"></span>
		<br/>
		<table class="body" style="background:#f3f3f3!important;border-collapse:collapse;border-spacing:0;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;height:100%;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;width:100%;">
			<tbody><tr style="padding:0;text-align:left;vertical-align:top">
				<td class="center" align="center" valign="top" style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
					<center data-parsed="" style="min-width:600px;width:100%">
						<table align="center" class="container float-center" style="background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:600px;">
							<tbody>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<td style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
										<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
											<tbody>
												<tr style="padding:0;text-align:left;vertical-align:top">
													<td height="16px" style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">&nbsp;</td>
												</tr>
											</tbody>
										</table>
										<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
											<tbody>
												<tr style="padding:0;text-align:left;vertical-align:top">
													<th class="small-12 large-12 columns first last" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0;padding-right:0;text-align:left;width:600px;">
														<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
															<tbody><tr style="padding:0;text-align:left;vertical-align:top">
																<th style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">
																	<center data-parsed="" style="min-width:600px;width:100%">
																		<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/49833/prodoscore-email-header.png" style="-ms-interpolation-mode:bicubic;clear:both;display:block;float:none;margin:0 auto;max-width:580px;outline:0;text-align:center;text-decoration:none;width:auto;" align="center" class="float-center">
																	</center>
																	<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%;margin-top: 16px;">
																		<tbody>
																			<tr style="padding:0;text-align:left;vertical-align:top">
																				<th class="small-12 large-12 columns first last" style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/49833/prodoscore-email-bg-top.png);background-position:center;background-repeat:no-repeat;background-size:cover;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:40px!important;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:100%;">
																					<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
																						<tbody><tr style="padding:0;text-align:left;vertical-align:top">
																							<th style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
																								<h1 style="color:#fff;font-family:Nunito,Arial,sans-serif;font-size:40px;font-weight:700;line-height:1.3;margin:0;margin-bottom:10px;padding:0;padding-left:20px;text-align:left;word-wrap:normal">Domain {{ domain.title }} uninstalled Prodoscore.</h1>
																							</th>
																							<th class="expander" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
																						</tr>
																					</tbody></table>
																				</th>
																			</tr>
																		</tbody>
																	</table>
																	<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
																		<tbody>
																			<tr style="padding:0;text-align:left;vertical-align:top">
																				<th class="small-12 large-12 columns first last" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:30px 0!important;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:100%;">
																					<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
																						<tbody><tr style="padding:0;text-align:left;vertical-align:top">
																							<th style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">
																								<center data-parsed="" style="width: 70%;margin: 0 auto;">
																									<b>Domain {{ domain.title }} has uninstalled Prodoscore from GSuite.</b>
																									<br><br>
																									Prodoscore Cron cannot access users list for the domain {{ domain.title }}
																									<br>
																									This is "probably" due to they being uninstalled Prodoscore from GSuite Marketplace. This domain is now disabled.
																									<br><br>
																									<a href="https://app.prodoscore.com/admin/domain-details/?id={{ domain.id }}" target="_blank">Domain Details</a>
																								</center>
																							</th>
																							<th class="expander" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0;"></th>
																						</tr>
																					</tbody></table>
																				</th>
																			</tr>
																		</tbody>
																	</table>
																	<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
																		<tbody>
																			<tr style="padding:0;text-align:left;vertical-align:top">
																				<th class="small-12 large-12 columns first last" style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/49833/prodoscore-email-bg-pattern.png);background-position:center;background-repeat:no-repeat;background-size:contain;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:60px 0!important;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:100%;">
																					<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
																						<tbody><tr style="padding:0;text-align:left;vertical-align:top">
																							<th style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">
																								<center data-parsed="" style="min-width:none!important;width:100%">
																									<table class="button large alert float-center" style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;float:none;margin:0 0 16px 0;padding:0;text-align:center;vertical-align:top;width:auto">
																										<tbody><tr style="padding:0;text-align:left;vertical-align:top">
																											<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
																												<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
																													<tbody><tr style="padding:0;text-align:left;vertical-align:top">
																														<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#EC4442;border:0 solid #EC4442;border-collapse:collapse!important;color:#fefefe;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
																															<a href="https://app.prodoscore.com/admin/domain-details/?id={{ domain.id }}" target="_blank" style="border:0 solid #EC4442;border-radius:3px;color:#fefefe;display:inline-block;font-family:Nunito,Arial,sans-serif;font-size:20px;font-weight:400;line-height:1.3;margin:0;padding:10px 20px 10px 20px;text-align:left;text-decoration:none;">Go to Prodoscore Admin Dashboard</a>
																														</td>
																													</tr>
																												</tbody></table>
																											</td>
																										</tr>
																									</tbody></table>
																								</center>
																							</th>
																							<th class="expander" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0;"></th>
																						</tr>
																					</tbody></table>
																				</th>
																			</tr>
																		</tbody>
																	</table>
																</th>
															</tr>
														</tbody></table>
													</th>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</center>
				</td>
			</tr>
		</tbody></table>
		<!-- prevent Gmail on iOS font size manipulation -->
		<div style="display:none;white-space:nowrap;font:15px courier;line-height:0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
	</body>
</html>