{% load mathfilters %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#f3f3f3!important">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
{% if fromdate == todate %}
    <title>Prodoscore Daily Team Update{% if reporttype == 'employee' %} for {{employee.fullname}}{% endif %}</title>
{% else %}
    <title>Prodoscore Weekly Team Update{% if reporttype == 'employee' %} for {{employee.fullname}}{% endif %}</title>
{% endif %}
    <style>@media only screen{html{min-height:100%;background:#f3f3f3}}@media only screen and (max-width:600px){.small-float-center{margin:0 auto!important;float:none!important;text-align:center!important}}@media only screen and (max-width:600px){table.body img{width:auto;height:auto}table.body center{min-width:0!important}table.body .container{width:95%!important}table.body .columns{height:auto!important;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:0!important;padding-right:0!important}table.body .columns .columns{padding-left:0!important;padding-right:0!important}table.body .collapse .columns{padding-left:0!important;padding-right:0!important}th.small-6{display:inline-block!important;width:50%!important}th.small-12{display:inline-block!important;width:100%!important}.columns th.small-12{display:block!important;width:100%!important}table.menu{width:100%!important}table.menu td,table.menu th{width:auto!important;display:inline-block!important}table.menu.vertical td,table.menu.vertical th{display:block!important}table.menu[align=center]{width:auto!important}}</style>
    <script src="arc.js"></script>
  </head>
  <body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;background:#f3f3f3!important;box-sizing:border-box;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important;">
    <span class="preheader" style="color:#f3f3f3;display:none!important;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden"></span>
    <br/>
    <table class="body" style="background:#f3f3f3!important;border-collapse:collapse;border-spacing:0;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;height:100%;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;width:100%;">
      <tbody><tr style="padding:0;text-align:left;vertical-align:top">
        <td class="center" align="center" valign="top" style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
          <center data-parsed="" style="min-width:600px;width:100%">
            <table align="center" class="container float-center" style="background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:600px;">
              <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                  <td style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
                    <table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                      <tbody>
                        <tr style="padding:0;text-align:left;vertical-align:top">
                          <td height="16px" style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                      <tbody>
                        <tr style="padding:0;text-align:left;vertical-align:top">
                          <th class="small-12 large-12 columns first last" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0;padding-right:0;text-align:left;width:600px;">
                            <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                              <tbody><tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">
                                  <center data-parsed="" style="min-width:600px;width:100%">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/49833/prodoscore-email-header.png" style="-ms-interpolation-mode:bicubic;clear:both;display:block;float:none;margin:0 auto;max-width:580px;outline:0;text-align:center;text-decoration:none;width:auto;" align="center" class="float-center">
                                  </center>
                                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%;margin-top: 16px;">
                                    <tbody>
                                      <tr style="padding:0;text-align:left;vertical-align:top">
                                        <th class="small-12 large-12 columns first last" style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/49833/prodoscore-email-bg-top.png);background-position:center;background-repeat:no-repeat;background-size:cover;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:40px!important;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:100%;">
                                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody><tr style="padding:0;text-align:left;vertical-align:top">
                                              <th style="Margin:0;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                                <p style="Margin:0;Margin-bottom:10px;color:#fff;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;padding-left:20px;text-align:left"
                                                  >Hi, {{ managerfirstname }}!</p>
                                                <h1 style="Margin:0;Margin-bottom:10px;color:#fff;font-family:Nunito,Arial,sans-serif;font-size:40px;font-weight:700;line-height:1.3;margin:0;margin-bottom:10px;padding:0;padding-left:20px;text-align:left;word-wrap:normal">
{% if fromdate == todate %}
                                                  Your Daily<br>{% if reporttype == 'admin' %}Organization{% else %}Team{% endif %} Update</h1>
                                                <p style="Margin:0;Margin-bottom:10px;color:#fff;font-family:Nunito,Arial,sans-serif;font-size:24px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;padding:0;padding-left:20px;text-align:left">
                                                  {{ fromdate }}
{% else %}
                                                  Your Weekly<br>{% if reporttype == 'admin' %}Organization{% else %}Team{% endif %} Update</h1>
                                                <p style="Margin:0;Margin-bottom:10px;color:#fff;font-family:Nunito,Arial,sans-serif;font-size:24px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;padding:0;padding-left:20px;text-align:left">
                                                  {{ fromdate }} to {{ todate }}
{% endif %}
                                                </p>
                                              </th>
                                              <th class="expander" style="Margin:0;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                                            </tr>
                                          </tbody></table>
                                        </th>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                    <tbody>
                                      <tr style="padding:0;text-align:left;vertical-align:top">
                                        <th class="small-12 large-6 columns first" style="background-color:#{% if average_strata == 2 %}4189C6{% elif average_strata == 1 %}7D7D7D{% elif average_strata == 0 %}DC2F2F{% endif %};color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:20px 0!important;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;vertical-align:middle;width:50%;">
                                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                              <th style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">
                                                <p class="text-center" style="color:#fff!important;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;margin-bottom:-10px;padding:0;text-align:center;">
						  <span style="vertical-align:middle; float:left; width:75%">{% if reporttype == 'admin' %}Organization’s{% else %}Team’s{% endif %} overall Prodoscore
						  {% if fromdate == todate %}for yesterday{% else %}for the last week{% endif %}:</span>
						  <span style="font-size:40px;vertical-align:middle;font-weight:700">{{ average|floatformat:"0" }}</span>
						</p>
                                              </th>
                                            </tr>
                                          </table>
                                        </th>
                                        <th class="small-12 large-6 columns last" style="background-color:#{% if 0 > team_delta %}EC4442{% else %}23B277{% endif %};color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:20px 0!important;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;vertical-align:middle;width:50%;">
                                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                              <th style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">
                                                <p class="text-center" style="color:#fff!important;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;padding:0;text-align:center;">
						  {{ team_delta|floatformat:"0"|abs }}% {% if 0 > team_delta %}decrease{% else %}increase{% endif %} from
						  {% if fromdate == todate %}previous day{% else %}week before{% endif %}
						</p>
                                              </th>
                                            </tr>
                                          </table>
                                        </th>
                                      </tr>
                                    </tbody>
                                  </table>

{% if reporttype != 'employee' %}
                   <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>

                        <td valign="middle" style="padding:20px 30px" width="50%" bgcolor="#EEEEEE" xbgcolor="#ECECEC">
                        <a href="https://app.prodoscore.com/#employee/{{ max_emp.id }}/{{ max_emp.email }}" style="text-decoration:none;">
                           <table width="100%" cellpadding="0" cellspacing="0" border="0">
                               <tr>
                                   <td colspan="2"><h4 style="color:#3D3D3D;font-weight:normal;margin:0">Employee with <strong>highest</strong> Prodoscore</h4></td>
                               </tr>
                               <tr style="font-size:20px;font-weight:bold;line-height:1.5">
                                   <td style="line-height:1.5">{{ max_emp.fullname|nbsp }}</td>
                                   <td>
					<span style="color:#{% if max_emp.strata == 0 %}DE224F{% elif max_emp.strata == 1 %}767676{% elif max_emp.strata == 2 %}0E8ACC{% endif %};line-height:1.5">
						{{ max_emp.scr.l|floatformat:"0" }}
					</span>
                                   </td>
                               </tr>
                               <!--tr>
                                   <td colspan="2" style="color:#8F8F8F;font-size:12px">
					{{ max_emp.scr.l|floatformat:"0" }} is {% if max_emp.strata == 0 %}a below {% elif max_emp.strata == 2 %}an above {% else %}an {% endif %} average Prodoscore
				   </td>
                               </tr-->
                           </table>
                        </a>
                        </td>

                        <td valign="middle" style="padding:20px 30px" width="50%" bgcolor="#EEEEEE" xbgcolor="#F3F3F3">
                        <a href="https://app.prodoscore.com/#employee/{{ min_emp.id }}/{{ min_emp.email }}" style="text-decoration:none;">
                           <table width="100%" cellpadding="0" cellspacing="0" border="0">
                               <tr>
                                   <td colspan="2"><h4 style="color:#3D3D3D;font-weight:normal;margin:0">Employee with <strong>lowest</strong> Prodoscore</h4></td>
                               </tr>
                               <tr style="font-size:20px;font-weight:bold;line-height:1.5">
                                   <td style="line-height:1.5">{{ min_emp.fullname|nbsp }}</td>
                                   <td>
					<span style="color:#{% if min_emp.strata == 0 %}DE224F{% elif min_emp.strata == 1 %}767676{% elif min_emp.strata == 2 %}0E8ACC{% endif %};line-height:1.5">
						{{ min_emp.scr.l|floatformat:"0" }}
					</span>
                                   </td>
                               </tr>
                               <!--tr>
                                   <td colspan="2" style="color:#8F8F8F;font-size:12px">
					{{ min_emp.scr.l|floatformat:"0" }} is {% if min_emp.strata == 0 %}a below {% elif min_emp.strata == 2 %}an above {% else %}an {% endif %}average Prodoscore
				   </td>
                               </tr-->
                           </table>
                        </a>
                        </td>

                    </tr>
                </table>
{% endif %}

{% for id, row in alerts.items %}
                   <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
	{% for i, alert in row.items %}
                        <td valign="middle" style="padding:20px 30px" width="50%" bgcolor="#F9F9F9">
                           <table width="100%" cellpadding="0" cellspacing="0" border="0">
                               <tr style="line-height:1.5">
                                   <td><span style="color:#DE224F; font-size:21pt; font-weight:bold; line-height:1.5">{{ alert.count }}&nbsp;</span></td>
                                   <td><h4 style="color:#3D3D3D; font-weight:normal; font-size:12pt; margin:0">{{ alert.alert|safestr }}</h4></td>
                               </tr>
                           </table>
                        </td>
	{% endfor %}
                    </tr>
                </table>
{% endfor %}

                                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                    <tbody>
                                      <tr style="padding:0;text-align:left;vertical-align:top">
                                        <th class="small-12 large-12 columns first last" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:30px 0!important;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:100%;">
                                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                              <th style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">
                                                <center data-parsed="" style="min-width:none!important;width:100%">
		<h3 style="color:#1e659f;font-size:18px;margin-bottom:10px;font-weight:bold">
{% if fromdate == todate %}
			Daily Prodoscore {% if reporttype == 'admin' %}Organization{% else %}Team{% endif %} Graph
{% else %}
			Weekly Prodoscore {% if reporttype == 'admin' %}Organization{% else %}Team{% endif %} Graph
{% endif %}
		</h3>
						  <img src="{{ graph }}" alt="Prodoscore {% if fromdate == todate %}Daily{% else %}Weekly{% endif %} {% if reporttype == 'admin' %}Organization{% else %}Team{% endif %} Graph" style="-ms-interpolation-mode:bicubic;clear:both;display:block;float:none;margin:0 auto;max-width:550px;outline:0;text-align:center;text-decoration:none;width:auto;" align="center" class="float-center">
		<p align="center">
			<br/>
			<span style="background-color:#ffe6e6; color:#1e659f; padding:5px 8px;">Below Average</span> &nbsp; &nbsp; &nbsp;
			<span style="background-color:#f0f0f0; color:#1e659f; padding:5px 8px;">Within Average</span> &nbsp; &nbsp; &nbsp;
			<span style="background-color:#dcf0ff; color:#1e659f; padding:5px 8px;">Above Average</span>
		<p>
						</center>
                                              </th>
                                              <th class="expander" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0;"></th>
                                            </tr>
                                          </table>
                                        </th>
                                      </tr>
                                    </tbody>
                                  </table>

<!--
           <tr>
               <td valign="center" bgcolor="#F9F9F9" align="center" style="padding:30px 0; font-size:20px">
{% if reporttype != 'employee' %}
			<h3 style="text-align:center;color:#3D3D3D;font-size:24px;margin-bottom:30px;font-weight:bold">
	{% if fromdate == todate %}
			Daily
	{% else %}
			Weekly
	{% endif %} Prodoscore {% if reporttype == 'admin' %}of organization{% else %}for team members{% endif %}</h3>
{% else %}
			<h3 style="text-align:center;color:#3D3D3D;font-size:24px;margin-bottom:30px;font-weight:bold">Your 
	{% if fromdate == todate %}
			Daily
	{% else %}
			Weekly
	{% endif %} Prodoscore</h3>
{% endif %}
-->

{% for id, employee in employees.items %}
	{% if employee.fullname != '' %}
                                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                    <tbody>
                                      <tr style="padding:0;text-align:left;vertical-align:top">
                                        <th class="small-12 large-6 columns first" style="background-color:#{% if employee.strata == 0 %}DE224F{% elif employee.strata == 1 %}767676{% elif employee.strata == 2 %}0E8ACC{% endif %};color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:20px!important;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;vertical-align:middle;width:50%;">
                                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                              <th style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">
                                                <p class="text-center" style="color:#fff!important;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;padding:0;text-align:center;">
						  <a href="https://app.prodoscore.com/#employee/{{ id }}/{{ employee.email }}" class="fullname" style="color:#FFFFFF; text-decoration:none;">{{ employee.fullname|nbsp }}</a>
						  <!-- {% if fromdate == todate %}Daily{% else %}Weekly{% endif %} Prodoscore: -->
						  <span style="font-size:40px;vertical-align:middle;font-weight:700">{{ employee.scr.l|floatformat:"0" }}</span>
						</p>
                                              </th>
                                            </tr>
                                          </table>
                                        </th>
                                        <th class="small-12 large-6 columns last" style="background-color:#{% if employee.strata == 0 %}DE224F{% elif employee.strata == 1 %}767676{% elif employee.strata == 2 %}0E8ACC{% endif %};
						background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/49833/prodoscore-{% if employee.scr.delta == 0 %}red{% elif employee.scr.delta < 0 %}red{% else %}green{% endif %}-arrow-bg.png);
						background-position:center right;background-repeat:no-repeat;background-size:contain;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:20px;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;vertical-align:middle;width:50%;">
                                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                              <th style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">
                                                <p class="text-right" style="color:#fff!important;font-family:Nunito,Arial,sans-serif;font-size:24px;font-weight:700;line-height:1.3;margin:0;margin-bottom:10px;margin-right:40px!important;margin-top:-10px;padding:0;text-align:right;">
						  {{ employee.scr.delta|floatformat:"0"|abs }}%
						  {% if employee.scr.delta == 0 %}No Change{% elif employee.scr.delta < 0 %}Decrease!{% else %}Increase!{% endif %}
						</p>
                                              </th>
                                            </tr>
                                          </table>
                                        </th>
                                      </tr>
                                    </tbody>
                                  </table>
				  <br/>
	{% endif %}
{% endfor %}

                                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                    <tbody>
                                      <tr style="padding:0;text-align:left;vertical-align:top">
                                        <th class="small-12 large-12 columns first last" style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/49833/prodoscore-email-bg-pattern.png);background-position:center;background-repeat:no-repeat;background-size:contain;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:60px 0!important;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:100%;">
                                          <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                              <th style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;">
                                                <center data-parsed="" style="min-width:none!important;width:100%">
                                                  <p class="text-center float-center" style="Margin:0;Margin-bottom:10px;color:#666;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center" align="center">
						    Looking for more stats?
						  </p>
                                                  <table class="button large alert float-center" style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;float:none;margin:0 0 16px 0;padding:0;text-align:center;vertical-align:top;width:auto">
                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                      <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                          <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#EC4442;border:0 solid #EC4442;border-collapse:collapse!important;color:#fefefe;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                                              <a href="https://app.prodoscore.com/" target="_blank" style="Margin:0;border:0 solid #EC4442;border-radius:3px;color:#fefefe;display:inline-block;font-family:Nunito,Arial,sans-serif;font-size:20px;font-weight:400;line-height:1.3;margin:0;padding:10px 20px 10px 20px;text-align:left;text-decoration:none">
								Go to Prodoscore Dashboard
                                                              </a>
                                                            </td>
                                                          </tr>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                </center>
                                              </th>
                                              <th class="expander" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0;"></th>
                                            </tr>
                                          </table>
                                        </th>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <p class="text-center" style="color:#0a0a0a;font-family:Nunito,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center;"><small style="color:#cacaca;font-size:80%">
				    You are receiving this email because your company is registered on Prodoscore.com</small>
				  </p>
                                </th>
                              </tr>
                            </tbody></table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </tbody></table>
    <!-- prevent Gmail on iOS font size manipulation -->
    <div style="display:none;white-space:nowrap;font:15px courier;line-height:0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
  </body>
</html>