
	<div class="employee-filters">
		<form class="employee-filters_left" style="width:100%;">
			<div class="filter-wrap" style="width:200px; margin-top:-1px;">
				<!--label class="label" for="searchCorrelations">Filter</label-->
				<input class="textbox" id="searchCorrelations" name="searchCorrelations" placeholder="Search" />
			</div>
			<!-- ===================================== -->
			<div class="filter-wrap" style="width:175px;">
				<nav class="menu">
					<label xclass="label" style="width:128px;">Topic Types <i class="fa fa-caret-down"></i></label>
					<ul>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="etype-location" checked>
								<span class="longer">
									<i class="fa"></i> <span>Locations</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="etype-person" checked>
								<span class="longer">
									<i class="fa"></i> <span>People</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="etype-organization" checked>
								<span class="longer">
									<i class="fa"></i> <span>Organizations</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="etype-other" checked>
								<span class="longer">
									<i class="fa"></i> <span>Other</span>
								</span>
							</label>
						</li>
					</ul>
				</nav>
			</div>
			<!-- ===================================== -->
			<div class="filter-wrap" style="width:128px; margin-left:-37px;">
				<label>
					<a href="#">Advanced <i class="fa fa-caret-right"></i></a>
				</label>
			</div>
			<!-- ===================================== -->
			<div class="filter-wrap" style="width:120px; margin-left:-34px;">
				<nav class="menu">
					<label xclass="label">Direction <i class="fa fa-caret-down"></i></label>
					<ul>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="channel-internal" checked>
								<span class="longer">
									<i class="fa"></i> <span>Internal</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="channel-external" checked>
								<span class="longer">
									<i class="fa"></i> <span>External</span>
								</span>
							</label>
						</li>
					</ul>
				</nav>
			</div>
			<!-- ===================================== -->
			<div class="filter-wrap" style="width:160px;">
				<nav class="menu">
					<label xclass="label">No. of Records <i class="fa fa-caret-down"></i></label>
					<ul>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="top-50" />
								<span class="longer">
									<i class="fa"></i> <span>Top 50</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="top-100" />
								<span class="longer">
									<i class="fa"></i> <span>Top 100</span>
								</span>
							</label>
						</li>
						<li>
							<label class="visibility-toggle">
								<input type="checkbox" name="top-250" />
								<span class="longer">
									<i class="fa"></i> <span>Top 250</span>
								</span>
							</label>
						</li>
					</ul>
				</nav>
			</div>
			<!-- ===================================== -->
			<!-- div class="filter-wrap" style="width:148px;">
				<nav class="menu">
					<label xclass="label">Products <i class="fa fa-caret-down"></i></label>
					<ul id="filter-by-products"></ul>
				</nav>
			</div -->
			<!-- ===================================== -->
			<div class="filter-wrap" style="width:110px;">
				<!-- input type="submit" class="button" value="Apply Filters" / -->
				<label style="display:inline-block; width:100px;">
					<a href="#"><i class="fa fa-caret-left"></i> Hide</a>
				</label>
			</div>
		</form>
		<!--div class="employee-filters_last"></div-->
		<!-- div class="employee-filters_right" style="width:132px;"></div -->
	</div>
</div>

<div class="one-row" id="entities_collections">
	<div class="col col-12" id="simpleView">
		<!--script type="text/javascript" src="{% static 'js/d3.min.js' %}" /></script-->
		<div xclass="card-wrap">
			<div class="col col-6">
				<div class="correlationsOrgData-wrap" id="entities_collections">
					<table class="correlationsEntityData correlation-details card-wrap sortable active" style="width: 100%">
						<thead>
							<tr class="tablerow">
								<th>Topic</th>
								<th class="score sorttable_numeric">Mentions</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
			<div class="col col-6">
				<div class="correlationsOrgData-wrap">
					<table class="correlationsPplData correlation-details card-wrap sortable active" style="width: 100%">
						<thead>
							<tr class="tablerow">
								<th class="with-tooltip"><span class="title-tooltip">COO</span><span class="tooltip">Contacts Outside Organization</span></th>
								<th class="score sorttable_numeric">Interactions</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="one-row">
		<div class="col col-12">
			<div class="card-wrap" id="chart_correlations">
				<h2 class="card-heading"></h2>
				<div class= "chart"></div>
			</div>
		</div>
	</div>

	<div class="one-row">
		<div class="col col-6">
			<table id="empEngagement" class="correlation-more-details-table correlation-emp-engagement sortable x-card-wrap" style="width: 100%">
				<thead>
					<tr class="table-title">
						<th colspan="2" id="engagement-title">Engagement</th>
					</tr>
					<tr>
						<th>Employees</th>
						<th class="score">Effort</th>
					</tr>
				</thead>
				<tbody>
					<tr><td colspan="2"><i>Select a topic/contact</i></td></tr>
				</tbody>
			</table>
		</div>
		<div class="col col-6">
			<table id="prodUsage" class="correlation-more-details-table correlation-prod-usage sortable x-card-wrap" style="width: 100%">
				<thead>
					<tr class="table-title">
						<th colspan="3" style="text-align:center;">Product usage</th>
					</tr>
					<tr>
						<th colspan="2">Product</th>
						<th class="score">Usage</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="2"><i>Select a topic/contact</i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- div class="one-row">
		<!--div class="correlations-toggles"><a class="active" href="#topics">Topics</a><a href="#people">Contacts</a></div-- >
		<div class="col col-6">
			<div class="correlationsOrgData-wrap">
				<!--h2 class="card-heading">Topics</h2-- >
				<table id="topics" class="correlationsOrgData correlation-details card-wrap sortable active" style="width: 100%">
					<thead>
						<tr class="tablerow">
							<th>Topic</th>
							<th class="score sorttable_numeric">Significance</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<div class="col col-6">
			<div class="correlationsOrgData-wrap">
				<!--h2 class="card-heading">Contacts</h2-- >
				<table id="people" class="correlationsPplData correlation-details card-wrap sortable active" style="width: 100%;">
					<thead>
						<tr class="tablerow">
							<th class="with-tooltip"><span class="title-tooltip">COD</span><span class="tooltip">Contacts outside domain</span></th>
							<th class="score sorttable_numeric">Significance</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div -->

	<div id="correlationDetailsSubFrame">

		<!-- div class="one-row">
			<!--div class="correlation-org-details"></div- ->
			<div class="col col-6">
			</div>
			<div class="col col-6">
			</div>
		</div -->
		<!--div class="one-row">
			<div class="col col-12">
			</div>
		</div-->
		<div id="correlationDetails" class="one-row">
			<div class="col col-12">
				<table class="sortable card-wrap correlation-instances-table stat-details" xcls="correlation-more-details-table correlation-prod-usage">
					<thead>
						<tr>
							<th></th>
							<th>Activity</th>
							<th>Employee</th>
							<th>Date - Time</th>
							<th>Mood</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>

	</div>

</div>
