
<div class="one-row topspace">
	<div class="wrap">
		<button class="nav-button back" onclick="document.location.hash='dashboard';">Back</button>
	</div>
</div>

<div class="one-row" style="overflow:visible;">
	<div class="col col-12">
		<div class="card-wrap" style="overflow:visible;">
			<h2 class="card-heading">Employees with a<span>--</span> Prodoscore</h2>
			<div id="chart_strata" class= "chart"></div>
		</div>
	</div>
</div>

<div class="one-row">
	<div class="col col-12">
		<div class="card-wrap">
			<h2 class="card-heading"><span>--</span> employee details</h2>
			<ul class="employee-list strata"></ul>
		</div>
	</div>
</div>
