<div class="one-row emp-header" style="display:none">

	<div class="col col-7">
		<div class="card-wrap emp-header-card">
			<div class="emp-details">
				<div class="emp-details-left">
					<div class="circle"></div>
				</div>
				<div class="emp-details-right">
					<div class="role"></div>
					<div class="user-name"></div>
					<div class="manager">Working under <a href="#"></a></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col col-5">
		<div class="card-wrap emp-header-card">
			<div class="emp-status-details">
				<div class="score baseline"><span></span> Subordinate's Prodoscore</div>
				<div class="score baseline"><span></span> Prodoscore</div>
				<div class="delta decrease"><span></span>% Performance decrease</div>
			</div>
		</div>
	</div>

	<div class="emp-header-buttons">
		<!--button class="button primary user-settings-btn">Employee settings</button-->
		<button class="button primary user-profile-btn">Employee profile</button>
	</div>

</div>

<div class="one-row" style="display:none">
    <div class="col col-12">
	<div class="card-wrap">
		<h2 class="card-heading"></h2>
		<div id="employeesChart" class="chart"></div>
	</div>
    </div>
</div>

<br/>
<div class="employee-filters">
	<div class="employee-filters_full">
		<div class="filter-wrap">
			<label class="label">Employee</label>
			<input class="textbox" name="searchEmployee" xplaceholder="type to autofill" placeholder="Search..."/>
		</div>
		<div class="filter-wrap">
			<label class="label">User&nbsp;role</label>
			<select name="searchRole" id="userrole" class="textbox"></select>
		</div>
		<div class="filter-wrap">
			<label class="label" for="txtse">Manager</label>
			<select name="searchManager" id="manager" class="textbox"></select>
		</div>
	</div>
</div>

<div class="one-row">

	<div class="col col-4 corrWidget-col" style="display:none">
		<div class="card-wrap">
			<h2 class="card-heading">Correlations</h2>
			<div class="card-tabs corrWidget">
				<nav class="card-tabs-nav">
					<a href="#corrWidgetTopics" class="active">Topics</a>
					<a href="#corrWidgetCOD" title="Contacts Outside Orgnization">COO</a>
				</nav>
				<div id="corrWidgetTopics" class="card-tabs-body active">
					<table class="card-table">
						<thead>
							<tr>
								<th>Topic</th>
								<th>Significance</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
				<div id="corrWidgetCOD" class="card-tabs-body">
					<table class="card-table">
						<thead>
							<tr>
								<th title="Contacts Outside Orgnization">COO</th>
								<th>Significance</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="col col-12">
		<table class="employeedata sortable" style="width: 100%">
			<thead>
				<tr class="tablerow">
				<th>Employee name</th>
				<th xstyle="width:120px;">User role</th>
				<th xstyle="width:200px;">Manager name</th>
				<th class="score sorttable_numeric">Prodoscore</th>
				<th class="text sorttable_numeric">Performance</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>

</div>