
<div class="one-row emp-header">
	<div class="col col-7">
		<div class="card-wrap emp-header-card">
			<div class="emp-details">
				<div class="emp-details-left">
					<div class="circle"></div>
				</div>
				<div class="emp-details-right">
					<div class="role"></div>
					<div class="user-name"></div>
					<div class="manager" style="display:none;">Working under <a href="#"></a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col col-5">
		<div class="card-wrap emp-header-card">
			<div class="emp-status-details">
				<div class="score"><span></span> Prodoscore</div>
				<div class="delta"><span></span>% Performance decrease</div>
			</div>
		</div>
	</div>
	<div class="emp-header-buttons">
		<button class="button primary user-settings-btn">Employee settings</button>
	</div>
</div>

<div class="card-tabs employee-tabs">

	<nav class="card-tabs-nav">
		<a href="#empStatistics" class="active">Statistics</a>
		<a href="#empCorrelations">Correlations</a>
	</nav>

	<div id="empStatistics" class="card-tabs-body active">

		<div class="one-row">
			<div class="col col-12">
				<div class="card-wrap">
					<h2 class="card-heading">Employee Prodoscore<i class="warning"></i></h2>
					<div class="chart" id="oneEmployeeChart"></div>
				</div>
			</div>
		</div>

		<div class="popup popup-1">
			<div class="ear"></div>
			<i class="fa fa-times-circle"></i>
			<p>Select a column from the chart to<br/>
			drill down statistics for a specific date.</p>
		</div>

		<div class="popup popup-2">
			<i class="fa fa-times-circle"></i>
			<p>Now select product from below to<br/>
			drill down details for that statistic.</p>
			<div class="ear to-down"></div>
		</div>

		<div class="one-row" id="employee-day-stats">
			<div class="col col-12">
				<div class="card-wrap">
					<h2 class="card-heading emp-day-stats-heading">
						<span class="left">Prodoscore inputs [<span id="individual-date">Daily average</span>]</span>
						<span class="right">Prodoscore: <span id="prodoscore-for-date">--</span></span>
					</h2>
					<ul class="app-list halfsize">
						<!-- docs -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-docs"></div>
								<h3 class="app-name">Google Drive activities</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- gmail -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-mail"></div>
								<h3 class="app-name">Emails sent</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- calendar -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-cal"></div>
								<h3 class="app-name">Calendar event time</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- hangouts -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-chat"></div>
								<h3 class="app-name">Chat lines</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- turbobridge -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-turbobridge"></div>
								<h3 class="app-name">Conference call<!-- Minute-->s</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- zcalls -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-zoho-calls"></div>
								<h3 class="app-name">CRM calls</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- zevents -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-zoho-cal"></div>
								<h3 class="app-name">CRM events</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- ztasks -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-zoho"></div>
								<h3 class="app-name">CRM tasks</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- zleads -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-zoho-leads"></div>
								<h3 class="app-name">CRM leads</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- zinvoices -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-zoho-invoices"></div>
								<h3 class="app-name">CRM invoices</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- zaccounts -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-zoho-accounts"></div>
								<h3 class="app-name">CRM accounts</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- broadsoft -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-broadsoft"></div>
								<h3 class="app-name">Phone system</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- salesforce -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-ppw-opportunities"></div>
								<h3 class="app-name">Opportunity activities</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- smss -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-sms"></div>
								<h3 class="app-name">Mobile Text Messages</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- calls -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-mcalls"></div>
								<h3 class="app-name">Mobile Phone Calls</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- pwleads -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-ppw-leads"></div>
								<h3 class="app-name">CRM leads</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- pwoprtunts -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-ppw-opportunities"></div>
								<h3 class="app-name">CRM opportunities</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- ringc_calls -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-broadsoft"></div>
								<h3 class="app-name">Phone Calls</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- ringc_sms -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-rcsms"></div>
								<h3 class="app-name">SMS</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- sfleads -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-ppw-leads"></div>
								<h3 class="app-name">CRM leads</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- sugar_leads -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-zoho-leads"></div>
								<h3 class="app-name">CRM leads</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- sugar_opps -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-ppw-opportunities"></div>
								<h3 class="app-name">CRM opportunities</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- sugar_calls -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-zoho-calls"></div>
								<h3 class="app-name">CRM calls</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- sugar_meets -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-zoho-cal"></div>
								<h3 class="app-name">CRM meetings</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- chmsgs -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-crm-chatter"></div>
								<h3 class="app-name">Salesforce: Chatter Messages</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- chacts -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-chatter-activities"></div>
								<h3 class="app-name">Salesforce: Chatter Activities</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- sfcalls -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-crm_calls"></div>
								<h3 class="app-name">Salesforce: Calls Logged</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- sfints -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-crm_actv"></div>
								<h3 class="app-name">Salesforce: Activities</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- salesforce_n -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-salesforce"></div>
								<h3 class="app-name">Salesforce: New Opportunities</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- sfleads_n -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-zoho-leads"></div>
								<h3 class="app-name">Salesforce: New Leads</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- vbc -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-broadsoft"></div>
								<h3 class="app-name">Vonage Business Cloud: Calls</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- Outlook -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-outlook"></div>
								<h3 class="app-name">Emails sent</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- OneDrive -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-onedrive"></div>
								<h3 class="app-name">OneDrive activities</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
						<!-- Office Calendar -->
						<li>
							<div class="element-wrapper">
								<div class="icon icon-officecal"></div>
								<h3 class="app-name">Calendar event time</h3>
								<div class="right-holder">
									<p class="score"></p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="one-row" id="timeline-row">
			<div class="col col-12">
				<div class="card-wrap">
					<h2 class="card-heading">
						Prodoscore throughout the day
						<!-- <label class="options"><input type="checkbox" checked /> Show Correlations</label> -->
					</h2>
					<div id="busy5m-highlight"><div id="busy5m-highlight-inner"></div></div>
					<!-- <div id="busyNLP"></div> -->
					<div id="busy5m" class="chart"></div>
				</div>
				<br>
				<div class="card-wrap timeline-wrap">
					<h2 class="card-heading">Work timeline for the day</h2>
					<br>
					<div id="dayWorkTimeline" class="dayWorkTimeline"></div>
				</div>
			</div>
		</div>

		<div class="one-row" id="drilldown-row">
			<div class="col col-12">
				<div class="card-wrap">
					<h2 class="card-heading">Score details drill down</h2>
					<table class="stat-details sortable" style="width: 100%">
					 <thead>
						<tr class="tablerow">
							<th class="sorttable_nosort icon-col">
								<input type="checkbox" name="select-all" />
								<button><i class="fa fa-caret-down"></i></button>
							</th>
							<th class="sorttable_nosort">Title</th>
							<th>Time</th>
							<th>Mood</th>
							<!-- <th>Duration</th> -->
							<!--th style="width:120px;">Duration</th-->
						</tr>
					 </thead>
					 <tbody></tbody>
					 <tfoot>
						<tr class="total-entries">
							<th></th>
							<!--	<th colspan="2" style="text-align: left;">Total Duration</th>
							<th>0</th>-->
							<th colspan="2" style="text-align: left;">Total Entries: </th>
							<!-- <th>0</th> -->
						</tr>
						<tr class="load-more">
							<th></th>
							<th colspan="2" style="text-align: left;">LoadMore</th>
						</tr>
					 </tfoot>
					</table>
				</div>
			</div>
		</div>

	</div> <!-- / #empStatistics -->

	<div id="empCorrelations" class="card-tabs-body">

		<!-- Correlations go here -->
		<div class="one-row">
			<div class="col col-6">
				<div class="correlationsOrgData-wrap">
					<table id="topics" class="correlationsOrgData correlation-details card-wrap sortable active" style="width: 100%">
						<thead>
							<tr class="tablerow">
								<th>Topic</th>
								<th class="score sorttable_numeric">Mentions</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
			<div class="col col-6">
				<div class="correlationsOrgData-wrap">
					<table id="people" class="correlationsPplData correlation-details card-wrap sortable active" style="width: 100%;">
						<thead>
							<tr class="tablerow">
								<th class="with-tooltip"><span class="title-tooltip">COO</span><span class="tooltip">Contacts Outside Organization</span></th>
								<th class="score sorttable_numeric">Interactions</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="one-row emp-correlation-instances-row" style="display:none;">
			<div class="col col-12">
				<table class="sortable card-wrap emp-correlation-instances-table">
					<thead>
						<tr>
							<th></th>
							<th>Title</th>
							<th>Date - Time</th>
							<th>Mood</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>

	</div>

</div>
