
<div class="one-row">
	<div class="col col-12">
		<input type="button" class="button primary" value="Change credentials" />
	</div>
</div>

<div class="one-row">
	<div class="col col-2"></div>
	<div class="col col-8">
		<div class="card-wrap card-wrap--auto-height">
			<h2 class="card-heading">CRM system</h2>
			<div class="form-wrap">
				<div class="wrap">
					<div class="input-wrap long-text floating">
						<label class="label left-label " for="system">System</label>
						<select name="system" id="system" class="textbox leftlabel">
							<option value="" selected="true">Select system</option>
							<option value="zoho">ZOHO</option>
							<option value="salesforce">Salesforce</option>
							<option value="prosperworks">ProsperWorks</option>
							<option value="sugarCRM">SugarCRM</option>
						</select>
					</div>
				</div>
				<div id="system-zoho" class="crm-system-block">
					<form method="post" name="CRMSettings">
						<div class="wrap">
							<div class="input-wrap long-text floating">
								<label class="label left-label " for="token">Access token</label>
								<input class="textbox leftlabel" type="password" name="token" data-required="true" />
							</div>
						</div>
						<center>
							<p><a href="https://accounts.zoho.com/apiauthtoken/create?SCOPE=ZohoCRM/crmapi" target="_blank">Click here</a> to obtain a token, and paste it above to connect to Zoho</p>
						</center>
						<br>
						<div class="wrap buttons long-text">
							<input type="submit" class="button primary" value="Save changes" />
							<input type="button" class="button red" value="Disconnect" />
							<input type="reset" class="button cancel gray" value="Cancel" />
						</div>
					</form>
				</div>

				<div id="system-salesforce" class="crm-system-block">
					<form action="">
						<div class="wrap">
							<div class="input-wrap long-text floating">
								<label class="label left-label " for="userid">Admin email</label>
								<input class="textbox leftlabel" type="email" name="userid" data-required="true" />
							</div>
						</div>
						<div class="wrap">
							<div class="input-wrap long-text floating">
								<label class="label left-label " for="password">Password</label>
								<input class="textbox leftlabel" type="password" name="password" data-required="true" />
							</div>
						</div>
						<div class="wrap">
							<div class="input-wrap long-text floating">
								<label class="label left-label " for="salesforce_token">Access token</label>
								<input class="textbox leftlabel" type="password" name="salesforce_token" data-required="true" />
							</div>
						</div>
						<center>
							<p><a href="https://na35.salesforce.com/_ui/system/security/ResetApiTokenEdit?retURL=%2Fui%2Fsetup%2FSetup%3Fsetupid%3DPersonalInfo&setupid=ResetApiToken" target="_blank">Click here</a> to obtain a token, and paste it above to connect to Salesforce</p>
						</center>
						<br>

						<div class="wrap buttons long-text">
							<input type="submit" class="button primary" value="Save changes" />
							<input type="button" class="button red" value="Disconnect" />
							<input type="reset" class="button cancel gray" value="Cancel" />
						</div>
					</form>
				</div>

				<div id="system-prosperworks" class="crm-system-block">
					<form method="post" name="CRMSettings">
						<div class="wrap">
							<div class="input-wrap long-text floating">
								<label class="label left-label " for="crm_admin">CRM admin</label>
								<input class="textbox leftlabel" type="text" name="crm_admin" data-required="true" />
							</div>
						</div>
						<div class="wrap">
							<div class="input-wrap long-text floating">
								<label class="label left-label " for="prosperworks_token">Access token</label>
								<input class="textbox leftlabel" type="password" name="prosperworks_token" data-required="true" />
							</div>
						</div>
						<center>
							<p><a href="https://app.prosperworks.com/companies/86283/app?p=db#/settings/api-keys" target="_blank">Click here</a> to obtain a token, and paste it above to connect to Prosperworks</p>
						</center>

						<br>
						<div class="wrap buttons long-text">
							<input type="submit" class="button primary" value="Save changes" />
							<input type="button" class="button red" value="Disconnect" />
							<input type="reset" class="button cancel gray" value="Cancel" />
						</div>
					</form>
				</div>

				<div id="system-sugarCRM" class="crm-system-block">
					<form method="post" name="CRMSettings">
						<div class="wrap">
							<div class="input-wrap long-text floating">
								<label class="label left-label " for="instance">Sugar Instance</label>
								<input class="textbox leftlabel" type="text" name="instance" data-required="true" placeholder="mydomain.sugarcrm.com" />
							</div>
						</div>
						<div class="wrap">
							<div class="input-wrap long-text floating">
								<label class="label left-label " for="username">Admin Username</label>
								<input class="textbox leftlabel" type="text" name="crm_admin" data-required="true" />
							</div>
						</div>
						<div class="wrap">
							<div class="input-wrap long-text floating">
								<label class="label left-label " for="sugarcrm_password">Password</label>
								<input class="textbox leftlabel" type="password" name="sugarcrm_password" data-required="true" />
							</div>
						</div>

						<div class="wrap">
							<div class="input-wrap long-text floating">
								<label class="label left-label " for="sugar_key_name">Consumer Key</label>
								<input class="textbox leftlabel" type="text" name="sugar_key_name" data-required="true" />
							</div>
							<div class="clear"></div>
							<div class="help-text"><a href="#">Click here for instructions</a></div>
						</div>
						<div class="wrap">
							<div class="input-wrap long-text floating">
								<label class="label left-label " for="sugar_key">Consumer Secret</label>
								<input class="textbox leftlabel" type="password" name="sugar_key" data-required="true" />
							</div>
							<div class="clear"></div>
							<div class="warn-text">
								<i class="fa fa-exclamation-circle" aria-hidden="true" style="float: left;margin: 1px 5px 10px 0px;color: red;"></i>
								Disclaimer: If you do not follow the steps described <a href="#">here</a> properly your data won't be taken into Prodoscore.
							</div>
						</div>
						<br>
						<div class="wrap buttons long-text">
							<input type="submit" class="button primary" value="Save changes" />
							<input type="button" class="button red" value="Disconnect" />
							<input type="reset" class="button cancel gray" value="Cancel" />
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
	<div class="col col-2"></div>
</div>

<div class="one-row">
	<div class="col col-12">
		<div class="card-wrap card-wrap--auto-height crm-modules" style="display:none;">
			<h2 class="card-heading">Available modules for CRM System</h2>
			<div class="form-wrap">
				<form method="post">
					<div class="module-switches"></div>

					<div class="wrap buttons">
						<input type="submit" class="button primary" value="Save modules" disabled />
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

<div class="one-row">
	<div class="col col-12">
		<form method="post" class="crm-employees">
			<table class="employeedata sortable" style="width:100%; margin-bottom:78px;">
				<thead>
					<tr class="tablerow">
						<th>Employee name</th>
						<th>Role</th>
						<th style="width:300px;">CRM account</th>
					</tr>
				</thead>
				<tbody>
					<tr class="no-records"><td colspan="3"><i>No records to display</i></td></tr>
				</tbody>
			</table>
			<div class="wrap buttons long-text fix-at-bottom">
				<input type="submit" class="button primary" value="Save changes" />
				<input type="button" class="button cancel gray" value="Cancel" />
			</div>
		</form>
	</div>
</div>