
<div class="one-row">
	<div class="col col-2"></div>
	<div class="col col-8">
		<form method="post" name="orgTimeSettings">
			<div class="card-wrap">
				<h2 class="card-heading">Time settings</h2>
				<input type="hidden" name="work_days" value="1,2,3,4,5" />
				<div class="form-wrap">
					<div class="wrap">
						<div class="input-wrap long-text floating">
							<label class="label left-label" for="txtse">Working days</label>
							<span class="btngroup">
								<button class="btngroup btn ">Sun</button>
								<button class="btngroup btn">Mon</button>
								<button class="btngroup btn">Tue</button>
								<button class="btngroup btn">Wed</button>
								<button class="btngroup btn">Thu</button>
								<button class="btngroup btn">Fri</button>
								<button class="btngroup btn ">Sat</button>
							</span>
						</div>
					</div>
					<div class="wrap">
						<div class="input-wrap long-text floating">
							<label class="label left-label " for="start_time">Start time</label>
							<input class="textbox leftlabel" type="time" name="start_time" xvalue="09:00" />
						</div>
					</div>
					<div class="wrap">
						<div class="input-wrap long-text floating">
							<label class="label left-label " for="end_time">End time</label>
							<input class="textbox leftlabel" type="time" name="end_time" xvalue="17:00" />
						</div>
					</div>
					<div class="wrap fd-wrap">
						<div class="full-day-text-wrap">
							<div class="full-day-text">
								<input class="checkbox" type="checkbox" name="full_day" id="full_day" />
								<label for="full_day">24 hour shift</label>
							</div>
						</div>
					</div>
					<div class="wrap">
						<div class="input-wrap long-text floating">
							<label class="label left-label " for="region">Time zone</label>
							<select name="region" id="region" class="textbox leftlabel half"></select>
							<select name="timezone" id="timezone" class="textbox leftlabel half"></select>
						</div>
					</div>
				</div>
			</div>
			<br/>
			<div class="card-wrap">
				<h2 class="card-heading">Details visibility</h2>
				<div class="form-wrap">
					<div class="wrap">
						<div class="input-wrap long-text floating">
							<label class="label left-label" for="show_details">Show details</label>

							<label for="show_details" class="toggle-checkbox">
								<input class="checkbox" type="checkbox" name="show_details" id="show_details" />
								<span class="toggles">
									<span class="checked">Shown</span>
									<span class="unchecked">Hidden</span>
								</span>
							</label>
							<div class="clear"></div>
							<div class="help-text">Sets visibility for details of individual activity. e.g: Email body, Chat message, Document content</div>
						</div>
					</div>
				</div>
			</div>
			<br/><!--button class="button gray">Cancel</button-->
			<button class="button primary">Save changes</button>
		</form>
	</div>
	<div class="col col-2"></div>
</div>