
<div class="one-row">
	<div class="col col-2"></div>
	<div class="col col-8">
		<form method="post" name="orgTimeSettings">
			<div class="card-wrap">
				<h2 class="card-heading">Billing plan details</h2>
				<div class="form-wrap">
					<div class="wrap">
						<div class="input-wrap long-text floating">
							<label class="label left-label " for="start_time">Selected plan</label>
							<!--div class="textbox leftlabel" id="selPlan"></div-->
							<input class="textbox leftlabel" type="text" id="selPlan" readonly disabled />
						</div>
					</div>
					<div class="wrap">
						<div class="input-wrap long-text floating">
							<label class="label left-label " for="end_time">Volume</label>
							<!--div class="textbox leftlabel" id="selVolume"></div-->
							<input class="textbox leftlabel" type="text" id="selVolume" readonly disabled />
						</div>
					</div>
				</div>
			</div>
			<br/>
			<div class="card-wrap">
				<h2 class="card-heading">Enabled features</h2>
				<div class="form-wrap">
					<div class="one-row enabled-features">
						<button class="btngroup btn" readonly disabled title="Available in Basic plan and higher">CRM system</button>
						<button class="btngroup btn" readonly disabled title="Available in Basic plan and higher">Phone system</button>
						<button class="btngroup btn" readonly disabled title="Available in Business plan and higher">Machine learning</button>
						<button class="btngroup btn" readonly disabled title="Available in Enterprise plan and higher">Custom weights</button>
					</div>
				</div>
			</div>
			<br/>
			<a class="button primary" href="https://console.cloud.google.com/marketplace/details/prodoscore-public/prodoscore" target="_blank">Go to Google Billing &nbsp; <i class="fa fa-external-link" aria-hidden="true"></i></a>
			<br/><br/>
		</form>
	</div>
	<div class="col col-2"></div>
</div>
<style>
.enabled-features{display:flex; justify-content:space-between;}
.enabled-features .btngroup.btn{border-radius:3px;} x{min-width:85%;}
.enabled-features .btngroup.btn.active{color:#f1f1f1; background-color:#18ac6a;}
</style>