
<form>
	<div class="one-row">
		<div class="col col-12">
			<div class="card-wrap">
				<h2 class="card-heading">Product Weights</h2>
				<ul class="weights form-wrap">Loading...</ul>
				<div class="col col-12">
					<p align="center">
						Above weights are used to decide how importantly each task should affect the Prodoscore.
						<br/>
						<label for="use_custom" class="toggle-checkbox">
							<input class="checkbox" type="checkbox" name="use_custom" id="use_custom" />
							<span class="toggles">
								<span class="unchecked">Default Weights</span>
								<span class="checked">Custom Weights</span>
							</span>
						</label>
						<br/>
					</p>
				</div>
			</div>
			<br/>
			<button class="button primary">Save Product Weights</button>
		</div>
	</div>
</form>

<br/>

<form>
	<div class="one-row">
		<div class="col col-12">
			<div class="card-wrap">
				<h2 class="card-heading">Daily Averages / Prodoscore-Baselines</h2>
				<p class="form-wrap" align="center">
					Baselines below are used to set the average/standard for computing Prodoscore.<br/>
					Percentage difference is between the global average and your organization baseline for each role/product.
				</p>
				<ul class="roles"></ul>
				<p align="center" style="clear:both">
					<br/>If you want to compare your employees with a global workforce, use Global Baselines.
					<br/>To compare your employees only within your organization, use Organization Baseline option.
					<br/>
					<label for="use_org_baseline" class="toggle-checkbox">
						<input class="checkbox" type="checkbox" name="use_org_baseline" id="use_org_baseline" />
						<span class="toggles">
							<span class="unchecked">Global Baselines</span>
							<span class="checked">Org Baselines</span>
						</span>
					</label>
				</p>
			</div>
			<br/>
			<button class="button primary">Update Baselines</button>
		</div>
	</div>
</form>