
<div class="one-row">
	<div class="col col-12">
		<input type="button" class="button primary" value="Change credentials" />
	</div>
</div>

<div class="one-row">
	<div class="col col-2"></div>
	<div class="col col-8">
		<div class="card-wrap">
			<h2 class="card-heading">Conference call</h2>
			<form method="post" name="confCallingSettings">
				<div class="form-wrap">
					<div class="wrap">
						<div class="input-wrap long-text floating">
							<label class="label left-label " for="partner_id">Partner ID</label>
							<input class="textbox leftlabel" type="text" name="partner_id" value="turbobridge" />
						</div>
					</div>
					<div class="wrap">
						<div class="input-wrap long-text floating">
							<label class="label left-label " for="account_id">Account ID</label>
							<input class="textbox leftlabel" type="text" name="account_id" data-required="true" />
						</div>
					</div>
					<div class="wrap">
						<div class="input-wrap long-text floating">
							<label class="label left-label " for="admin">Admin email</label>
							<input class="textbox leftlabel" type="email" name="admin" data-required="true" />
						</div>
					</div>
					<div class="wrap">
						<div class="input-wrap long-text floating">
							<label class="label left-label " for="password">Password</label>
							<input class="textbox leftlabel" type="password" name="password" data-required="true" />
						</div>
					</div>
					<div class="wrap buttons long-text">
						<input type="submit" class="button primary" value="Save changes" />
						<input type="button" class="button red" value="Disconnect" />
						<input type="reset" class="button cancel gray" value="Cancel" />
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col col-2"></div>
</div>

<div class="one-row">
	<div class="col col-12">
		<form method="post">
			<table class="employeedata sortable" style="width:100%; margin-bottom:78px;">
				<thead>
					<tr class="tablerow">
						<th>Employee name</th>
						<th>Role</th>
						<th style="width:250px;">Conference bridge</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<div class="wrap buttons long-text fix-at-bottom">
				<input type="submit" class="button primary" value="Save changes" />
				<input type="button" class="button cancel gray" value="Cancel" />
			</div>
		</form>
	</div>
</div>