
<div class="one-row">
	<div class="col col-12">
		<input type="button" class="button primary" value="Change credentials" />
	</div>
</div>

<div class="one-row">
	<div class="col col-12">
		<div class="card-wrap creds-card">
			<h2 class="card-heading card-heading--select">
				<span>Select phone system</span>
				<select id="phoneSystemSelect">
					<option value="" selected="true">Select system</option>
					<option value="vbc">Vonage Business Cloud</option>
					<option value="ringcentral">RingCentral</option>
					<option value="broadsoft">BroadSoft</option>
				</select>
			</h2>
			<div class="card-body ps-settings">
				<form method="post" name="broadSoftSettings">
					<table class="creds-table phone-systems-table">
						<thead>
							<tr>
								<th title="Group Administrator Phone Number">Group admin phone number</th>
								<th title="Group Administrator Username">Username</th>
								<th title="Group Administrator Password">Password</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<div class="addNewRow">
						<button type="button" class="addNewRowBtn"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span>New phone system</span></button>
					</div>

					<div class="buttons">
						<input type="submit" class="button primary" value="Save changes" />
						<input type="button" class="button red" value="Disconnect" />
						<input type="button" class="button cancel gray" value="Cancel" />
					</div>
				</form>

				<div id="RingCentralSettings" style="display:none;">
					<div class="rs-wrap">
						<div class="wrap">
							<p>Click the "Authenticate with RingCentral" button below and a pop-up will direct you through the rest of the sign in process. <br><br>
								* Your ad blocker might hinder block the pop-up so we recommend you disable the ad blocker and retry if you run into any issues.</p>
						</div>
						<div class="wrap buttons long-text">
							<button id="rc_auth" class="button primary">Authenticate with RingCentral</button>
							<input type="button" class="button red" value="Disconnect" />
							<button class="button cancel gray">Cancel</button>
						</div>
					</div>
				</div>

				<div id="vbcSettings" style="display:none;">
					<div class="rs-wrap">
						<div class="wrap">
							<p>Click the "Authenticate with Vonage Business Cloud" button below and a pop-up will direct you through the rest of the sign in process. <br><br>
								* Your ad blocker might hinder block the pop-up so we recommend you disable the ad blocker and retry if you run into any issues.</p>
						</div>
						<div class="wrap buttons long-text">
							<button id="vbc_auth" class="button primary">Authenticate with Vonage Business Cloud</button>
							<input type="button" class="button red" value="Disconnect" />
							<button class="button cancel gray">Cancel</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="one-row">
	<div class="col col-12">
		<form method="post" id="formPSEmpData">
			<table class="employeedata sortable" style="width:100%; margin-bottom:78px;">
				<thead>
					<tr class="tablerow">
						<th>Employee name</th>
						<th>Role</th>
						<th style="width:400px;">Telephone / Email</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<div class="wrap buttons long-text fix-at-bottom">
				<input type="submit" class="button primary" value="Save changes" />
				<input type="button" class="button cancel gray" value="Cancel" />
			</div>
		</form>
	</div>
</div>