
<div class="one-row">
	<div class="col col-12">
		<button class="button primary">Add a user</button>
	</div>
</div>
<div class="one-row">
	<div class="col col-12">
		<table class="employeedata sortable" style="width:100% margin-bottom:78px;">
			<thead>
				<tr class="tablerow">
					<th>Full name</th>
					<th style="width:120px;">Username</th>
					<th style="width:120px;">Role</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>