
<div class="one-row topspace">
	<div class="wrap">
		<button class="nav-button back" onclick="document.location.hash='employees';">Back</button>
	</div>
</div>

<div class="one-row">
	<div class="col col-12">
		<div class="card-wrap">
			<h2 class="card-heading">Bulk Add Employees</h2>
			<div class="form-wrap" id="bulk-add-steps">
				<div class="one-row bulk-add-steps">
					<div class="col col-4">
						<div class="card-wrap center">
							<br/><h1>1</h1><br/>
							Download the file<br/>
							<a href="https://storage.googleapis.com/proapp_static/user-template/Bulk%20Add%20Template.xlsx" target="_blank">Bulk Add Template.xlsx</a>
							<br/><br/>
							<a href="https://storage.googleapis.com/proapp_static/user-template/Bulk%20Add%20Template.xlsx" target="_blank"><i class="fa fa-download"></i></a>
							<br/>
						</div>
					</div>
					<div class="col col-4">
						<div class="card-wrap center">
							<br/><h1>2</h1><br/>
							Fill out the file. Ensure that<br/>
							headers remain unchanged.
							<br/><br/>
							<i class="fa fa-edit"></i>
							<br/>
						</div>
					</div>
					<div class="col col-4">
						<div class="card-wrap center">
							<label style="display:block; cursor:pointer">
								<br/><h1>3</h1><br/>
								Click <a>here</a> to browse or<br/>drop the completed file to process.
								<input type="file" style="opacity:0;width:1px" />
								<br/><br/>
								<i class="fa fa-folder-open"></i>
								<br/>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="error-container" class="one-row" style="display:none;">
	<div class="col col-12">
		<div class="card-wrap">
			<h2 class="card-heading">Error Report</h2>
			<div id="error-report" class="form-wrap messages" style="padding:8px 0px">
			</div>
		</div>
	</div>
</div>

<div id="xlsx-data-preview" class="one-row" style="display:none;">
	<div class="col col-12">
		<table class="sortable users-table table--fixed-body empSettings_users" style="width:100%;">
			<thead>
				<tr class="tablerow">
					<th>Employee name</th>
					<th>User role</th>
					<th>Manager&nbsp;name</th>
					<th></th>
					<th>Report email</th>
					<th>Report frequency</th>
				</tr>
			</thead>
			<tbody></tbody>
			<tfoot>
				<tr>
					<td colspan="2">
						<button class="button primary">Bulk Add</button>
						<button class="button gray">Cancel</button>
					</td>
					<td colspan="4" style="padding:16px"></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>