
<!-- xclass Attribute is required. Do not remove it. -->
<div class="one-row">
	<div class="col col-2"></div>
	<div class="col col-8">
		<form method="post" name="alertSettings">
			<div class="card-wrap">
				<h2 class="card-heading">My alerts settings</h2>
				<div class="form-wrap">
					<div class="wrap">
						<h2 class="card-heading">Set alerts for below average employees</h2><br />
						<div class="wrap">
							<div class="input-wrap long-text floating">
								<label class="label left-label" for="txtse">For yesterday?</label>
								<span class="btngroup">
						  <button class="btngroup btn">On</button>
						  <button class="btngroup btn">Off</button>
						</span>
							</div>
						</div>
						<div class="wrap">
							<div class="input-wrap long-text floating">
								<label class="label left-label " for="txtse">For a given period?</label>
								<span class="btngroup">
						  <button class="btngroup btn">On</button>
						  <button class="btngroup btn">Off</button>
						</span>
							</div>
						</div>
					</div>
					<hr color="#B2BEB5" size="1">
					<div class="wrap">
						<h2 class="card-heading">Set alerts for inactive employees</h2><br />
						<div class="wrap">
							<div class="input-wrap long-text floating">
								<label class="label left-label " for="txtse">For yesterday?</label>
								<span class="btngroup">
						  <button class="btngroup btn">On</button>
						  <button class="btngroup btn">Off</button>
						</span>
							</div>
						</div>
						<div class="wrap">
							<div class="input-wrap long-text floating">
								<label class="label left-label " for="txtse">For a given period?</label>
								<span class="btngroup">
						  <button class="btngroup btn">On</button>
						  <button class="btngroup btn">Off</button>
						</span>
							</div>
						</div>
					</div>
					<div id="adminOnly" style="display:none;">
						<hr color="#B2BEB5" size="1">
						<div class="wrap">
							<br />
							<div class="input-wrap long-text floating">
								<label class="label left-label " for="txtse">Set alerts for new employee?</label>
								<span class="btngroup">
						  <button class="btngroup btn">On</button>
						  <button class="btngroup btn">Off</button>
						</span>
							</div>
						</div>
					</div>
					<!--div class="wrap buttons long-text">
						<input type="submit" class="button primary" value="Save changes" />
					</div-->
				</div>
			</div>
			<br/>
			<input type="submit" class="button primary" value="Save changes" />
		</form>
	</div>
	<div class="col col-2"></div>
</div>