
<div class="employee-filters">
	<div class="employee-filters_left">
		<div class="filter-wrap">
			<label class="label" for="searchEmployee">Employee</label>
			<input class="textbox" name="searchEmployee" placeholder="Search..."/>
		</div>
		<div class="filter-wrap">
			<label class="label" for="searchRole">User&nbsp;role</label>
			<select name="searchRole" id="userrole" class="textbox"></select>
		</div>
		<div class="filter-wrap">
			<label class="label left-label" for="searchManager">Manager</label>
			<select name="searchManager" id="manager" class="textbox"></select>
		</div>
	</div>
	<div class="employee-filters_right">
		<!-- Hidden for now -->
		<!--div class="filter-wrap" style="display: none;">
			<label class="visibility-toggle terminatedToggle">
				<input type="checkbox" name="showTerminated" />
				<span class="longer">
					<i class="fa"></i>
					<span>Terminated &amp; system accounts<span class="count">(0)</span></span>
				</span>
			</label>
		</div-->
		<div class="filter-wrap">
			<label class="visibility-toggle retrieveTerminated">
				<input type="checkbox" name="retrieveTerminated" />
				<span class="longer">
					<i class="fa"></i>
					<span>Terminated &amp; system accounts</span>
				</span>
			</label>
		</div>
		<div class="filter-wrap">
			<label class="visibility-toggle newEmpToggle">
				<input type="checkbox" name="showNewEmployees" />
				<span class="longer">
					<i class="fa"></i>
					<span>New employees<span class="count">(0)</span></span>
				</span>
			</label>
		</div>
	</div>
	<div class="employee-filters_last">
		<a href="#employees-bulk-add" class="button bulk-add">
			<!--img src="https://storage.googleapis.com/proapp_static/img/icons/xlsx.png" height="24" /-->
			<i class="fa fa-plus"></i>
			Bulk Add
		</a>
	</div>
</div>

<div class="one-row">
	<div class="col col-12">
		<table class="sortable users-table table--fixed-body empSettings_users" style="width:100%;">
			<thead>
				<tr class="tablerow">
					<th>Employee name</th>
					<th>User role</th>
					<th>Manager&nbsp;name</th>
					<th>Visibility</th>
					<th>Report email</th>
					<th>Report frequency</th>
				</tr>
			</thead>
			<tbody></tbody>
			<tfoot style="box-shadow:0px -5px 6px -6px;">
				<tr>
					<td colspan="2" style="display:none;">
						<button class="button primary">Save changes</button>
						<button class="button gray">Cancel</button>
					</td>
					<td colspan="4" style="padding:16px; display:none;"><span class="remaining">...</span> out of <span class="seats">...</span> licenses left</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>