
<!-- xclass Attribute is required. Do not remove it. -->
<div class="one-row">
	<div class="wrap">
	<button class="nav-button back">Back</button>
	<div class="user-name-wrap">
		<div class="circle">
		<p>
			<!-- EN -->
		</p>
		</div>
		<p class="user-name">
		<!-- Employee Name -->
		</p>
	</div>
	</div>
	<!-- REMOVEING THESE TWO BEAUTIFUL AND PERFECTLY WORKING COUPLE OF BUTTONS BECAUSE SOMEONE DISLIKE THESE -->
	<button class="button red primary block">Hide User</button>
	<button class="button green primary block">Unhide User</button>
	<!-- -->
</div>

<div class="card-wrap">
	<form method="post" name="confCallingSettings">
		<div class="one-row">
			<div class="col col-6">
			<div class="wrap">
				<div class="input-wrap long-text floating">
				<label class="label left-label" for="userrole">User role</label>
				<select class="textbox leftlabel" name="userrole" id="userrole"></select>
				<input class="textbox leftlabel" type="text" name="userrolestatic" id="userrolestatic" value="" disabled="true">
				</div>
			</div>
			<div class="wrap">
				<div class="input-wrap long-text floating">
				<label class="label left-label" for="usermgr">Manager</label>
				<select class="textbox leftlabel" name="usermgr" id="usermgr"></select>
				<input class="textbox leftlabel" type="text" name="usermgrstatic" id="usermgrstatic" value="" disabled="true">
				</div>
			</div>
			<div class="wrap">
				<div class="input-wrap long-text floating">
				<label class="label left-label " for="visibility">Visibility</label>
				<select class="textbox leftlabel" name="visibility" id="visibility">
					<option value="1">Visible</option>
					<option value="-1">Hidden</option>
				</select>
				</div>
			</div>
			</div>
			<div class="col col-6">
			<div class="wrap">
				<div class="input-wrap long-text floating">
				<label class="label left-label " for="report_email">Report email</label>
				<input class="textbox leftlabel" type="email" name="report_email" />
				</div>
			</div>
			<div class="wrap">
				<div class="input-wrap long-text floating">
				<label class="label left-label " for="password">Report&nbsp;frequency</label>
				<label>
					<input type="checkbox" data-value="0"><span>Weekly</span></label>
				<span>&nbsp;</span>
				<label>
					<input type="checkbox" data-value="0"><span>Daily</span></label>
				</div>
			</div>
			<div class="wrap buttons long-text">
				<button class="primary button" style="float:right;">Save changes</button>
			</div>
			</div>
		</div>
	</form>
</div>

<div class="one-row" style="display:none;">
	<!--<div class="col col-6">-->
	<!--<table id="leaves" class="sortable" style="width: 100%">-->
	<!--<thead>-->
	<!--<tr class="tablerow">-->
	<!--<th>Unavailable Date</th>-->
	<!--<th>Description</th>-->
	<!--</tr>-->
	<!--</thead>-->
	<!--<tbody></tbody>-->
	<!--</table>-->
	<!--</div>-->
	<div class="col col-6">
	<div class="card-wrap">
		<h2 class="card-heading">Register leaves</h2>
		<form method="post" name="registerLeaves">
		<div class="form-wrap">
			<div class="wrap">
			<div class="input-wrap floating">
				<label class="label left-label" for="txtse"></label>
				<span class="btngroup">
				<button class="btngroup btn ">One day</button>
				<button class="btngroup btn active">Date range</button>
				</span>
			</div>
			</div>
			<div class="wrap">
			<div class="input-wrap floating">
				<label class="label left-label" for="from_date">Start date</label>
				<input class="textbox leftlabel" type="date" name="from_date" value="{{ today }}" disabled />
			</div>
			</div>
			<div class="wrap end-date">
			<div class="input-wrap floating">
				<label class="label left-label" for="to_date">End date</label>
				<input class="textbox leftlabel" type="date" name="to_date" value="{{ today }}" disabled />
			</div>
			</div>
			<div class="wrap">
			<div class="input-wrap floating">
				<label class="label left-label" for="message">Message</label>
				<textarea class="textbox leftlabel" type="date" name="message" placeholder="type here" disabled></textarea>
			</div>
			</div>
			<div class="wrap buttons">
			<button class="button primary" disabled>Submit</button>
			<!--button class="button gray">Cancel</button-->
			</div>
		</div>
		</form>
	</div>
	</div>
</div>