
<div class="one-row">
	<div class="col col-2"></div>
	<div class="col col-8">
		<div class="card-wrap">
			<h2 class="card-heading">User account</h2>
			<form method="post" name="userAccount">
				<input type="hidden" name="id" value="new" />
				<div class="form-wrap">
					<div class="wrap">
						<div class="input-wrap long-text floating">
							<label class="label left-label " for="fullname">Full name</label>
							<input class="textbox leftlabel" type="text" name="fullname" />
						</div>
					</div>
					<div class="wrap">
						<div class="input-wrap long-text floating">
							<label class="label left-label " for="role">User role</label>
							<select name="role" id="role" class="textbox leftlabel">
								<option value="70">Manager</option>
								<option value="80">Administrator</option>
								<option value="-1">Terminated</option>
							</select>
						</div>
					</div>
					<div class="wrap">
						<div class="input-wrap long-text floating">
							<label class="label left-label " for="email">Username</label>
							<input class="textbox leftlabel" type="text" name="email" />
						</div>
					</div>
					<div class="wrap">
						<div class="input-wrap long-text floating">
							<label class="label left-label " for="password">Password</label>
							<input class="textbox leftlabel" type="password" name="password" />
						</div>
					</div>
					<div class="wrap buttons long-text">
						<button class="button primary">Save</button>
						<button class="button red">Delete</button>
						<button class="button gray">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col col-2"></div>
</div>